@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600;700&display=swap&subset=cyrillic-ext");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a {
  color: inherit;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  min-width: 320;
}

body {
  line-height: 1;
  font-size: 18px;
  font-family: "Roboto Mono";
  color: #120410;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: "Roboto Mono";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body.lock {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  max-width: 1122px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 15px;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.ibg img {
  display: none;
}

.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 121%;
}
@media (max-width: 767.98px) {
  .title {
    text-align: center;
    font-size: 24px;
  }
}
@media (max-width: 767.98px) and (max-width: 1107px) {
  .title {
    font-size: calc(18px + 6 * ((100vw - 320px) / (787)));
  }
}

.text {
  line-height: 166%;
}

.link {
  color: #252b42;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.link span {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  line-height: 35px;
}
.link span:after {
  content: "";
  position: absolute;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #F877B0;
  bottom: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.link:hover {
  color: #F877B0;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}
.link:hover span:after {
  left: 0;
  width: 100%;
}
@media (max-width: 767.98px) {
  .link {
    font-size: 25px;
    font-weight: 700;
  }
}

.portfolio-page {
  background-color: #120410;
  position: relative;
  z-index: 2;
}
.portfolio-page__title {
  color: #FFFAFF;
  font-size: 64px;
  line-height: 121%;
}
@media (max-width: 1107px) {
  .portfolio-page__title {
    font-size: calc(30px + 34 * ((100vw - 320px) / (787)));
  }
}

.portfolio-post__container {
  position: relative;
  z-index: 2;
}
.portfolio-post__header {
  padding-bottom: 85px;
}
@media (max-width: 1107px) {
  .portfolio-post__header {
    padding-bottom: calc(45px + 40 * ((100vw - 320px) / (787)));
  }
}
.portfolio-post__title {
  color: #FFFAFF;
  font-size: 60px;
  line-height: 121%;
}
@media (max-width: 1107px) {
  .portfolio-post__title {
    font-size: calc(28px + 32 * ((100vw - 320px) / (787)));
  }
}
.portfolio-post__lines {
  display: -ms-grid;
  display: grid;
  gap: 30px;
}
@media (max-width: 1107px) {
  .portfolio-post__lines {
    gap: calc(10px + 20 * ((100vw - 320px) / (787)));
  }
}
@media (min-width: 767.98px) {
  .portfolio-post__lines {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
}

.lines__item {
  overflow: hidden;
}

.portfolio-post-big {
  padding-top: 93px;
  padding-bottom: 115px;
}
@media (max-width: 1107px) {
  .portfolio-post-big {
    padding-top: calc(25px + 68 * ((100vw - 320px) / (787)));
  }
}
@media (max-width: 1107px) {
  .portfolio-post-big {
    padding-bottom: calc(10px + 105 * ((100vw - 320px) / (787)));
  }
}
.portfolio-post-big__container {
  position: relative;
  z-index: 2;
}
.portfolio-post-big__header {
  padding-bottom: 85px;
}
@media (max-width: 1107px) {
  .portfolio-post-big__header {
    padding-bottom: calc(45px + 40 * ((100vw - 320px) / (787)));
  }
}
.portfolio-post-big__title {
  color: #FFFAFF;
  font-size: 60px;
  line-height: 121%;
}
@media (max-width: 1107px) {
  .portfolio-post-big__title {
    font-size: calc(28px + 32 * ((100vw - 320px) / (787)));
  }
}
.line__title {
  color: #FFFAFF;
  font-size: 30px;
  margin-bottom: 30px;
}
@media (max-width: 1107px) {
  .line__title {
    font-size: calc(22px + 8 * ((100vw - 320px) / (787)));
  }
}
.line__row {
  display: -ms-grid;
  display: grid;
  gap: 30px;
}
@media (max-width: 1107px) {
  .line__row {
    gap: calc(10px + 20 * ((100vw - 320px) / (787)));
  }
}
@media (min-width: 479.98px) {
  .line__row {
    -ms-grid-columns: 1fr 2fr;
    grid-template-columns: 1fr 2fr;
  }
}
.line__link {
  color: #FFFAFF;
  font-size: 20px;
}
@media (max-width: 1107px) {
  .line__link {
    font-size: calc(16px + 4 * ((100vw - 320px) / (787)));
  }
}
.now-block {
  background-color: #120410;
  position: relative;
  z-index: 2;
}
.now-block__title {
  color: #FFFAFF;
  font-size: 64px;
  line-height: 121%;
}
@media (max-width: 1107px) {
  .now-block__title {
    font-size: calc(30px + 34 * ((100vw - 320px) / (787)));
  }
}

.header {
  padding-top: 93px;
  padding-bottom: 30px;
  position: relative;
  z-index: 5;
}
@media (max-width: 1107px) {
  .header {
    padding-top: calc(10px + 83 * ((100vw - 320px) / (787)));
  }
}
@media (max-width: 1107px) {
  .header {
    padding-bottom: calc(15px + 15 * ((100vw - 320px) / (787)));
  }
}
.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  padding: 30px 0px;
  font-weight: 700;
  font-size: 18px;
  line-height: 125%;
  color: #FFFAFF;
  text-transform: uppercase;
}
.header__language label[for=lang] {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}
.header__language input {
  display: none;
}
#lang:not(:checked) ~ .header__language_eng, #lang:checked ~ .header__language_rus {
  color: #FFFAFF;
}
#lang:checked ~ .header__language_eng, #lang:not(checked) ~ .header__language_rus {
  color: #F877B0;
}
@media (max-width: 767.98px) {
  .menu__body {
    -webkit-transform: translate(-200%, 0px);
            transform: translate(-200%, 0px);
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    overflow: auto;
    padding: 60px 10px 30px 10px;
    background-color: #FFFAFF;
  }
  .menu__body.active {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 60px;
}
@media (max-width: 1107px) {
  .menu__list {
    gap: calc(20px + 40 * ((100vw - 320px) / (787)));
  }
}
@media (max-width: 767.98px) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 120px;
  }
}
.menu__link {
  line-height: 122%;
  color: #FFFFFF;
}
@media (max-width: 767.98px) {
  .menu__link {
    color: #000;
    font-size: 30px;
  }
}

.active {
  font-weight: 700;
}

.icon-menu {
  display: none;
}
@media (max-width: 767.98px) {
  .icon-menu {
    display: block;
    position: relative;
    width: 40px;
    height: 22.5px;
    cursor: pointer;
    z-index: 10;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }
  .icon-menu::before {
    top: 0px;
  }
  .icon-menu::after {
    bottom: 0px;
  }
  .icon-menu span {
    top: calc(50% - 1px);
  }
  .icon-menu.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
    background-color: #000;
  }
  .icon-menu.active::before {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
    background-color: #000;
  }
  .icon-menu.active::after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
    background-color: #000;
  }
}

.footer {
  padding-top: 83px;
  padding-bottom: 139px;
  position: relative;
  background: #120410;
  color: #FFFAFF;
}
@media (max-width: 1107px) {
  .footer {
    padding-top: calc(26px + 57 * ((100vw - 320px) / (787)));
  }
}
@media (max-width: 1107px) {
  .footer {
    padding-bottom: calc(50px + 89 * ((100vw - 320px) / (787)));
  }
}
.footer__body {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
}
@media (min-width: 479.98px) {
  .footer__body {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}
@media (max-width: 1107px) {
  .footer__body {
    gap: calc(20px + 30 * ((100vw - 320px) / (787)));
  }
}
.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 14px;
}
@media (max-width: 479.98px) {
  .footer__item {
    text-align: center;
  }
}
.footer__link {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .footer__link:hover {
    text-decoration: underline;
  }
}
.footer__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 10px;
  margin-top: 95px;
}
@media (max-width: 1107px) {
  .footer__button {
    margin-top: calc(30px + 65 * ((100vw - 320px) / (787)));
  }
}
.footer__up {
  cursor: pointer;
}
.footer__up::before {
  content: "";
  width: 20px;
  height: 20px;
  border: solid #F877B0;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .footer__up:hover::before {
    position: relative;
    -webkit-animation: arrow 2s infinite ease;
            animation: arrow 2s infinite ease;
  }
}

@keyframes arrow {
  0% {
    top: 0;
  }
  50% {
    top: 10px;
  }
  100% {
    top: 0;
  }
}
@-webkit-keyframes arrow {
  0% {
    top: 0;
  }
  50% {
    top: 10px;
  }
  100% {
    top: 0;
  }
}
.page {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.page__main {
  padding-top: 193px;
  padding-bottom: 240px;
}
@media (max-width: 1107px) {
  .page__main {
    padding-top: calc(150px + 43 * ((100vw - 320px) / (787)));
  }
}
@media (max-width: 1107px) {
  .page__main {
    padding-bottom: calc(50px + 190 * ((100vw - 320px) / (787)));
  }
}
.page__about {
  padding-top: 93px;
  padding-bottom: 115px;
}
@media (max-width: 1107px) {
  .page__about {
    padding-top: calc(25px + 68 * ((100vw - 320px) / (787)));
  }
}
@media (max-width: 1107px) {
  .page__about {
    padding-bottom: calc(10px + 105 * ((100vw - 320px) / (787)));
  }
}
.page__skills {
  padding-top: 93px;
  padding-bottom: 145px;
}
@media (max-width: 1107px) {
  .page__skills {
    padding-top: calc(25px + 68 * ((100vw - 320px) / (787)));
  }
}
@media (max-width: 1107px) {
  .page__skills {
    padding-bottom: calc(25px + 120 * ((100vw - 320px) / (787)));
  }
}
.page__portfolio {
  padding-top: 93px;
  padding-bottom: 145px;
}
@media (max-width: 1107px) {
  .page__portfolio {
    padding-top: calc(25px + 68 * ((100vw - 320px) / (787)));
  }
}
@media (max-width: 1107px) {
  .page__portfolio {
    padding-bottom: calc(25px + 120 * ((100vw - 320px) / (787)));
  }
}
.page__portfolio-page {
  padding-top: 193px;
  padding-bottom: 60px;
}
@media (max-width: 1107px) {
  .page__portfolio-page {
    padding-top: calc(80px + 113 * ((100vw - 320px) / (787)));
  }
}
@media (max-width: 1107px) {
  .page__portfolio-page {
    padding-bottom: calc(30px + 30 * ((100vw - 320px) / (787)));
  }
}
.page__portfolio-post {
  padding-top: 93px;
  padding-bottom: 145px;
}
@media (max-width: 1107px) {
  .page__portfolio-post {
    padding-top: calc(25px + 68 * ((100vw - 320px) / (787)));
  }
}
@media (max-width: 1107px) {
  .page__portfolio-post {
    padding-bottom: calc(25px + 120 * ((100vw - 320px) / (787)));
  }
}
.page__portfolio-post-big {
  padding-top: 93px;
  padding-bottom: 145px;
}
@media (max-width: 1107px) {
  .page__portfolio-post-big {
    padding-top: calc(25px + 68 * ((100vw - 320px) / (787)));
  }
}
@media (max-width: 1107px) {
  .page__portfolio-post-big {
    padding-bottom: calc(25px + 120 * ((100vw - 320px) / (787)));
  }
}
.page__now-block {
  padding-top: 193px;
  padding-bottom: 60px;
}
@media (max-width: 1107px) {
  .page__now-block {
    padding-top: calc(80px + 113 * ((100vw - 320px) / (787)));
  }
}
@media (max-width: 1107px) {
  .page__now-block {
    padding-bottom: calc(30px + 30 * ((100vw - 320px) / (787)));
  }
}

.main {
  height: 100vh;
}
.main__container {
  position: relative;
  z-index: 1;
}
@media (max-width: 767.98px) {
  .main__container {
    text-align: center;
  }
}
.main__content {
  color: #FFFAFF;
}
.main__textblock {
  padding-top: 145px;
}
@media (max-width: 1107px) {
  .main__textblock {
    padding-top: calc(70px + 75 * ((100vw - 320px) / (787)));
  }
}
.main__title {
  font-size: 64px;
  line-height: 121%;
}
@media (max-width: 1107px) {
  .main__title {
    font-size: calc(20px + 44 * ((100vw - 320px) / (787)));
  }
}
@media (max-width: 767.98px) {
  .main__title {
    font-weight: 400;
  }
}
.main__subtitle {
  padding-top: 26px;
  font-size: 24px;
  line-height: 121%;
}
@media (max-width: 1107px) {
  .main__subtitle {
    font-size: calc(13px + 11 * ((100vw - 320px) / (787)));
  }
}
.main__block {
  margin-top: 136px;
  padding-bottom: 240px;
  text-align: center;
}
@media (max-width: 1107px) {
  .main__block {
    margin-top: calc(61px + 75 * ((100vw - 320px) / (787)));
  }
}
@media (max-width: 1107px) {
  .main__block {
    padding-bottom: calc(50px + 190 * ((100vw - 320px) / (787)));
  }
}
.main__btn {
  font-size: 18px;
  display: inline-block;
  overflow: hidden;
  padding: 0px 42px;
  height: 47px;
  line-height: 44px;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0.67px;
  position: relative;
  color: #FFFAFF;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
@media (max-width: 1107px) {
  .main__btn {
    font-size: calc(13px + 5 * ((100vw - 320px) / (787)));
  }
}
.main__btn::before {
  content: "";
  position: absolute;
  height: 85px;
  width: 40px;
  opacity: 0.2;
  top: -20px;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-transform: rotate(35deg) scale(1, 1);
          transform: rotate(35deg) scale(1, 1);
  -webkit-animation: swipe 1.5s infinite;
          animation: swipe 1.5s infinite;
}
.main__btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 1;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}
@media (any-hover: hover) {
  .main__btn:hover::before {
    -webkit-animation: none;
            animation: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-transform: scale(0.9, 0.9);
            transform: scale(0.9, 0.9);
  }
  .main__btn:hover::after {
    opacity: 0;
    -webkit-transform: scale(0.2, 0.2);
            transform: scale(0.2, 0.2);
  }
}
.main__image {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.main-ibg::before {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 2px solid #F877B0;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: ring 2.5s infinite;
          animation: ring 2.5s infinite;
}
.main-ibg::after {
  content: "";
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 2px solid #F877B0;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: ring 1.8s infinite;
          animation: ring 1.8s infinite;
}

@-webkit-keyframes swipe {
  0% {
    left: -75px;
    -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  }
  100% {
    left: 120%;
    -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  }
}

@keyframes swipe {
  0% {
    left: -75px;
    -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  }
  100% {
    left: 120%;
    -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  }
}
@-webkit-keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 400px;
    height: 400px;
    opacity: 0;
  }
}
@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 400px;
    height: 400px;
    opacity: 0;
  }
}
.about {
  position: relative;
  background: #FFFAFF;
}
.about__title-block {
  margin-bottom: 76px;
}
@media (max-width: 1107px) {
  .about__title-block {
    margin-bottom: calc(30px + 46 * ((100vw - 320px) / (787)));
  }
}
.about__text {
  text-align: justify;
}
.about__text:not(:last-child) {
  margin-bottom: 24px;
}

.skills {
  position: relative;
  background: #120410;
  color: #FFFAFF;
}
.skills__title-block {
  margin-bottom: 86px;
}
@media (max-width: 1107px) {
  .skills__title-block {
    margin-bottom: calc(30px + 56 * ((100vw - 320px) / (787)));
  }
}
.skills__content {
  display: -ms-grid;
  display: grid;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 125px;
}
@media (max-width: 1107px) {
  .skills__content {
    gap: calc(20px + 105 * ((100vw - 320px) / (787)));
  }
}
@media (min-width: 767.98px) {
  .skills__content {
    -ms-grid-columns: 31% 57%;
    grid-template-columns: 31% 57%;
  }
}
@media (max-width: 767.98px) {
  .skills__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.skills__image {
  position: relative;
  padding-bottom: 350px;
  border-radius: 50%;
}
@media (max-width: 767.98px) {
  .skills__image {
    padding-bottom: 540px;
  }
}
@media (max-width: 767.98px) and (max-width: 1107px) {
  .skills__image {
    padding-bottom: calc(290px + 250 * ((100vw - 320px) / (787)));
  }
}
.skills__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: center;
     object-fit: center;
}
.row-skills__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 66px;
  margin-bottom: 20px;
}
@media (max-width: 1107px) {
  .row-skills__body {
    gap: calc(10px + 56 * ((100vw - 320px) / (787)));
  }
}
@media (max-width: 1107px) {
  .row-skills__body {
    margin-bottom: calc(10px + 10 * ((100vw - 320px) / (787)));
  }
}
.row-skills__body:first-child {
  margin-bottom: 66px;
}
@media (max-width: 1107px) {
  .row-skills__body:first-child {
    margin-bottom: calc(20px + 46 * ((100vw - 320px) / (787)));
  }
}
@media (max-width: 991.98px) {
  .row-skills__body {
    font-size: 16px;
  }
}
@media (max-width: 767.98px) {
  .row-skills__body {
    font-size: 14px;
  }
}
.row-skills__title {
  font-weight: 600;
  line-height: 138%;
  width: 123px;
}
@media (max-width: 1107px) {
  .row-skills__title {
    width: calc(90px + 33 * ((100vw - 320px) / (787)));
  }
}
.row-skills__text {
  line-height: 138%;
  width: 446px;
}
@media (max-width: 1107px) {
  .row-skills__text {
    width: calc(200px + 246 * ((100vw - 320px) / (787)));
  }
}
.row-skills__progress {
  width: 446px;
}
@media (max-width: 1107px) {
  .row-skills__progress {
    width: calc(200px + 246 * ((100vw - 320px) / (787)));
  }
}
.row-skills__progress progress {
  width: 100%;
  height: 24px;
}
.row-skills__progress progress::-webkit-progress-bar {
  width: 100%;
  background-color: #FFFAFF;
}
.row-skills__progress progress::-webkit-progress-value {
  background-color: #F877B0;
}
.row-skills__progress progress::-moz-progress-bar {
  width: 100%;
  background-color: #FFFAFF;
}
.row-skills__progress progress[value] {
  background-color: #F877B0;
}

.portfolio {
  position: relative;
  background-color: transparent;
  color: #FFFAFF;
}
.portfolio__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
.portfolio__title-block {
  margin-bottom: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1107px) {
  .portfolio__title-block {
    margin-bottom: calc(20px + 28 * ((100vw - 320px) / (787)));
  }
}
.portfolio__view-all {
  font-size: 18px;
  color: #FFFAFF;
}
@media (max-width: 1107px) {
  .portfolio__view-all {
    font-size: calc(13px + 5 * ((100vw - 320px) / (787)));
  }
}
.portfolio__content {
  display: -ms-grid;
  display: grid;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 125px;
}
@media (max-width: 1107px) {
  .portfolio__content {
    gap: calc(10px + 115 * ((100vw - 320px) / (787)));
  }
}
@media (min-width: 991.98px) {
  .portfolio__content {
    -ms-grid-columns: 1fr 2fr;
    grid-template-columns: 1fr 2fr;
  }
}
.portfolio__text {
  text-align: justify;
}
.portfolio__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 26px;
}
@media (max-width: 1107px) {
  .portfolio__body {
    gap: calc(10px + 16 * ((100vw - 320px) / (787)));
  }
}
.portfolio__slider {
  max-width: 635px;
}
@media (max-width: 1107px) {
  .portfolio__slider {
    max-width: calc(290px + 345 * ((100vw - 320px) / (787)));
  }
}
.portfolio__arrows {
  position: relative;
  top: 10px;
}
@media (max-width: 991.98px) {
  .portfolio__arrows {
    display: none;
  }
}
.portfolio__arrow {
  position: absolute;
  color: #FFFAFF;
}

.portfolio-item {
  overflow: hidden;
  text-align: center;
  background-color: #120410;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-box-shadow: 0px 5px 5px rgba(10, 10, 10, 0.5);
          box-shadow: 0px 5px 5px rgba(10, 10, 10, 0.5);
}
@media (max-width: 991.98px) {
  .portfolio-item {
    height: 390px;
  }
}
@media (max-width: 991.98px) and (max-width: 1107px) {
  .portfolio-item {
    height: calc(250px + 140 * ((100vw - 320px) / (787)));
  }
}
@media (any-hover: hover) {
  .portfolio-item:hover {
    -webkit-box-shadow: 10px 10px 10px rgba(187, 225, 250, 0.25);
            box-shadow: 10px 10px 10px rgba(187, 225, 250, 0.25);
  }
  .portfolio-item:hover .portfolio-item__image {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
    opacity: 0.3;
  }
}
.portfolio-item__image {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  padding-bottom: 350px;
  display: block;
}
@media (max-width: 991.98px) {
  .portfolio-item__image {
    padding-bottom: 350px;
  }
}
@media (max-width: 991.98px) and (max-width: 1107px) {
  .portfolio-item__image {
    padding-bottom: calc(210px + 140 * ((100vw - 320px) / (787)));
  }
}
.portfolio-item__link {
  color: #FFFAFF;
  display: block;
  padding: 10px 0px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.swiper-button-prev {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  width: 15px;
  height: 24px;
}

.swiper-button-next {
  -webkit-transform: rotate(0deg) translateX(-260px);
          transform: rotate(0deg) translateX(-260px);
  width: 15px;
  height: 24px;
}
@media (max-width: 1122px) {
  .swiper-button-next {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 24px;
}