<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<link rel="stylesheet" href="../css/service.css"/>
</head>
<body>
<script src="../js/constants.js"></script>
<script src="../js/service.js"></script>
<script src="../js/testres.service.js"></script>
<SCRIPT>
localStorage_removeItem(CSLASTTREEHIGHT);
localStorage_removeItem(lastSearchString);
localStorage_removeItem(AUTHORIZE);
localStorage_removeItem(CSPENDINGQUESTIONS);

// инициализация книги
var InitData=
{
  title: "{{BookTitle}}",
  bookId: "{{BookID}}",
  timestamp: "{{TimeStamp}}",
  chapters: {{{JSData}}},
  minTime: "{{JSMinTime}}",
};
initBook(InitData);
// инициализация тестов
var testList = {{{JSTestList}}};
initTestList(testList);

// Переход к книге.
// Определение адреса перехода.
// (объекты из локального хранилища уже прочитаны и инициализированы)
if (userGeneral.lastChapterId && userGeneral.lastChapterId in book.chapters) {
  // переход на последнюю сохраненную главу
  location.assign(userGeneral.lastChapterId + ".html");
} else {
  // переход на первую главу
  var id = getFirstChapterId();
  if (id) {
    location.href = id + ".html"; // переход на первую главу
  } else {
    showMessage("Не найдена первая глава", mtError);
  }
}
</SCRIPT>
</body>
</html>