<!DOCTYPE html>
<html>
<head>
  <title>{{BookTitle}}:{{ChapterTitle}}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name=GENERATOR content="VS BookEditor">
  <meta name=keywords content="{{ChapterKeywords}}">
  <meta name=description content="{{BookAnnouncement}}">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Expires" content="0">
  <meta name="viewport" content="width=device-width, initial-scale=0.9">
  <!-- Table of contents CSS BEGIN -->
  <link rel="stylesheet" href="../css/bootstrap.min.css"/>
  <link rel="stylesheet" href="../js/jstree/style.min.css"/>
  <link rel="stylesheet" href="../js/djvu/djvu_viewer.css"/>
  <link rel="stylesheet" href="../css/service.css"/>
  <link rel="stylesheet" href="../css/hint.css"/>
  <link rel="stylesheet" href="../js/photo-sphere-viewer/photo-sphere-viewer.css"/>
  <link rel="stylesheet" href="../js/photo-sphere-viewer/plugins/video.css"/>
  <link rel="stylesheet" href="../css/book.css" />
  <style>
    .tree {
       width: 100%;
    }
    .jstree-anchor {
      white-space : normal !important;
      height : auto !important;
      padding-right : 24px;
    }
  </style>

  <style>
    {{{BookCSS}}}
  </style>
  
  <style>
    {{{ChapterCSS}}}
  </style>
  <!-- Table of contents CSS END -->
  
</head>
<body onload="onWindowLoad()" onunload="onWindowUnload()">
  <div class="container-fluid d-flex flex-column">
  
    <!-- Заголовок курса BEGIN -->
    <div id="id_course_header" class="row mb-sm-3">
      <div class="col-sm-12">
        <h1>{{BookTitle}}</h1>
      </div>
    </div>
    <!-- Заголовок курса END -->

    <!-- Поиск, меню BEGIN -->
    <div id="id_search" class="mb-sm-1 my-serach-box">

      <!-- Скрытие/показ оглавления BEGIN -->
      <div>
        <a href="javascript:void(0)" id="showTOC" onclick="setShowTabOfCont()" title="Скрыть/показать оглавление">&#9668;</a>
      </div>
      <!-- Скрытие/показ оглавления END -->

      <!-- Уровень сложности BEGIN -->
      <div style="width: 200px;">
        <div class="dropdown">
          <button aria-expanded="false" aria-haspopup="true" class="btn dropdown-toggle" data-toggle="dropdown" id="difficulty_menu_id" title="Нажмите, чтобы изменить уровень сложности" type="button">
            Сложность
          </button>
          <div aria-labelledby="difficulty_menu_id" class="dropdown-menu">
            <button class="dropdown-item" onclick="onDifficultyChange(3)" type="button">Достаточная</button>
            <button class="dropdown-item" onclick="onDifficultyChange(4)" type="button">Повышенная</button>
            <button class="dropdown-item" onclick="onDifficultyChange(5)" type="button">Высокая</button>
          </div>
        </div>
      </div>
      <!-- Уровень сложности END -->

      <!-- Поиск BEGIN -->
      <div class="search">
        <input class="form-control" id="search_box" type="text" placeholder="Поиск"/>
        <img src="../img/search.png">
      </div>
      <!-- Поиск END -->

      <!-- Ночной режим BEGIN -->
      <div>
        <div class="form-check" id="night_mode">
          <input class="form-check-input" id="night_mode_id" onclick="setNightMode()" type="checkbox" title="Включите, чтобы читать в темноте"/>
          <label class="form-check-label" for="night_mode_id" title="Включите, чтобы читать в темноте">Ночной режим</label>
        </div>
      </div>
      <!-- Ночной режим END -->

      <!-- Меню заметка BEGIN -->
      <div>
        <div class="dropdown">
          <button aria-expanded="false" aria-haspopup="true" class="btn dropdown-toggle" data-toggle="dropdown" id="note_menu_id" type="button" title="Нажмите, чтобы добавить текстовый комментарий">
            Заметка
          </button>
          <div class="dropdown-menu" aria-labelledby="note_menu_id">
            <button class="dropdown-item" href="javascript:void(0)" onclick="createNote()" type="button">Добавить</button>
            <button class="dropdown-item" href="javascript:void(0)" onclick="listNotes()" type="button">Просмотреть все</button>
            <hr>
            <button class="dropdown-item" href="javascript:void(0)" onclick="exportNotes()" type="button">Экпортировать</button>
            <button class="dropdown-item" href="javascript:void(0)" onclick="importNotes()" type="button">Импортировать</button>
          </div>
        </div>
      </div>
      <!-- Меню заметка END -->

      <!-- Меню закладка BEGIN -->
      <div>
        <div class="dropdown">
          <button class="btn dropdown-toggle" type="button" id="bookmark_menu_id" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Нажмите, чтобы добавить закладку">
            Закладка
          </button>
          <div class="dropdown-menu" aria-labelledby="bookmark_menu_id">
            <button class="dropdown-item" type="button" onclick="createBookmark()">Добавить</button>
            <button class="dropdown-item" type="button" onclick="deleteBookmark()">Удалить</button>
            <button class="dropdown-item" type="button" onclick="listBookmarks()">Просмотреть все</button>
          </div>
        </div>
      </div>
      <!-- Меню закладка END -->

      <!-- Озвучить BEGIN -->
      <div>
        <button id="speakBtn" class="btn" type="button" onclick="speakSelectionText()" title="Озвучить выделенный текст">Озвучить</button>
      </div>
      <!-- Озвучить END -->

      <!-- Кнопки вызова справки и записи на консультацию BEGIN -->
      <div style="padding:0;margin:0;">
        <nobr>
          <button class="btn" style="margin:0;padding:0;" type="button" onclick="showPPS('{{JSppslink}}')"><img src="../img/consult.png" width=30 title="Записаться на консультацию"></button>
          <button class="btn" style="margin:0;padding:0;" type="button" onclick="showHelp()"><img src="../img/help.png" width=30 title="Справка"></button>
          <button class="btn" style="margin:0;padding:0;" type="button" onclick="showGlossary()"><img src="../img/glossary.png" title="Глоссарий" width="30"/></button>
        </nobr>
      </div>
      <!-- Кнопки вызова справки и записи на консультацию END -->

    </div>
    <!-- Поиск, меню END -->

    <div class="my-content-block">
      <!-- Курс: содержание, содержимое BEGIN -->
      <div class="mb-sm-1 d-flex flex-row my-content-block-text">

        <!-- Содержание BEGIN -->
        <div class="mr-1 ml-1 my-book-begin" id="tab_of_cont">
          <div id="id_contents" class="card border-info h-100">
            <div class="w-100 h-100 d-flex flex-column">
              <ul class="nav nav-tabs" id="contentsTabs" role="tablist">
                <li class="nav-item my-li flex-grow-1">
                  <a class="nav-link my-a active" id="book-contents-tab" data-toggle="tab" href="#book-contents" role="tab"
                    aria-controls="book-contents" aria-selected="true" onclick="onTabChange()">Содержание</a>
                </li>
                <li class="nav-item my-li flex-grow-1">
                  <a class="nav-link my-a " id="termins-tab" data-toggle="tab" href="#termins" role="tab"
                    aria-controls="termins" aria-selected="false" onclick="onTabChange()">Тематический указатель</a>
                </li>
                <li class="nav-item my-li flex-grow-1">
                  <a class="nav-link my-a " id="authors-tab" data-toggle="tab" href="#authors" role="tab"
                    aria-controls="authors" aria-selected="false" onclick="onTabChange()">Именной указатель</a>
                </li>
              </ul>
              <div class="tab-content mt-2" id="tabContent">
                <div class="tab-pane fade show mt-1 my-tab-contents active" id="book-contents" role="tabpanel"
                  aria-labelledby="book-contents-tab">
                  <div id="jstree" class="tree"></div>
                </div>
                <div class="tab-pane fade mt-1 my-tab-contents" id="termins" role="tabpanel" aria-labelledby="termins-tab">
                  <div id="jstermtree" class="tree"></div>
                </div>
                <div class="tab-pane fade mt-1 my-tab-contents" id="authors" role="tabpanel" aria-labelledby="authors-tab">
                  <div id="jsauthortree" class="tree"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Содержание END -->

        <!-- Содержимое главы BEGIN -->
        <div class="mr-1 flex-grow-1" id="content" style="width: 50%; height: auto;">
          <div class="card border-info" id="contentCard" style="height: 100%">
            <div class="card-header" id="chapterTitle" style="display: none">{{ChapterTitle}}</div>
            {{#headerVisible}}
            <ul class="list-group list-group-flush">
              <!-- Верхние колонтитулы: главы и курса/книги -->
              <li class="list-group-item">
                <div class="container-fluid">
                  <div class="d-flex">
                    <!-- Верний колонтитул главы -->
                    <div class="flex-grow-1" id="chapterHeader">{{{ChapterHeader}}}</div>
                    <!-- Верхний колонтитул курса/книги -->
                    <div class="flex-grow-1" id="bookHeader">{{{BookHeader}}}</div>
                  </div>
                </div>
              </li>
            </ul>
            {{/headerVisible}}
            <div id="cbody" style="overflow: auto;">
              <div id="cardBody">
                {{{ChapterHtml}}}
              </div>
            </div>
              <div
                class="card-footer bg-transparent border-info"
                style="display: none"
                id="bookFooter"
              >
              <!-- Нижний колонтитул курса/книги -->
              {{{BookFooter}}}
            </div>
          </div>
        </div>
        <!-- Содержимое главы END -->
      
      </div>
      <!-- Курс: содержание, содержимое END -->

      <!-- Масштаб, навигационная панель BEGIN -->
        <div id="id_bottom_bar" class="d-flex justify-content-end my-content-block-footer">
          <button class="btn btn-outline-primary" type="button" onClick="goPrevPage()">Предыдущая страница</button>
          <input class="form-control" id="page_box_id" type="number" min="1" onchange="onPageChange()" oninput="onPageChange()" style="width:6em;" data-placement="top" title="Введите номер страницы, чтобы перейти на нее"/>
          <button class="btn btn-outline-primary" type="button" onClick="goPageByNum()">На страницу</button>
          <button class="btn btn-outline-primary" type="button" onClick="goNextPage()">Следующая страница</button>
        </div>
      <!-- Масштаб, навигационная панель END -->
    </div>
  </div>

  <!-- Скрипты BEGIN -->
  <SCRIPT>
    var selChapterId='{{ChapterID}}';
    var PPSLINK = "{{JSppslink}}";
  </script>
  <script src="../js/jquery.min.js"></script>
  <script src="../js/jstree/jstree.min.js"></script>
  <script src="../js/bootstrap.bundle.min.js"></script>
  <script src="../js/three/three.min.js"></script>
  <script src="../js/three/chevrotain.min.js"></script>
  <script src="../js/three/inflate.min.js"></script>
  <script src="../js/three/ColladaLoader.js"></script>
  <script src="../js/three/FBXLoader.js"></script>
  <script src="../js/three/OBJLoader.js"></script>
  <script src="../js/three/TDSLoader.js"></script>
  <script src="../js/three/VRMLLoader.js"></script>
  <script src="../js/three/OrbitControls.js"></script>
  <script src="../js/three/TrackballControls.js"></script>
  <script src="../js/tiff.js"></script>
  <script src="../js/pdf/pdf.min.js"></script>
  <script src="../js/djvu/djvu.js"></script>
  <script src="../js/djvu/djvu_viewer.js"></script>
  <script src="../js/jsibox.js"></script>
  <script src="../js/shumway/shuobject.js"></script>
  <script src="../js/constants.js"></script>
  <script src="../js/service.js"></script>
  <script src="../js/testres.service.js"></script>
  <script src="../js/senddata.js"></script>
  <script src="../js/tex-mml-chtml.js"></script>
  <script src="../js/mark.min.js"></script>
  <script src="../js/jquery.rwdImageMaps.min.js"></script>  
  <script src="../js/circletype.min.js"></script>
  <script src="../js/browser.js"></script>
  <script src="../js/photo-sphere-viewer/photo-sphere-viewer.js"></script> 
  <script src="../js/photo-sphere-viewer/adapters/equirectangular-video.js"></script>
  <script src="../js/photo-sphere-viewer/plugins/video.js"></script>
  <SCRIPT>
    // Запрет отладки
    loadModule({{JSNoDebug}}, '../js/nodebug_tools.js');
	
    function gotoAddr(data)
    {
        if (data.event)
        {
          var href=data.instance.get_node(data.node).a_attr.href;
          if (href=="") return;
          if (allowTrans(nodeIdFromURL(href)))
          {
            if (userGeneral.lastTab==TAB_TERMINS)
            {
              // запомнить последний выделенный термин
              var tree=$("#jstermtree").jstree();
              var parent=tree.get_parent(data.node);
              var parentNode=tree.get_node(parent);
              userGeneral.lastItem=parentNode.text;
            }
            saveGeneralParams();
            let state = $("#jstree").jstree(true).get_state();
            let str = "";
            if (state) {
              let a = state.core.open;
              if (a.length) {
                str = "?" + a.join("&");
              }
            }
            window.location = href + str;
          }
          else
          {
            // выделить текущий узел
            $("#jstree").jstree().deselect_all(true);
            $('#jstree').jstree('select_node',nodeIdFromURL(window.location.pathname));
          }
        }
    }
    function processSelChapter()
    {
      $('#jstree').jstree('select_node', selChapterId);
      setTimeout(()=>{
          $('#jstree').jstree().get_node(selChapterId, true).children('.jstree-anchor').focus();
      }, 300);
      let elem=document.getElementById(selChapterId);
      if (elem) setNightModeElem(elem);
    }
    // инициализация книги
    var InitData=
    {
      title: "{{BookTitle}}",
      bookId: "{{BookID}}",
      chapters: {{{JSData}}},
      author: "{{JSAutor}}",
      minTime: "{{JSMinTime}}",
      allowChapters: "{{JSTransitionChapters}}",
      nocopy: "{{JSNoCopy}}"
    };
    initBook(InitData);
    var testList = {{{JSTestList}}};
    initTestList(testList);
    // удаление исходных вопросов
    localStorage_removeItem(questionSourceList);
    // области изображений
    $(document).ready(function(e) {
      $('img[usemap]').rwdImageMaps();
    });
    $("#scale_box_id").on('change', function(e) {
      $('img[usemap]').rwdImageMaps();
    });
    // оглавление
    $('#jstree').jstree({
      "plugins": ["types","search"],
      "search":{"case_sensitive":false,"show_only_matches":false},
      "types":
      {
        "folder": {"icon": "jstree-icon jstree-folder"},
        "file": {"icon": "jstree-icon jstree-file"}
      },
      "core" :
      {
        "check_callback": true,
        "themes":
        {
          "dots" :false,"responsive" :true,"stripes":false,"icons":true
        },
        "data" : InitData.chapters
      } 
    });
    $('#jstree').on('changed.jstree', function (e, data)
    {
      gotoAddr(data);
    });
    $('#jstree').on('loaded.jstree', function()
    {
      processSelChapter();
    });
    $('#jstree').on('open_node.jstree', function (e, data)
    {
      restoreTreeState();
    });
    // термины
    $('#jstermtree').jstree({
      "plugins": ["types","search"],
      "search":{"case_sensitive":false,"show_only_matches":false},
      "types":
      {
        "folder": {"icon": "jstree-icon jstree-folder"},
        "file": {"icon": "jstree-icon jstree-file"}
      },
      "core" :
      {
        "themes":
        {
          "dots" :false,"responsive" :true,"stripes":false,"icons":true
        },
        "data" : {{{JSTermData}}}
      } 
    });
    $('#jstermtree').on('changed.jstree', function (e, data)
    {
      gotoAddr(data);
    });
    // именной указатель
    $('#jsauthortree').jstree({
      "plugins": ["types","search"],
      "search":{"case_sensitive":false,"show_only_matches":false},
      "types":
      {
        "folder": {"icon": "jstree-icon jstree-folder"},
        "file": {"icon": "jstree-icon jstree-file"}
      },
      "core" :
      {
        "themes":
        {
          "dots" :false,"responsive" :true,"stripes":false,"icons":true
        },
        "data" : {{{JSNameData}}}
      } 
    });
    $('#jsauthortree').on('changed.jstree', function (e, data)
    {
      if (data.event)
      {
        var elem=document.getElementById("cardBody");
        if (elem)
        {
          var nodeData=data.instance.get_node(data.selected[0]);
          var html="Публикации автора: " + nodeData.text + "<br><br>";
          if (nodeData.a_attr.publication!="")
            html=html+nodeData.a_attr.publication;
          else
            html=html+"Публикации отсутствуют";
          elem.innerHTML=html;
          curChapterId="authors";
        }
      }
    });
    // поиск
    $("#jstree").bind('ready.jstree', function() 
    {
        $($("#jstree").jstree().get_json($("#jstree"), 
        {
            flat: true
        }))
        .each(function(index, value) 
        {
            processTreeNode(value);
        });
        changeDifficulty(book.curDifficulty);
        restoreTreeState();
        const arr = window.location.search.slice(1).split("&");
        const len = arr.length;
        if (len > 1) {
          for (let i = 0; i < len; i++) {
          const e = arr[i];
            if (e) {
              $("#jstree").jstree(true).open_node($("#" + e), () => {
                if (i === len - 1) {
                  processSelChapter();
                }
              });
            }
          }
        } else {
          processSelChapter();
        }
    });	
    $('#search_box').keyup(function (e)
    {
      let v = $('#search_box').val();
      globalSearch(v);
      if(e.keyCode === 13) {
        searhOnEnter(v);
      }
    });

    // Включение обработки перехода по ссылкам на последующие главы курса в случае,
    // если установлена опция "Последовательный переход между главами" в свойствах книги.
    enableAllowTransUrls();
    // Включение контекстного меню для содержания книги
    enableContextMenu();
  </script>
  <script src="../js/book_handlers.js"></script>
  <!-- Скрипты END -->

</body>
</html>