@font-face {
	font-family: "Yeseva One";
	src: url("./YesevaOne-Regular.eot"); /* IE9 Compat Modes */
	src: url("./YesevaOne-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		url("./YesevaOne-Regular.otf") format("opentype"), /* Open Type Font */
		url("./YesevaOne-Regular.svg") format("svg"), /* Legacy iOS */
		url("./YesevaOne-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
		url("./YesevaOne-Regular.woff") format("woff"), /* Modern Browsers */
		url("./YesevaOne-Regular.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}