@font-face {
    font-family: 'TT Trailers Trial';
    src: url('TTTrailersTrial-Bold.eot');
    src: local('TT Trailers Trial Bold'), local('TTTrailersTrial-Bold'),
        url('TTTrailersTrial-Bold.eot?#iefix') format('embedded-opentype'),
        url('TTTrailersTrial-Bold.woff2') format('woff2'),
        url('TTTrailersTrial-Bold.woff') format('woff'),
        url('TTTrailersTrial-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TT Trailers Trial';
    src: url('TTTrailersTrial-Thin.eot');
    src: local('TT Trailers Trial Thin'), local('TTTrailersTrial-Thin'),
        url('TTTrailersTrial-Thin.eot?#iefix') format('embedded-opentype'),
        url('TTTrailersTrial-Thin.woff2') format('woff2'),
        url('TTTrailersTrial-Thin.woff') format('woff'),
        url('TTTrailersTrial-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'TT Trailers Trial';
    src: url('TTTrailersTrial-ExtraBold.eot');
    src: local('TT Trailers Trial ExtraBold'), local('TTTrailersTrial-ExtraBold'),
        url('TTTrailersTrial-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('TTTrailersTrial-ExtraBold.woff2') format('woff2'),
        url('TTTrailersTrial-ExtraBold.woff') format('woff'),
        url('TTTrailersTrial-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'TT Trailers Trial';
    src: url('TTTrailersTrial-Regular.eot');
    src: local('TT Trailers Trial Regular'), local('TTTrailersTrial-Regular'),
        url('TTTrailersTrial-Regular.eot?#iefix') format('embedded-opentype'),
        url('TTTrailersTrial-Regular.woff2') format('woff2'),
        url('TTTrailersTrial-Regular.woff') format('woff'),
        url('TTTrailersTrial-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Trailers Trial';
    src: url('TTTrailersTrial-Light.eot');
    src: local('TT Trailers Trial Light'), local('TTTrailersTrial-Light'),
        url('TTTrailersTrial-Light.eot?#iefix') format('embedded-opentype'),
        url('TTTrailersTrial-Light.woff2') format('woff2'),
        url('TTTrailersTrial-Light.woff') format('woff'),
        url('TTTrailersTrial-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'TT Trailers Trial';
    src: url('TTTrailersTrial-ExtraLight.eot');
    src: local('TT Trailers Trial ExtraLight'), local('TTTrailersTrial-ExtraLight'),
        url('TTTrailersTrial-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('TTTrailersTrial-ExtraLight.woff2') format('woff2'),
        url('TTTrailersTrial-ExtraLight.woff') format('woff'),
        url('TTTrailersTrial-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'TT Trailers Trial';
    src: url('TTTrailersTrial-Medium.eot');
    src: local('TT Trailers Trial Medium'), local('TTTrailersTrial-Medium'),
        url('TTTrailersTrial-Medium.eot?#iefix') format('embedded-opentype'),
        url('TTTrailersTrial-Medium.woff2') format('woff2'),
        url('TTTrailersTrial-Medium.woff') format('woff'),
        url('TTTrailersTrial-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Trailers Trial ExtraBlack';
    src: url('TTTrailersTrial-ExtraBlack.eot');
    src: local('TT Trailers Trial ExtraBlack'), local('TTTrailersTrial-ExtraBlack'),
        url('TTTrailersTrial-ExtraBlack.eot?#iefix') format('embedded-opentype'),
        url('TTTrailersTrial-ExtraBlack.woff2') format('woff2'),
        url('TTTrailersTrial-ExtraBlack.woff') format('woff'),
        url('TTTrailersTrial-ExtraBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'TT Trailers Trial';
    src: url('TTTrailersTrial-Black.eot');
    src: local('TT Trailers Trial Black'), local('TTTrailersTrial-Black'),
        url('TTTrailersTrial-Black.eot?#iefix') format('embedded-opentype'),
        url('TTTrailersTrial-Black.woff2') format('woff2'),
        url('TTTrailersTrial-Black.woff') format('woff'),
        url('TTTrailersTrial-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

