@font-face {
    font-family: 'Ekibastuz';
	src: url('./ekibastuz-light.woff') format('woff'),
		url('./ekibastuz-light.woff2') format('woff2'),
		url('./ekibastuz-light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
	font-family: 'Ekibastuz';
	src: url('./ekibastuz-regular.woff') format('woff'),
		url('./ekibastuz-regular.woff2') format('woff2'),
		url('./ekibastuz-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
	font-family: 'Ekibastuz';
	src: url('./ekibastuz-bold.woff') format('woff'),
		url('./ekibastuz-bold.woff2') format('woff2'),
		url('./ekibastuz-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
	font-family: 'Ekibastuz';
	src: url('./ekibastuz-black.woff') format('woff'),
		url('./ekibastuz-black.woff2') format('woff2'),
		url('./ekibastuz-black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}