.my-a {
  white-space: pre-line;
  text-align: center;
}

.my-tab-contents {
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

#jstree,
#jstermtree,
#jsauthortree {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.my-li {
  height: auto;
  width: 150px;
}

#tabContent {
  height: 100px;
  flex-grow: 1;
  padding-bottom: .5rem;
}


.my-book-begin {
  max-width: 20%;
  height: auto;
}

.my-serach-box {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

p {
  margin-bottom: 0 !important
}

.container-fluid {
  height: 100%;
  overflow: auto;
}

body {
  height: 100% !important;
  overflow: hidden;
  padding-bottom: 1rem;
}

.my-content-block {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.my-content-block-text {
  flex-grow: 1;
  height: 300px;
}

.my-content-block-footer {
  flex-grow: 0;
}

#xbody {
  padding-right: .5rem !important;
}

.jstree-themeicon-custom {
  background-size: contain !important;
}