/* общее */
.card-body div,
.card-body img,
.card-body control
{
  max-width: 100%;
}
#codeEditorID div
{
  max-width: none;
  height: inherit;
}
a:visited
{
  color: #900060;
}
/* Подчеркивать гиперссылки всегда: даже в случае, если на ссылку не наведен курсор мыши */
a {
  text-decoration: underline;
}

/* модальные окна */
.modal_main
{
  display: none;
}
.modal_background
{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  color: #000000;
  z-index: 90000;
}
.modal_content
{
  position: fixed;
  border-radius: 15px;
  box-shadow: 0 13px 21px rgba(0,1,0,.19),0 21px 63px rgba(0,1,0,.31);
  background-color: #c0c0c0;
  padding: 20px;
  border: 1px solid #888;
  z-index: 99999;
}
.modal_content_center
{
  left:25%;
  top:25%;
  right:25%;
  height:25%;
  min-width:250px;
  min-height:250px;
}
.modal_content_left
{
  text-align:center;
  left:5%;
  right:30%;
  top:30%;
  bottom:30%;
}
.modal_content_right
{
  text-align:center;
  left:70%;
  right:5%;
  top:30%;
  bottom:30%;
}
.modal_content_top
{
  text-align:center;
  left:20%;
  right:20%;
  top:10%;
  height:auto;
}
.modal_content_bottom
{
  text-align:center;
  left:20%;
  right:20%;
  bottom:10%;
  height:auto;
}
.modal_content_fullscreen
{
  left:10%;
  top:10%;
  right:10%;
  bottom:10%;
  min-width:250px;
  min-height:250px;
}
.modal_close
{
  position: absolute;
  padding: 2px;
  border: 2px solid #ccd;
  border-radius: 15px;
  background-color: rgba(61, 61, 61, 0.81);
  box-shadow: 0 0 12px #010;
  text-align: center;
  text-decoration: none;
  font: 18px sans-serif;
  font-weight: bold;
  transition: all ease .9s;
  cursor: pointer;
  z-index: 99999;
  color: rgba(254, 254, 254, 0.89);
  text-shadow: 0 1px 3px #010;
  font-size: 16px;
}
.modal_close:hover
{
  background-color: rgba(253, 21, 0, 0.83);
}
.modal_close_none
{
  display:none;
}
.modal_close_1
{
  top: -11px;
  right: -11px;
  width: 100px;
  height: 25px;
}
.modal_close_1:before
{
  content: "Выйти";
}
.modal_close_2
{
  top: -11px;
  right: -11px;
  width: 25px;
  height: 25px;
}
.modal_close_2:before
{
  content: "X";
}
.modal_data
{
  left:0;
  top:0;
  width:100%;
  height:100%;
  overflow:auto;
}
.modal_input
{
  width:95%;
  min-width:100px;
  resize:none;
}
.modal_textarea
{
  height:70%;
  min-height:100px;
}
.modal_btn
{
  border:2px solid #ccd;
  border-radius:5px;
  height:auto;
  line-height:21px;
  text-align:center;
  width:auto;
  padding-left:10px;
  padding-right:10px;
  min-width:100px;
}

/* ночной режим */
.night
{
  background-color:#000000!important;
  color:#ffffff!important;
}
.night_link
{
  background-color:#000000!important;
}
.night_link.active
{
  color:#ffffff!important;
}
.night_warn
{
  background-color:#666666!important;
  color:#ffffff!important;
  border:1px solid #aaaaaa!important;
}
.night_info
{
  background-color:#333333!important;
  color:#ffffff!important;
  border:1px solid #aaaaaa!important;
}
.night_jumbotron
{
  background-color:#aaaacc!important;
  color:#000000!important;
}
.night_jstree-search
{
  background-color:#000000!important;
  color:#8b0000!important;
}
.night_jstree-clicked
{
  background-color:#666666!important;
}
.jstree-hovered
{
  background: #e7f4f9!important;
  color: #000000!important;
}

/* pdf */
.pdf_viewer
{
  text-align:center;
  position:absolute;
  left:0px;
  top:0px;
  width:100%;
  height:100%;
}
.pdf_container
{
  position:absolute;
  width:100%;
  height:95%;
  overflow:auto;
  background:#333;
  border:solid 3px;
}
.pdf_navigation
{
  text-align:center;
  position:absolute;
  width:100%;
  top:95%;
  height:5%;
}

/* медиафайлы */
control
{
  text-align:center;
}
control video,
control audio
{
  position:relative;
  left:0;
  top:0;
  width:100%;
  height:100%;
}

/* подсказки */
.text_with_hint
{
  color: #4882A8;
  font-style: italic;
}

/* заметки */
.text_with_note
{
  background-color:#999999;
}
#tooltip_note
{
  z-index:9999;
  position:absolute;
  display:none;
  top:0px;
  left:0px;
  width:40%;
  background-color:#000000;
  padding:10px;
  color:white;
  opacity:1.0;
  border-radius:5px;
  border:2px solid #c0c0c0;
  max-height:50%;
  overflow:hidden;
}
#tooltip_note:before
{
  content:"Заметка\0a";
  white-space:pre;
  color:#FF0000;
  font-size:larger;
  max-height:50%;
  overflow:hidden;
}

/* сноски */
#tooltip_footnote
{
  z-index:9999;
  position:absolute;
  display:none;
  top:0px;
  left:0px;
  width:40%;
  background-color:#000000;
  padding:10px;
  color:white;
  opacity:1.0;
  border-radius:5px;
  border:2px solid #c0c0c0;
}
#tooltip_footnote:before
{
  content:"Сноска\0a";
  white-space:pre;
  color:#FF0000;
  font-size:larger;
}

/* поиск */
.search
{
  display:inline-flex;
  border:1px solid grey;
  border-radius:5px;
  padding:0;
  margin:0;
}
.search img
{
  margin-top:10px;
  margin-left:5px;
  width:20px;
  height:20px;
  order:-1;
}
.search input
{
  border:0;
  margin-top:1px;
  width:90%;
}
.found_text
{
  background-color: #0000FF!important;
  color: #FFFF00!important;
}

/* Выравнивание изображения для того, чтобы текст располагался снизу изображения.
   В bootstrap.min.css задан стиль img{vertical-align:middle;}, из-за чего взаимное
   выравнивание текста и изображения отличается в beditor и в браузере. */
img {
  vertical-align: baseline;
}

/* Контекстное меню */
.menu {
    position: absolute;
    width: 230px;
    padding: 2px;
    margin: 0;
    border: 1px solid #bbb;
    background: #eee;
    background: -webkit-linear-gradient(to bottom, #fff 0%, #e5e5e5 100px, #e5e5e5 100%);
    background: linear-gradient(to bottom, #fff 0%, #e5e5e5 100px, #e5e5e5 100%);
    z-index: 2000;
    box-shadow: 1px 1px 4px rgba(0,0,0,.2);
    opacity: 0;
    pointer-events: none;
}

.menu-item {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.menu-btn { 
    background: none;
    line-height: normal;
    overflow: visible;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    display: block;
    width: 100%;
    color: #444;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    text-align: left;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 8px;
}

.menu-btn::-moz-focus-inner,
.menu-btn::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.menu-text {
    margin-left: 25px;
}

.menu-btn .fa {
    position: absolute;
    left: 8px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.menu-item:hover > .menu-btn { 
    color: #fff; 
    outline: none; 
    background-color: #2E3940;
    background: -webkit-linear-gradient(to bottom, #5D6D79, #2E3940);
    background: linear-gradient(to bottom, #5D6D79, #2E3940);
    border: 1px solid #2E3940;
}

.menu-item.disabled {
    opacity: .5;
    pointer-events: none;
}

.menu-separator {
    display:block;
    margin: 7px 5px;
    height:1px;
    border-bottom: 1px solid #fff;
    background-color: #aaa;
}

.menu-item.submenu::after {
    content: "";
    position: absolute;
    right: 6px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    border: 5px solid transparent;
    border-left-color: #808080; 
}

.menu-item.submenu:hover::after {
    border-left-color: #fff;
}

.show-menu,
.menu-item:hover > .menu {
    opacity: 1;
    -webkit-transform: translate(0, 0) scale(1);
    transform: translate(0, 0) scale(1);
    pointer-events: auto;
}