@charset "UTF-8";
:root {
  --primary: #252525;
  --white: #fff;
  --light: #F5F5F5;
  --black: #000;
  --dark: #020202;
  --blue: #5D7A9C;
  --light-gray: #DBD7D7;
  --gray: #84888B;
  --dark-gray: #424649;
  --gray-brown: #797979;
  --brown: #565656;
  --gold: #97904E;
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a {
  color: inherit;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-size: 18px;
  font-family: "Cormorant Unicase";
  color: var(--primary);
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: "Cormorant Unicase";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
html {
  scroll-behavior: smooth;
}

body.lock {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

/*html {
	height:100%;
}
body {
	height:100%;
	margin: 0px;
	background: black;
	color: white;
	overflow:hidden; 
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
::-webkit-scrollbar {
	background-color: rgba(0,0,0,0.5);
	width: 0.75em;
	height: 0.75em;
}
::-webkit-scrollbar-thumb {
	background-color:  rgba(255,255,255,0.5);
}*/
.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.wrapper.loaded .header {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

/*preloader*/
.preloader-main {
  width: 640px;
  height: 640px;
}
@media (max-width: 1200px) {
  .preloader-main {
    width: calc(290px + 350 * ((100vw - 320px) / (880)));
  }
}
@media (max-width: 1200px) {
  .preloader-main {
    height: calc(290px + 350 * ((100vw - 320px) / (880)));
  }
}

.preloader {
  overflow: hidden;
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  -webkit-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
  pointer-events: none;
  background: var(--light);
}
.preloader .container {
  position: relative;
  z-index: 10;
  height: 100%;
}
.preloader.hidden {
  opacity: 0;
}

.preloader-body {
  position: relative;
  height: inherit;
}
.preloader-body__logo {
  position: absolute;
  bottom: 20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.preloader-body__percents {
  position: absolute;
  bottom: 15%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  font-family: "TT Norms";
  font-size: 40px;
  line-height: 110%;
  text-align: center;
  color: var(--blue);
}
@media (max-width: 1200px) {
  .preloader-body__percents {
    font-size: calc(20px + 20 * ((100vw - 320px) / (880)));
  }
}

.container {
  max-width: 1215px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 15px;
}

/*header*/
.header {
  position: fixed;
  z-index: 20;
  width: 100%;
  top: 40px;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  .header {
    top: calc(20px + 20 * ((100vw - 320px) / (880)));
  }
}
.header__logo {
  display: block;
  margin: 0 auto;
  position: relative;
  z-index: 10;
  width: 320px;
  height: auto;
}
@media (max-width: 1200px) {
  .header__logo {
    width: calc(290px + 30 * ((100vw - 320px) / (880)));
  }
}
.header__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.footer {
  position: absolute;
  bottom: 1%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 20;
  width: 100%;
}
.footer__container {
  text-align: center;
}
.footer__text {
  margin: 0 auto;
  display: block;
  color: var(--gray);
  font-family: "TT Norms";
  font-size: 14px;
  line-height: 120%;
}
@media (max-width: 1200px) {
  .footer__text {
    font-size: calc(12px + 2 * ((100vw - 320px) / (880)));
  }
}

.fullscreen-page {
  position: relative;
  background-color: var(--white);
  min-height: 100vh;
}
.fullscreen-page__image_d {
  opacity: 1;
  position: absolute;
  z-index: 3;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  bottom: 0;
  left: 0;
  -webkit-transition: opacity 2.8s ease 0s;
  transition: opacity 2.8s ease 0s;
}
.fullscreen-page__image_d img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.fullscreen-page__image_d.hide {
  opacity: 0;
}
.fullscreen-page__video {
  position: absolute;
  z-index: 2;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  bottom: 0;
  left: 0;
}
.fullscreen-page__video video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}