@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap&subset=cyrillic-ext");
:root {
  --primary: #202229;
  --white: #fff;
  --white-op: rgba(255,255,255,0.5);
  --black: #000;
  --brown: #D69A66;
  --brown2: #CC8D57;
  --dark: #16181F;
  --gray-light: #8A8D96;
  --red: #F13636;
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a {
  color: inherit;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  color: var(--primary);
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: "Montserrat", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
html {
  scroll-behavior: smooth;
}

body {
  scrollbar-gutter: stable;
}
body.lock {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}
@media (max-width: 1335px) {
  body {
    font-size: 9px;
  }
}
@media (max-width: 1279.98px) {
  body {
    font-size: 8.2px;
  }
}
@media (max-width: 991.98px) {
  body {
    font-size: 8px;
  }
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

/*.loader {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader::before {
    content: "";
    width: 50px;
    height: 50px;
    border: 5px solid #000000;
    border-top-color: transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}
.hidden {
    opacity: 0;
    transition: opacity 0.5s ease-out;
    pointer-events: none;
} 

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}*/
.container {
  max-width: 1335px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 15px;
}

/*links*/
.link {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  left: 0;
  background: var(--primary);
  -webkit-transition: width 0.3s ease 0s;
  transition: width 0.3s ease 0s;
}
@media (any-hover: hover) {
  .link:hover::before {
    width: 100%;
  }
}

/*title text*/
.title-main {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 5.4em;
  line-height: 120%;
}
.title-main span {
  color: var(--brown);
}

.title {
  font-weight: 700;
  font-size: 3.6em;
  line-height: 120%;
}

.title-l {
  font-weight: 500;
  font-size: 4.6em;
  line-height: 120%;
}

.title-m {
  font-weight: 700;
  font-size: 2.8em;
  line-height: 120%;
}

.title-s {
  font-weight: 600;
  font-size: 2em;
  line-height: 120%;
}

.text-main {
  font-weight: 300;
  font-size: 2.4em;
  line-height: 120%;
}

.text-l {
  font-weight: 600;
  font-size: 1.8em;
  line-height: 120%;
}

.text {
  font-size: 1.6em;
  line-height: 120%;
}

.text-m {
  font-weight: 600;
  font-size: 1.2em;
  line-height: 120%;
}

.text-s {
  font-weight: 500;
  font-size: 1em;
  line-height: 120%;
}

.number {
  color: var(--brown);
  font-style: italic;
  font-weight: 300;
  font-size: 10em;
  line-height: 100%;
}

/*slider buttons*/
.slider-controls__pagination .swiper-pagination-bullet {
  opacity: 1;
  width: 1em;
  height: 1em;
  background: var(--white);
  border: 2px solid var(--white);
  border-radius: 0.5em;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.slider-controls__pagination .swiper-pagination-bullet-active {
  background: var(--white);
  width: 2.2em;
}
.slider-controls__prev, .slider-controls__next {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  cursor: pointer;
  position: relative;
  border-radius: 50%;
  width: 6.6em;
  height: 6.6em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: background 0.3s ease 0s;
  transition: background 0.3s ease 0s;
  background: var(--white);
  border: 2px solid var(--white);
}
.slider-controls__prev.swiper-button-disabled, .slider-controls__next.swiper-button-disabled {
  opacity: 0.4;
}
@media (any-hover: hover) {
  .slider-controls__prev:not(.swiper-button-disabled):hover, .slider-controls__next:not(.swiper-button-disabled):hover {
    background: var(--brown);
  }
}
.slider-controls__prev svg, .slider-controls__next svg {
  width: 2em;
  height: 2em;
}
@media (max-width: 767.98px) {
  .slider-controls__prev, .slider-controls__next {
    width: 4em;
    height: 4em;
  }
}
/*filter*/
.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
  overflow: hidden;
}
@media (min-width: 479.98px) {
  .filter {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
}
@media (max-width: 479.98px) {
  .filter {
    overflow: auto;
  }
}
.filter__item {
  border-radius: 2em;
  display: block;
  cursor: pointer;
  white-space: nowrap;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--primary);
  background: var(--white);
  font-size: 1.4em;
  line-height: 120%;
  padding: 1.2em;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.filter__item.active, .filter__item._tab-active {
  color: var(--white);
  background: var(--primary);
}
@media (any-hover: hover) {
  .filter__item:not(.active):hover {
    background: var(--gray-light);
  }
}

/*decore*/
.shadow {
  position: relative;
}
.shadow::before {
  content: "";
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 50%;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), color-stop(30.25%, rgba(255, 255, 255, 0.4)), color-stop(50%, rgba(255, 255, 255, 0)));
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.4) 30.25%, rgba(255, 255, 255, 0) 50%);
}

/*Buttons*/
.button-main, .button-full, .button-full-tr {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0.5rem;
  padding: 1em;
  border-radius: 2.4em;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1em;
  line-height: 120%;
  color: var(--primary);
  background: transparent;
  border: 1px solid var(--brown);
  -webkit-transition: background 0.3s, color 0.3s ease 0s;
  transition: background 0.3s, color 0.3s ease 0s;
}
.button-main svg path, .button-full svg path, .button-full-tr svg path {
  -webkit-transition: fill 0.3s ease 0s;
  transition: fill 0.3s ease 0s;
}
@media (any-hover: hover) {
  .button-main:hover, .button-full:hover, .button-full-tr:hover {
    background: var(--white);
  }
}
.button-main.fw, .button-full.fw, .button-full-tr.fw {
  width: 100%;
}
.button-main:disabled, .button-full:disabled, .button-full-tr:disabled {
  pointer-events: none;
  opacity: 0.7;
}

.button-full, .button-full-tr {
  color: var(--white);
  background: var(--brown);
}
@media (any-hover: hover) {
  .button-full:hover, .button-full-tr:hover {
    color: var(--primary);
    background: var(--white);
  }
  .button-full:hover svg path, .button-full-tr:hover svg path {
    fill: var(--primary);
  }
}

.button-full-tr {
  background: transparent;
}

/*checkbox*/
.checkbox {
  position: relative;
}
.checkbox:not(:last-child) {
  margin-bottom: 5px;
}
.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}
.checkbox__input:focus + .checkbox__label:before {
  -webkit-box-shadow: 0 0 5px #000;
          box-shadow: 0 0 5px #000;
}
.checkbox__input:checked + .checkbox__label:before {
  background: url("../img/icons/check.svg") center no-repeat, transparent;
}
.checkbox__label {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  gap: 1rem;
  font-size: 1.2em;
}
.checkbox__label:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  border-radius: 0.325em;
  width: 2em;
  height: 2em;
  border: 1px solid var(--white);
}
.checkbox__label a {
  text-decoration: underline;
  -webkit-transition: -webkit-text-decoration 0.3s ease 0s;
  transition: -webkit-text-decoration 0.3s ease 0s;
  transition: text-decoration 0.3s ease 0s;
  transition: text-decoration 0.3s ease 0s, -webkit-text-decoration 0.3s ease 0s;
}
@media (any-hover: hover) {
  .checkbox__label a:hover {
    text-decoration: none;
  }
}

/*input*/
input[type=text], input[type=email], input[type=tel], textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  color: var(--white);
  background: transparent;
  border-bottom: 1px solid var(--white-op);
  width: 100%;
  display: block;
  padding: 0.75em 0;
  font-size: 1.8em;
  line-height: 120%;
}
.input::-webkit-input-placeholder {
  color: var(--white-op);
}
.input::-moz-placeholder {
  color: var(--white-op);
}
.input:-ms-input-placeholder {
  color: var(--white-op);
}
.input::-ms-input-placeholder {
  color: var(--white-op);
}
.input::placeholder {
  color: var(--white-op);
}
.input:focus {
  border-bottom: 1px solid var(--brown);
}
.input.err {
  border-bottom: 1px solid red;
}

textarea.input {
  resize: none;
}

/*popup*/
.popup {
  z-index: 20;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.popup.open {
  opacity: 1;
  visibility: visible;
}
.popup__header {
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
}
.popup__content {
  position: relative;
  background: #fff;
}
.popup__close {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  font-size: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 5.75em;
  height: 5.75em;
  border-radius: 50%;
  border: 1px solid var(--brown);
  -webkit-transition: background 0.3s ease 0s;
  transition: background 0.3s ease 0s;
}
@media (any-hover: hover) {
  .popup__close:hover {
    background: var(--white);
  }
}
.popup__close span {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}
.popup__close span::before, .popup__close span::after {
  content: "";
  position: absolute;
  width: 2.5em;
  height: 2px;
  top: 50%;
  left: 50%;
  -webkit-transition: -webkit-transform 0.9s ease 0s;
  transition: -webkit-transform 0.9s ease 0s;
  transition: transform 0.9s ease 0s;
  transition: transform 0.9s ease 0s, -webkit-transform 0.9s ease 0s;
  background: #000;
}
.popup__close span::before {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}
.popup__close span::after {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
@media (any-hover: hover) {
  .popup__close span:hover::before {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg);
  }
  .popup__close span:hover::after {
    -webkit-transform: translate(-50%, -50%) rotate(135deg);
            transform: translate(-50%, -50%) rotate(135deg);
  }
}
.popup__form {
  position: relative;
  z-index: 5;
}
@media (max-width: 991.98px) {
  .popup__form {
    width: 50%;
  }
}
@media (max-width: 767.98px) {
  .popup__form {
    width: 100%;
  }
}
.popup__input-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}
.popup__input-block:not(:last-child) {
  margin-bottom: 2em;
}
.header {
  position: fixed;
  z-index: 100;
  width: 100%;
  margin: 2em auto 0 auto;
}
.header.fixed .header__container {
  padding: 1em;
  border-radius: 3em;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  background: rgba(217, 217, 217, 0.5);
}
.header.fixed .header__logo {
  display: none;
}
.header__container {
  position: relative;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.header__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 2rem;
}
.header__logo {
  display: block;
  width: 4em;
  height: 4.2em;
}
.header__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.header__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}
@media (max-width: 991.98px) {
  .header__list {
    /*flex-direction: column;
    align-items: start;
    justify-content: start;
    @include adaptiv-property(gap, 20, 10);*/
    display: none;
  }
}
.header__link {
  font-weight: 500;
  font-size: 1.4em;
  line-height: 120%;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}
@media (any-hover: hover) {
  .header__link:hover {
    color: var(--gray-light);
  }
}
.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
}
.header__button {
  white-space: nowrap;
}
.header__burger-icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.submenu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: fixed;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  z-index: 5;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  padding-top: 10em;
}
.submenu__body.active {
  visibility: visible;
  opacity: 1;
}
.submenu__body.active .submenu__nav {
  -webkit-transform: translate(0);
          transform: translate(0);
}
.submenu__body.active .submenu__image.active {
  opacity: 1;
  visibility: visible;
}
.submenu__nav {
  width: 50%;
  -webkit-transition: -webkit-transform 1s ease 0s;
  transition: -webkit-transform 1s ease 0s;
  transition: transform 1s ease 0s;
  transition: transform 1s ease 0s, -webkit-transform 1s ease 0s;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  background-color: var(--white);
}
@media (max-width: 479.98px) {
  .submenu__nav {
    width: 100%;
  }
}
.submenu__nav_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  overflow-y: auto;
  min-height: 100%;
  padding-left: calc((100vw - 1335px) / 2);
  padding-top: 3em;
  padding-bottom: 3em;
}
@media (max-width: 1335px) {
  .submenu__nav_links {
    padding-left: 1rem;
  }
}
.submenu__nav_pictures {
  position: relative;
  padding: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
@media (max-width: 479.98px) {
  .submenu__nav_pictures {
    display: none;
  }
}
.submenu__list, .submenu__nav_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5em;
}
@media (max-width: 991.98px) {
  .submenu__list, .submenu__nav_links {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}
.submenu__link {
  color: var(--primary);
  font-size: 2.4em;
  line-height: 110%;
  text-transform: uppercase;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}
@media (any-hover: hover) {
  .submenu__link:hover {
    color: var(--brown);
  }
}
.submenu__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
  -o-object-fit: cover;
     object-fit: cover;
}
.submenu__items {
  font-size: 1.6em;
  line-height: 120%;
}
@media (max-width: 991.98px) {
  .submenu__items {
    margin-top: 3.75em;
  }
}
.submenu__item-link {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .submenu__item-link:hover {
    color: var(--brown);
  }
}

.icon-menu {
  font-size: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  z-index: 10;
  width: 4em;
  height: 4em;
  border-radius: 50%;
  background: var(--gray);
  -webkit-transition: background 0.3s ease 0s;
  transition: background 0.3s ease 0s;
}
.icon-menu span {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 4em;
  height: 0.8em;
}
.icon-menu span::before, .icon-menu span::after {
  content: "";
  position: absolute;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 100%;
  height: 2px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: var(--primary);
}
.icon-menu span::before {
  bottom: 0;
}
.icon-menu span::after {
  top: 0;
}
.icon-menu.active span::before {
  bottom: 50%;
  -webkit-transform: translate(-50%, 50%) rotate(-45deg);
          transform: translate(-50%, 50%) rotate(-45deg);
}
.icon-menu.active span::after {
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
@media (any-hover: hover) {
  .icon-menu:not(.active):hover span::before {
    -webkit-transform: translateX(-60%);
            transform: translateX(-60%);
  }
  .icon-menu:not(.active):hover span::after {
    -webkit-transform: translateX(-40%);
            transform: translateX(-40%);
  }
}

/*footer*/
.footer {
  color: var(--white);
  background: var(--dark);
  border-top: 1px solid var(--white-op);
  padding-top: 7em;
  position: relative;
}
@media (min-width: 767.98px) {
  .footer::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background: var(--white-op);
  }
}
.footer__columns {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-grid-columns: 1fr 1rem 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
@media (max-width: 767.98px) {
  .footer__columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 4rem;
  }
}
.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}
@media (min-width: 991.98px) {
  .footer__form {
    padding-right: 2em;
  }
}
.footer__form .form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3em;
}
@media (min-width: 991.98px) {
  .footer__form .form__block {
    padding-right: 10em;
  }
}
.footer__form .form__input-body {
  width: 100%;
}
.footer__copy-block {
  margin-top: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
  padding-bottom: 3em;
}
.footer__copy-block p {
  white-space: nowrap;
}
@media (max-width: 991.98px) {
  .footer__copy-block {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}
.footer__text {
  color: var(--white-op);
}
.footer__text a {
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}
@media (any-hover: hover) {
  .footer__text a:hover {
    color: var(--white);
  }
}
.footer__link-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
}
.footer__icon {
  display: block;
  opacity: 0.5;
  overflow: hidden;
  width: 12em;
  height: auto;
  -webkit-transform: translateY(-0.5em);
          transform: translateY(-0.5em);
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}
.footer__icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (any-hover: hover) {
  .footer__icon:hover {
    opacity: 1;
  }
}
.footer__contacts-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  height: 100%;
}
@media (min-width: 991.98px) {
  .footer__contacts-block {
    padding-left: 12em;
  }
}
.footer__contacts-body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.footer__title {
  text-transform: uppercase;
}
.footer__contacts {
  margin-top: 7em;
}
.footer__social {
  margin-top: 5em;
}
.footer__logo {
  overflow: hidden;
  width: 19em;
  height: auto;
}
.footer__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.contacts__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 3em;
  margin-bottom: 3em;
}
.contacts__desc {
  color: var(--brown);
}
.contacts__desc_g {
  color: var(--gray-light);
}
.contacts__link a {
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}
@media (any-hover: hover) {
  .contacts__link a:hover {
    color: var(--brown);
  }
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
}
.social__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 4.4em;
  height: 4.4em;
  border-radius: 50%;
  border: 1px solid var(--white-op);
  -webkit-transition: background 0.3s ease 0s;
  transition: background 0.3s ease 0s;
}
@media (any-hover: hover) {
  .social__item:hover {
    background: var(--brown);
  }
}
.social__item svg {
  width: 1.6em;
  height: 1.6em;
}

.page__main {
  padding-top: 8em;
}
.page__location {
  padding-top: 9em;
}
.page__about {
  padding-top: 9em;
}
.page__lobby {
  padding-top: 7em;
}
.page__map {
  padding-top: 9em;
}
.page__gallery {
  padding-top: 9em;
}
.page__sale {
  margin-top: 9em;
  padding-top: 10em;
  padding-bottom: 6em;
}
.page__catalog {
  padding-top: 12em;
}
.page__form {
  padding-top: 9em;
  padding-bottom: 9em;
}
.page__faq {
  padding-top: 9em;
  padding-bottom: 9em;
}

/*home*/
.main {
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(#FEC798), to(#FFFFFF));
  background: linear-gradient(180deg, #FEC798 0%, #FFFFFF 100%);
  overflow: hidden;
  border-radius: 0 0 26em 26em;
}
@media (max-width: 767.98px) {
  .main {
    border-radius: 0 0 10em 10em;
  }
}
.main__container {
  position: relative;
}
.main__logo {
  position: absolute;
  z-index: 2;
  top: -10%;
  right: 0;
  overflow: hidden;
  width: 77em;
  height: 73em;
}
.main__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.main__title-block {
  overflow: hidden;
  position: absolute;
  z-index: 3;
  max-width: 133em;
  width: 100%;
  height: auto;
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
.main__title-block img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.main__image {
  position: relative;
  z-index: 5;
  overflow: hidden;
  width: 100%;
  height: 87em;
}
.main__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 767.98px) {
  .main__image {
    height: 56em;
  }
  .main__image img {
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: bottom;
       object-position: bottom;
  }
}
.main__button-arrow {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  z-index: 7;
  width: 8.4em;
  height: 8.4em;
  bottom: 1%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 50%;
  border: 1px solid var(--white);
  -webkit-animation: arrow 2s infinite ease;
          animation: arrow 2s infinite ease;
  -webkit-transition: background 0.3s ease 0s;
  transition: background 0.3s ease 0s;
}
@media (any-hover: hover) {
  .main__button-arrow:hover {
    background: var(--gray);
  }
}

@keyframes arrow {
  0% {
    bottom: 2.5%;
  }
  50% {
    bottom: 5%;
  }
  100% {
    bottom: 2.5%;
  }
}
@-webkit-keyframes arrow {
  0% {
    bottom: 2.5%;
  }
  50% {
    bottom: 5%;
  }
  100% {
    bottom: 2.5%;
  }
}
/*location*/
.location__title {
  text-align: center;
}
.location__image {
  overflow: hidden;
  width: 100%;
  border-radius: 0 0 26em 26em;
}
.location__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 767.98px) {
  .location__image {
    border-radius: 0 0 10em 10em;
  }
}

/*lobby*/
.lobby {
  position: relative;
}
.lobby__item {
  position: sticky;
  top: 0px;
  overflow: hidden;
}
.lobby__image {
  width: 100%;
  height: 89em;
}
.lobby__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 767.98px) {
  .lobby__image {
    height: 42em;
  }
}

/*map*/
.map {
  overflow: hidden;
}
.map__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}
.map__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
  position: absolute;
  z-index: 5;
  top: 5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
}
@media (max-width: 991.98px) {
  .map__filter {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    overflow-x: auto;
  }
}
.map__button {
  white-space: nowrap;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.4em;
  line-height: 120%;
  padding: 1.2em;
}
.map__image {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  overflow: hidden;
  width: 100%;
  height: 80em;
  border-radius: 0 0 20em 20em;
}
.map__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 767.98px) {
  .map__image {
    height: 42em;
    border-radius: 0 0 10em 10em;
  }
}

/*home*/
/*gallery*/
.gallery {
  overflow: hidden;
  position: relative;
}
.gallery__container {
  position: absolute;
  z-index: 10;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.slider-gallery__slide {
  width: 100%;
  height: 89em;
}
@media (max-width: 767.98px) {
  .slider-gallery__slide {
    height: 42em;
  }
}
.slider-gallery__image {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.slider-gallery__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.slider-gallery__controls {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
}
/*catalog*/
/*sale*/
.sale {
  position: relative;
  overflow: hidden;
  color: var(--white);
  background: var(--brown);
  border-radius: 20em 0 20em 0;
}
@media (max-width: 767.98px) {
  .sale {
    border-radius: 10em 0 10em 0;
  }
}
.sale::before {
  content: "";
  position: absolute;
  width: calc(100% - 8em);
  height: calc(100% - 8em);
  top: 0;
  left: 0;
  background: var(--brown2);
  border-radius: 0 0 14em 0;
}
@media (max-width: 767.98px) {
  .sale::before {
    border-radius: 0 0 7em 0;
  }
}
.sale__wrap {
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5em;
}
.sale__button {
  padding: 1.5em;
  font-size: 1.4em;
  color: var(--white);
  background: var(--primary);
  border: 1px solid var(--primary);
}
@media (any-hover: hover) {
  .sale__button:hover {
    color: var(--primary);
    background: var(--white);
  }
  .sale__button:hover svg path {
    fill: var(--primary);
  }
}

/*catalog*/
.catalog {
  overflow: hidden;
  position: relative;
  z-index: 3;
}
.catalog__title {
  text-align: center;
}
.catalog__image-block {
  overflow: hidden;
  border-radius: 0 0 26em 26em;
}
@media (max-width: 767.98px) {
  .catalog__image-block {
    border-radius: 0 0 10em 10em;
  }
}
.catalog__image {
  overflow: hidden;
  width: 100%;
}
.catalog__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.catalog__icons {
  position: absolute;
  z-index: 5;
  width: 116em;
  height: 60em;
  bottom: 5%;
  right: 0;
}
.catalog__icons svg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.catalog__icons svg path {
  cursor: pointer;
  -webkit-transition: stroke 0.3s, fill 0.3s ease 0s;
  transition: stroke 0.3s, fill 0.3s ease 0s;
}
@media (any-hover: hover) {
  .catalog__icons svg path:hover {
    fill: var(--white-op);
    stroke: var(--brown);
  }
}

.popup-catalog {
  position: absolute;
  z-index: 20;
  width: 40em;
  height: auto;
  top: auto;
  bottom: 5em;
  left: 5em;
  background: var(--white);
  overflow: hidden;
  border-radius: 20em 0 20em 20em;
  padding: 5em;
  display: block;
  opacity: 1;
  visibility: visible;
}
.popup-catalog__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  margin-bottom: 3em;
}
.popup-catalog__title {
  font-size: 5.6em;
}
.popup-catalog__footer {
  margin-top: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}
.popup-catalog__item {
  font-weight: 500;
}
.popup-catalog__item span {
  font-weight: 700;
}
.popup-catalog__item:not(:last-child) {
  margin-bottom: 0.5em;
}
.slider-popup-catalog {
  position: relative;
}
.slider-popup-catalog__image {
  overflow: hidden;
  width: 100%;
  height: 30em;
}
.slider-popup-catalog__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.slider-popup-catalog__controls {
  position: absolute;
  z-index: 5;
  width: 100%;
  top: 50%;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
}
.slider-popup-catalog__prev, .slider-popup-catalog__next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 3em;
  height: 3em;
  background: transparent;
  border-radius: 50%;
  -webkit-transition: background 0.3s ease 0s;
  transition: background 0.3s ease 0s;
}
.slider-popup-catalog__prev svg, .slider-popup-catalog__next svg {
  width: 1.8em;
  height: 1.8em;
}
.slider-popup-catalog__prev.swiper-button-disabled, .slider-popup-catalog__next.swiper-button-disabled {
  opacity: 0.2;
}
@media (any-hover: hover) {
  .slider-popup-catalog__prev:not(.swiper-button-disabled):hover, .slider-popup-catalog__next:not(.swiper-button-disabled):hover {
    cursor: pointer;
    background: var(--brown);
  }
}

/*form*/
.form {
  position: relative;
  color: var(--white);
  background: var(--primary);
  -webkit-box-shadow: 0px -30em 0px 0px var(--primary);
          box-shadow: 0px -30em 0px 0px var(--primary);
  border-radius: 0 0 20em 20em;
  overflow: hidden;
}
@media (max-width: 767.98px) {
  .form {
    border-radius: 0 0 10em 10em;
  }
}
.form__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}
.form__wrap {
  margin-top: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
}
@media (max-width: 767.98px) {
  .form__wrap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.form__block p {
  color: var(--white-op);
}
.form__inputs {
  margin-top: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
}
@media (max-width: 479.98px) {
  .form__inputs {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 479.98px) {
  .form__input-body {
    width: 100%;
  }
}
.form__buttons {
  margin-top: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
}
@media (max-width: 479.98px) {
  .form__buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
.form__button {
  font-size: 1.4em;
}
.form__icon {
  overflow: hidden;
  width: 41em;
  height: auto;
}
.form__icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.form__text {
  color: var(--white-op);
}
.form__text a {
  text-decoration: underline;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}
@media (any-hover: hover) {
  .form__text a:hover {
    text-decoration: none;
    color: var(--white);
  }
}

/*faq*/
.faq {
  color: var(--white);
  background: var(--dark);
  -webkit-box-shadow: 0px -20em 0px 0px var(--dark);
          box-shadow: 0px -20em 0px 0px var(--dark);
}
.faq__title {
  text-align: center;
}
.faq__wrap {
  border-top: 1px solid rgba(255, 255, 255, 0.1019607843);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1019607843);
}
.faq__spoller {
  padding: 3em 0;
}
.faq__spoller:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1019607843);
}
.faq__spoller .spoller__button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
  color: var(--white);
}
.faq__spoller .spoller__button svg {
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}
.faq__spoller .spoller__button.spoller-active {
  color: var(--brown);
}
.faq__spoller .spoller__button.spoller-active svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.faq__spoller .spoller-body {
  margin-top: 2em;
}