@font-face {
    font-family: 'Faberge';
    src: url('Faberge-Regular.eot');
    src: local('Faberge'), local('Faberge-Regular'),
        url('Faberge-Regular.eot?#iefix') format('embedded-opentype'),
        url('Faberge-Regular.woff2') format('woff2'),
        url('Faberge-Regular.woff') format('woff'),
        url('Faberge-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Faberge';
    src: url('Faberge-Italic.eot');
    src: local('Faberge'), local('Faberge-Italic'),
        url('Faberge-Italic.eot?#iefix') format('embedded-opentype'),
        url('Faberge-Italic.woff2') format('woff2'),
        url('Faberge-Italic.woff') format('woff'),
        url('Faberge-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
