@font-face {
    font-family: 'Dryhten';
    src: url('../fonts/Dryhten/DryhtenRegular.eot');
    src: local('Dryhten'), local('DryhtenRegular'),
        url('../fonts/Dryhten/DryhtenRegular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Dryhten/DryhtenRegular.woff2') format('woff2'),
        url('../fonts/Dryhten/DryhtenRegular.woff') format('woff'),
        url('../fonts/Dryhten/DryhtenRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

