@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a {
  color: inherit;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-size: 10px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
:root {
  --color: #928683;
  --color-gray-light: #f7f6f2;
  --color-gray-dark: #9a9391;
  --color-light: #f7f6f2;
}

html {
  scroll-behavior: smooth;
}

body {
  scrollbar-gutter: stable;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.genPlanMain {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.genPlanMain svg polygon {
  fill: transparent;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .genPlanMain svg polygon:hover {
    fill: rgba(0, 0, 0, 0.3);
  }
}

/*territory-block*/
.territory__image-block {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 870px;
}
.territory__image-block img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.territory__image-block svg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.territory__image-block svg path {
  opacity: 0;
  -webkit-transition: opacity 0.3s, color 0.3s ease 0s;
  transition: opacity 0.3s, color 0.3s ease 0s;
}
@media (any-hover: hover) {
  .territory__image-block svg path:hover {
    cursor: pointer;
    opacity: 0.1;
    fill: red;
  }
}

.territory_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
}

.btn_territory .btn_type1 {
  font-size: clamp(14px, 2vw, 18px);
  line-height: 1em;
  border-radius: 10px;
}

.info_territory {
  border-radius: 10px;
  background: var(--color-light);
  border: 1px solid var(--color);
  padding: 17px;
  line-height: 22px;
  display: inline-block;
  color: var(--color);
  font-size: clamp(14px, 2vw, 18px);
  line-height: 1em;
}

.villas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
}
.villas__rows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  padding-left: 1rem;
  border-left: 1px solid var(--color);
  margin-bottom: 1rem;
}
.villas__rows p {
  font-weight: 600;
  line-height: 1;
  margin-bottom: 0;
}
.villas__text {
  padding-left: 1rem;
}
.villas__footer {
  margin-top: 4em;
}
.villas__title {
  font-size: clamp(14px, 2vw, 18px);
  line-height: 2;
}
.villas__images {
  border-radius: 20px;
  border: 1px solid var(--color-gray-dark);
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
}
.villas__image-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}
.villas__image {
  overflow: hidden;
  width: 194px;
  height: 144px;
}
.villas__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}