@charset "UTF-8";
:root {
  --primary: #292D32;
  --white: #fff;
  --light: #E7E7E7;
  --pink: #EC2E87;
  --dark: #3A3A3B;
  --blue: #07B3E8;
  --gray1: rgba(41, 45, 50, 0.7);
  --gray2: #D9D9D9;
  --green: #1BC339;
  --red: #EC2E32;
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a {
  color: inherit;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-size: 10px;
  font-family: "Onest", sans-serif;
  color: var(--primary);
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: "Onest", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
html {
  scroll-behavior: smooth;
}

body {
  scrollbar-gutter: stable;
}
body.lock {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}
@media (max-width: 1615px) {
  body {
    font-size: 8px;
  }
}
@media (max-width: 1279.98px) {
  body {
    font-size: 9px;
  }
}
@media (max-width: 991.98px) {
  body {
    font-size: 8px;
  }
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  max-width: 1615px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 15px;
}

/*links*/
.link {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  left: 0;
  background: var(--primary);
  -webkit-transition: width 0.3s ease 0s;
  transition: width 0.3s ease 0s;
}
@media (any-hover: hover) {
  .link:hover::before {
    width: 100%;
  }
}

/*title text*/
.title-big, .title-main {
  font-weight: 300;
  font-size: 4.8em;
  line-height: 100%;
}
.title-big span, .title-main span {
  font-weight: 600;
}

.title-main {
  font-size: 4em;
}

.title-xl, .title, .title-s {
  font-size: 3.2em;
  line-height: 100%;
}

.title {
  font-size: 2.6em;
}

.title-s {
  font-size: 2.4em;
}

.text-main, .text, .text-s, .text-xs {
  font-size: 2em;
  line-height: 120%;
}

.text {
  font-size: 1.6em;
}

.text-s {
  font-size: 1.4em;
}

.text-s {
  font-size: 1.2em;
}

.text-xs {
  font-size: 1em;
}

/*slider buttons*/
.slider-controls__pagination .swiper-pagination-bullet {
  opacity: 1;
  width: 1em;
  height: 1em;
  background: transparent;
  border: 2px solid var(--white);
  border-radius: 0.5em;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.slider-controls__pagination .swiper-pagination-bullet-active {
  background: var(--white);
  width: 2.2em;
}
.slider-controls__prev, .slider-controls__next {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  position: relative;
  border-radius: 50%;
  background: transparent;
  border: 1px solid var(--red);
  width: 2.4em;
  height: 2.4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.slider-controls__prev.swiper-button-disabled, .slider-controls__next.swiper-button-disabled {
  opacity: 0.4;
}
@media (any-hover: hover) {
  .slider-controls__prev:not(.swiper-button-disabled):hover, .slider-controls__next:not(.swiper-button-disabled):hover {
    cursor: pointer;
    background: var(--red);
  }
  .slider-controls__prev:not(.swiper-button-disabled):hover svg path, .slider-controls__next:not(.swiper-button-disabled):hover svg path {
    stroke: var(--white);
  }
}
.slider-controls__prev svg, .slider-controls__next svg {
  width: 0.35em;
  height: 0.7em;
}
.slider-controls__prev svg path, .slider-controls__next svg path {
  -webkit-transition: stroke 0.3s ease 0s;
  transition: stroke 0.3s ease 0s;
  stroke: var(--red);
}

.scrollbar {
  height: 2px;
  background: var(--white);
}
.scrollbar .swiper-scrollbar-drag {
  cursor: pointer;
  height: 2.6em;
  border-radius: 1em;
  background: var(--light-lila);
  border: 2px solid var(--lila);
  top: calc(50% - 1.3em);
  position: relative;
  -webkit-transition: background 0.3s ease 0s;
  transition: background 0.3s ease 0s;
}
.scrollbar .swiper-scrollbar-drag::before {
  content: "";
  position: absolute;
  width: 1em;
  height: 1em;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: var(--lila);
}
@media (any-hover: hover) {
  .scrollbar .swiper-scrollbar-drag:hover {
    background: var(--light);
  }
}

/*Buttons*/
.button-icon, .button-red-big {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
  padding: 0.5em 2em;
  border-radius: 1em;
  font-size: 10px;
  line-height: 110%;
  color: var(--white);
  background: var(--white);
  border: 1px solid var(--primary);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .button-icon:hover, .button-red-big:hover {
    background: var(--primary);
  }
  .button-icon:hover svg path, .button-red-big:hover svg path {
    stroke: var(--white);
  }
}
.button-icon i, .button-red-big i {
  width: 2.4em;
  height: 2.4em;
}
.button-icon i svg, .button-red-big i svg {
  width: 100%;
  height: 100%;
}
.button-icon i svg path, .button-red-big i svg path {
  -webkit-transition: stroke 0.3s ease 0s;
  transition: stroke 0.3s ease 0s;
}
.button-icon:disabled, .button-red-big:disabled {
  pointer-events: none;
  opacity: 0.7;
}

.button-red-big {
  width: 100%;
  padding: 0.5em;
  border-radius: 0.2em;
  font-size: 2.6em;
  line-height: 110%;
  color: var(--white);
  background: var(--red);
  border: 1px solid var(--red);
}
@media (any-hover: hover) {
  .button-red-big:hover {
    color: var(--primary);
    background: var(--white);
  }
}

/*checkbox*/
.checkbox {
  position: relative;
}
.checkbox:not(:last-child) {
  margin-bottom: 5px;
}
.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}
.checkbox__input:focus + .checkbox__label:before {
  -webkit-box-shadow: 0 0 5px #000;
          box-shadow: 0 0 5px #000;
}
.checkbox__input:checked + .checkbox__label:before {
  background: url("../img/icons/check.svg") center no-repeat, transparent;
}
.checkbox__label {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  gap: 1rem;
  font-size: 1.2em;
}
.checkbox__label:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  border-radius: 0.325em;
  width: 2em;
  height: 2em;
  border: 1px solid var(--white);
}
.checkbox__label a {
  text-decoration: underline;
  -webkit-transition: -webkit-text-decoration 0.3s ease 0s;
  transition: -webkit-text-decoration 0.3s ease 0s;
  transition: text-decoration 0.3s ease 0s;
  transition: text-decoration 0.3s ease 0s, -webkit-text-decoration 0.3s ease 0s;
}
@media (any-hover: hover) {
  .checkbox__label a:hover {
    text-decoration: none;
  }
}

/*input*/
input[type=text], input[type=email], input[type=tel], textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  text-align: center;
  color: var(--primary);
  border: 1px solid var(--blue);
  border-radius: 2em;
  width: 100%;
  display: block;
  padding: 0.75em 1.5em;
  font-size: 2.4em;
  line-height: 120%;
}
.input::-webkit-input-placeholder {
  color: var(--blue);
}
.input::-moz-placeholder {
  color: var(--blue);
}
.input:-ms-input-placeholder {
  color: var(--blue);
}
.input::-ms-input-placeholder {
  color: var(--blue);
}
.input::placeholder {
  color: var(--blue);
}
.input:focus {
  border: 1px solid var(--primary);
}
.input.err {
  border: 1px solid red;
}

textarea.input {
  resize: none;
}

/*breadcrumbs*/
.breadcrumbs {
  white-space: nowrap;
  overflow: clip;
  overflow-x: auto;
}
.breadcrumbs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}
.breadcrumbs__item {
  position: relative;
}
.breadcrumbs__item:not(:last-child)::before {
  content: "";
  position: absolute;
  width: 0.5em;
  height: 0.5em;
  top: 50%;
  right: -0.5rem;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  border-radius: 50%;
  background: var(--gray1);
}
.breadcrumbs__link, .breadcrumbs__current {
  color: var(--gray1);
  text-transform: lowercase;
}
.breadcrumbs__link {
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}
@media (any-hover: hover) {
  .breadcrumbs__link:hover {
    color: var(--red);
  }
}
/*popup*/
.popup {
  z-index: 20;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.popup.open {
  opacity: 1;
  visibility: visible;
}
.popup__header {
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
}
.popup__content {
  position: relative;
  background: #fff;
}
.popup__close {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  font-size: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 5.75em;
  height: 5.75em;
  border-radius: 50%;
  border: 1px solid var(--brown);
  -webkit-transition: background 0.3s ease 0s;
  transition: background 0.3s ease 0s;
}
@media (any-hover: hover) {
  .popup__close:hover {
    background: var(--white);
  }
}
.popup__close span {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}
.popup__close span::before, .popup__close span::after {
  content: "";
  position: absolute;
  width: 2.5em;
  height: 2px;
  top: 50%;
  left: 50%;
  -webkit-transition: -webkit-transform 0.9s ease 0s;
  transition: -webkit-transform 0.9s ease 0s;
  transition: transform 0.9s ease 0s;
  transition: transform 0.9s ease 0s, -webkit-transform 0.9s ease 0s;
  background: #000;
}
.popup__close span::before {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}
.popup__close span::after {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
@media (any-hover: hover) {
  .popup__close span:hover::before {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg);
  }
  .popup__close span:hover::after {
    -webkit-transform: translate(-50%, -50%) rotate(135deg);
            transform: translate(-50%, -50%) rotate(135deg);
  }
}
.popup__form {
  position: relative;
  z-index: 5;
}
@media (max-width: 991.98px) {
  .popup__form {
    width: 50%;
  }
}
@media (max-width: 767.98px) {
  .popup__form {
    width: 100%;
  }
}
.popup__input-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}
.popup__input-block:not(:last-child) {
  margin-bottom: 2em;
}
/*header*/
.header {
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
  background: var(--white);
  -webkit-box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.0509803922);
          box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.0509803922);
}
@media (max-width: 991.98px) {
  .header::before {
    content: "";
    position: absolute;
    z-index: 7;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--white);
  }
}
.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
  padding: 1em 0;
}
.header__row:first-child {
  position: relative;
}
.header__row:first-child::before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 1px;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: var(--light);
}
.header__logo {
  display: block;
  position: relative;
  z-index: 10;
  width: 37em;
  height: auto;
}
.header__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 991.98px) {
  .header__body {
    -webkit-transform: translate(200%, 0px);
            transform: translate(200%, 0px);
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: auto;
    padding: 60px 10px 30px 10px;
    padding-top: 150px;
    background: var(--white);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
}
@media (max-width: 991.98px) and (max-width: 1600px) {
  .header__body {
    padding-top: calc(60px + 90 * ((100vw - 320px) / (1280)));
  }
}
@media (max-width: 991.98px) {
  .header__body.active {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
}
@media (max-width: 991.98px) {
  .header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.header__link {
  font-size: 1.6em;
  line-height: 100%;
  opacity: 0.7;
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}
@media (any-hover: hover) {
  .header__link:hover {
    opacity: 1;
  }
}
.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
}
.header__contact, .header__contact_phone {
  font-size: 1.6em;
  line-height: 100%;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}
@media (any-hover: hover) {
  .header__contact:hover, .header__contact_phone:hover {
    color: var(--red);
  }
}
.header__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
}
.header__contact svg {
  width: 1em;
  height: 1em;
}
.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
}
/*burger*/
.icon-menu {
  display: none;
}
@media (max-width: 991.98px) {
  .icon-menu {
    display: block;
    background-color: transparent;
    position: relative;
    width: 40px;
    height: 22.5px;
    cursor: pointer;
    z-index: 10;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--black);
  }
  .icon-menu::before {
    top: 0px;
  }
  .icon-menu::after {
    bottom: 0px;
  }
  .icon-menu span {
    top: calc(50% - 1px);
  }
  .icon-menu.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .icon-menu.active::before {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .icon-menu.active::after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

/*footer*/
.footer {
  color: var(--white);
  background: var(--primary);
  margin-top: 12em;
  padding: 2em 0;
}
.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
}
.footer__text {
  font-weight: 500;
}
.footer__text a {
  -webkit-transition: -webkit-text-decoration 0.3s ease 0s;
  transition: -webkit-text-decoration 0.3s ease 0s;
  transition: text-decoration 0.3s ease 0s;
  transition: text-decoration 0.3s ease 0s, -webkit-text-decoration 0.3s ease 0s;
}
@media (any-hover: hover) {
  .footer__text a:hover {
    text-decoration: underline;
  }
}

.page__catalog {
  margin-top: 8em;
}
.page__detail {
  margin-top: 18em;
}

/*home-page*/
/*catalog*/
.catalog__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1rem 1fr 1rem 1fr 1rem 1fr 1rem 1fr 1rem 1fr;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
}
@media (max-width: 1279.98px) {
  .catalog__items {
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 767.98px) {
  .catalog__items {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 479.98px) {
  .catalog__items {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
.item-catalog {
  border-radius: 1em;
  -webkit-transition: -webkit-transform 0.3s, -webkit-box-shadow 0.3s ease 0s;
  transition: -webkit-transform 0.3s, -webkit-box-shadow 0.3s ease 0s;
  transition: transform 0.3s, box-shadow 0.3s ease 0s;
  transition: transform 0.3s, box-shadow 0.3s ease 0s, -webkit-transform 0.3s, -webkit-box-shadow 0.3s ease 0s;
}
@media (any-hover: hover) {
  .item-catalog:hover {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
    -webkit-box-shadow: 0px 0.2em 1em 0px rgba(0, 0, 0, 0.0509803922);
            box-shadow: 0px 0.2em 1em 0px rgba(0, 0, 0, 0.0509803922);
  }
}
.item-catalog__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
}
.item-catalog__image {
  overflow: hidden;
  display: block;
  width: 100%;
  height: 25em;
}
.item-catalog__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1279.98px) {
  .item-catalog__image {
    height: 22.5vw;
  }
}
@media (max-width: 767.98px) {
  .item-catalog__image {
    height: 30vw;
    border-radius: 1em;
    border: 1px solid var(--light);
  }
}
@media (max-width: 479.98px) {
  .item-catalog__image {
    height: 45vw;
  }
}
.item-catalog__text-block {
  padding: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
}
@media (max-width: 767.98px) {
  .item-catalog__text-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
.item-catalog__price {
  color: var(--red);
}

/*catalog-page*/
/*detail-page*/
@media (min-width: 991.98px) {
  .detail-page__wrap {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2rem 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}
.detail-page__slider-body {
  overflow: hidden;
  max-width: calc(1615px / 2 - 2rem);
  width: 100%;
}
.detail-page__slider-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
}
@media (max-width: 767.98px) {
  .detail-page__slider-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 1rem;
  }
}
.detail-page__information {
  margin-top: 2rem;
}
.detail-page__header {
  padding: 2em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  border-bottom: 1px solid var(--gray2);
}
@media (max-width: 991.98px) {
  .detail-page__header {
    margin-bottom: 2em;
  }
}
.detail-page__tabs {
  margin-top: 2em;
}
.detail-page__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
}
.detail-page__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
  width: 100%;
  padding: 0.25em;
  border-radius: 0.25em;
  font-size: 2em;
  line-height: 110%;
  color: var(--primary);
  border: 1px solid var(--primary);
}
.detail-page__info svg {
  width: 2em;
  height: 2em;
}

@media (min-width: 767.98px) {
  .slider-thumb-detail {
    margin-left: 0;
    margin-right: 0;
    max-height: 52em;
  }
}
@media (max-width: 767.98px) {
  .slider-thumb-detail {
    width: calc(100vw - 1rem);
  }
}
.slider-thumb-detail__slide {
  overflow: hidden;
  cursor: pointer;
  border-radius: 1em;
  border: 1px solid var(--light);
  width: 10em;
  height: 10em;
}
.slider-thumb-detail__slide.swiper-slide-thumb-active {
  border: 1px solid var(--red);
}
.slider-thumb-detail__image {
  overflow: hidden;
  width: inherit;
  height: inherit;
}
.slider-thumb-detail__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}
@media (any-hover: hover) {
  .slider-thumb-detail__image img:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.slider-detail {
  position: relative;
  width: 52em;
  height: 52em;
}
@media (max-width: 767.98px) {
  .slider-detail {
    width: 100%;
    height: calc(100vw - 1rem);
  }
}
.slider-detail__slide {
  opacity: 0;
}
.slider-detail__slide.swiper-slide-active {
  opacity: 1;
}
.slider-detail__image {
  overflow: hidden;
  width: inherit;
  height: inherit;
}
.slider-detail__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.slider-detail__prev, .slider-detail__next {
  position: absolute;
  z-index: 5;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.slider-detail__prev {
  left: 0;
}
.slider-detail__next {
  right: 0;
}

.tabs-detail__items {
  margin-top: 1em;
}

.information-detail__row td {
  padding: 0.25em 0;
}
.information-detail__row td:first-child {
  color: var(--gray1);
}