@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap&subset=cyrillic-ext");
:root {
  --primary: #11161A;
  --white: #fff;
  --black: #000;
  --lila: #AA67C8;
  --blue: #07B3E8;
  --gray: #6C737D;
  --gray2: #5C5F64;
  --light: #A7ACAF;
  --red: #F13636;
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a {
  color: inherit;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  color: var(--primary);
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: "Montserrat", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
html {
  scroll-behavior: smooth;
}

body {
  background: radial-gradient(circle, #151C26 48%, var(--primary) 100%);
  scrollbar-gutter: stable;
}
body.lock {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}
@media (max-width: 1436.98px) {
  body {
    font-size: 9px;
  }
}
@media (max-width: 1279.98px) {
  body {
    font-size: 8.2px;
  }
}
@media (max-width: 991.98px) {
  body {
    font-size: 8px;
  }
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  max-width: 1435px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 15px;
}

/*links*/
.link, .link-inv {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.link::before, .link-inv::before {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  left: 0;
  background: currentColor;
  -webkit-transition: width 0.3s ease 0s;
  transition: width 0.3s ease 0s;
}
@media (any-hover: hover) {
  .link:hover::before, .link-inv:hover::before {
    width: 100%;
  }
}

.link-inv::before {
  width: 100%;
}
@media (any-hover: hover) {
  .link-inv:hover::before {
    width: 0;
  }
}

/*title text*/
.title-item {
  font-weight: 600;
  font-size: 4.2em;
  line-height: 120%;
}
@media (max-width: 991.98px) {
  .title-item {
    font-size: 3.2em;
  }
}
@media (max-width: 767.98px) {
  .title-item {
    font-size: 2.8em;
  }
}

.text {
  font-weight: 300;
  font-size: 1.6em;
  line-height: 120%;
}

/*header*/
.header {
  position: relative;
  z-index: 10;
  margin-top: 3em;
}
.header__container {
  position: relative;
}
.header__container::before {
  content: "";
  position: absolute;
  width: 60%;
  height: 1px;
  bottom: 0;
  left: 0;
  background: var(--gray);
}
.header__contacts {
  padding: 5em 3em;
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
}
.header__contact {
  color: var(--gray);
  font-size: 2.2em;
  line-height: 120%;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}
@media (any-hover: hover) {
  .header__contact:hover {
    color: var(--lila);
  }
}

/*footer*/
.footer {
  margin-top: 8em;
}
.footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__logo {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 17em;
  height: auto;
}
.footer__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.page {
  position: relative;
  margin-top: 2em;
}
/*home*/
.main-page {
  margin-top: 2em;
  position: relative;
  z-index: 5;
}
@media (max-width: 991.98px) {
  .main-page {
    overflow: hidden;
  }
}
@media (max-width: 767.98px) {
  .main-page__container {
    padding: 0 4em;
  }
}
.main-page__wrap {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-grid-columns: 1fr 1rem 2fr;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
}
@media (max-width: 991.98px) {
  .main-page__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 4em;
  }
}
.main-page__nav {
  margin-top: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}
.main-page__nav-title .title {
  color: var(--gray);
  font-size: 2em;
  line-height: 120%;
}
.main-page__nav-title .spoller-body .item {
  cursor: pointer;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5fr 0.5em 3fr;
  grid-template-columns: 5fr 3fr;
  gap: 0.5em;
  color: var(--gray2);
  font-size: 2.4em;
  line-height: 120%;
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}
.main-page__nav-title .spoller-body .item.active {
  color: var(--light);
}
@media (any-hover: hover) {
  .main-page__nav-title .spoller-body .item:not(.active):hover {
    opacity: 0.5;
  }
}
.main-page__nav-title .spoller-body .list {
  padding: 6em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}
.main-page__content-block {
  position: relative;
}
@media (max-width: 991.98px) {
  .main-page__content-block {
    width: 100%;
  }
}
@media (max-width: 767.98px) {
  .main-page__content-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1rem;
  }
}
.main-page__price {
  font-size: 2em;
  line-height: 110%;
  color: var(--light);
}
.main-page__price span {
  font-size: 3em;
}
@media (min-width: 767.98px) {
  .main-page__price {
    position: absolute;
    z-index: 5;
    top: 5em;
    left: 0;
  }
}
.main-page__image-block {
  position: relative;
}
.main-page__size-w, .main-page__size-h {
  position: absolute;
  z-index: 5;
  color: var(--light);
  font-size: 2.2em;
  line-height: 110%;
}
.main-page__size-w::before, .main-page__size-w::after, .main-page__size-h::before, .main-page__size-h::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  top: 50%;
  background: var(--light);
}
.main-page__size-w::before, .main-page__size-h::before {
  left: 150%;
}
.main-page__size-w::after, .main-page__size-h::after {
  right: 150%;
}
.main-page__size-w {
  top: 0;
  left: 63%;
}
.main-page__size-w::before, .main-page__size-w::after {
  width: 6em;
}
@media (max-width: 991.98px) {
  .main-page__size-w::before, .main-page__size-w::after {
    width: 200%;
  }
}
@media (max-width: 767.98px) {
  .main-page__size-w::before, .main-page__size-w::after {
    width: 100%;
  }
}
.main-page__size-h {
  top: 20em;
  right: 3em;
  -webkit-transform: rotate(-85deg);
          transform: rotate(-85deg);
}
.main-page__size-h::before, .main-page__size-h::after {
  width: 16em;
}
@media (max-width: 991.98px) {
  .main-page__size-h {
    top: 15em;
  }
  .main-page__size-h::before, .main-page__size-h::after {
    width: 300%;
  }
}
@media (max-width: 767.98px) {
  .main-page__size-h {
    top: 10em;
  }
  .main-page__size-h::before, .main-page__size-h::after {
    width: 200%;
  }
}
.main-page__image {
  width: 100%;
  height: 100%;
}
.main-page__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 1279.98px) {
  .main-page__image {
    left: auto;
    right: -30em;
  }
}
@media (min-width: 991.98px) {
  .main-page__image {
    position: absolute;
    height: 110em;
    top: -10em;
    left: -20em;
  }
  .main-page__image img {
    width: auto;
  }
}