@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap&subset=cyrillic-ext");
:root {
  --primary: #1C2C5D;
  --dark: #2F2F2F;
  --black: #000;
  --white: #fff;
  --gold: #FDB933;
  --blue: #3A5DC3;
  --blue-dark: #00499F;
  --light-gray: #707070;
  --gray: #818181;
  --dark-gray: #454545;
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a {
  color: inherit;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-size: 16px;
  font-family: "Montserrat";
  color: var(--primary);
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: "Montserrat";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body.lock {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  background: linear-gradient(180deg, #011655 0%, #1C2C5D 100%), linear-gradient(147.38deg, rgba(28, 44, 93, 0.2) 11.12%, rgba(0, 73, 159, 0.2) 56.18%);
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.wrapper.loaded .header {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.loader {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loader::before {
  content: "";
  width: 50px;
  height: 50px;
  border: 5px solid #000000;
  border-top-color: transparent;
  border-radius: 50%;
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
}

.hidden {
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
  pointer-events: none;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.container {
  max-width: 1229px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 15px;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

/*links*/
.link {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 4px;
  bottom: -1px;
  left: 0;
  background: var(--gold);
  -webkit-transition: width 0.3s ease 0s;
  transition: width 0.3s ease 0s;
}
@media (any-hover: hover) {
  .link:hover::before {
    width: 100%;
  }
}

/*title text*/
.title {
  font-weight: 300;
  color: var(--white);
  font-size: 64px;
  line-height: 120%;
}
@media (max-width: 1214px) {
  .title {
    font-size: calc(22px + 42 * ((100vw - 320px) / (894)));
  }
}

.text {
  color: var(--white);
  font-size: 18px;
  line-height: 120%;
}
@media (max-width: 1214px) {
  .text {
    font-size: calc(12px + 6 * ((100vw - 320px) / (894)));
  }
}

/*Slider buttons*/
.slider-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
}
@media (max-width: 1214px) {
  .slider-buttons {
    gap: calc(5px + 5 * ((100vw - 320px) / (894)));
  }
}

.slider-prev, .slider-next {
  cursor: pointer;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  border: 2px solid var(--white);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
@media (max-width: 1214px) {
  .slider-prev, .slider-next {
    width: calc(18px + 26 * ((100vw - 320px) / (894)));
  }
}
@media (max-width: 1214px) {
  .slider-prev, .slider-next {
    height: calc(18px + 26 * ((100vw - 320px) / (894)));
  }
}
.slider-prev svg, .slider-next svg {
  width: 9px;
  height: 16px;
}
@media (max-width: 1214px) {
  .slider-prev svg, .slider-next svg {
    width: calc(5px + 4 * ((100vw - 320px) / (894)));
  }
}
@media (max-width: 1214px) {
  .slider-prev svg, .slider-next svg {
    height: calc(10px + 6 * ((100vw - 320px) / (894)));
  }
}
@media (any-hover: hover) {
  .slider-prev:hover, .slider-next:hover {
    opacity: 0.6;
  }
}
.slider-prev.swiper-button-disabled, .slider-next.swiper-button-disabled {
  opacity: 0.4;
}

/*count block*/
.count-block {
  border-radius: 19px;
  background: var(--white);
  padding: 20px;
}
@media (max-width: 1214px) {
  .count-block {
    padding: calc(10px + 10 * ((100vw - 320px) / (894)));
  }
}
@media (max-width: 767.98px) {
  .count-block {
    width: 100%;
  }
}
.count-block__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
@media (max-width: 1214px) {
  .count-block__body {
    gap: calc(10px + 20 * ((100vw - 320px) / (894)));
  }
}
.count-block__title {
  color: var(--dark-gray);
  font-size: 20px;
  line-height: 120%;
}
@media (max-width: 1214px) {
  .count-block__title {
    font-size: calc(16px + 4 * ((100vw - 320px) / (894)));
  }
}
.count-block__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
}
@media (max-width: 1214px) {
  .count-block__row {
    gap: calc(5px + 5 * ((100vw - 320px) / (894)));
  }
}
.count-block__change {
  margin-bottom: 15px;
}
@media (max-width: 1214px) {
  .count-block__change {
    margin-bottom: calc(5px + 10 * ((100vw - 320px) / (894)));
  }
}
.count-block__change svg {
  -webkit-transition: -webkit-transform 0.3s ease-out 0s;
  transition: -webkit-transform 0.3s ease-out 0s;
  transition: transform 0.3s ease-out 0s;
  transition: transform 0.3s ease-out 0s, -webkit-transform 0.3s ease-out 0s;
}
@media (any-hover: hover) {
  .count-block__change:hover svg {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}
.count-block__input-block {
  text-align: center;
}
.count-block__label {
  color: var(--gray);
  font-size: 14px;
  line-height: 120%;
}
@media (max-width: 1214px) {
  .count-block__label {
    font-size: calc(10px + 4 * ((100vw - 320px) / (894)));
  }
}
/*Telephone block*/
.tel-block {
  padding: 10px;
  border: 2px solid var(--white);
  border-radius: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
@media (max-width: 1214px) {
  .tel-block {
    padding: calc(5px + 5 * ((100vw - 320px) / (894)));
  }
}
@media (max-width: 767.98px) {
  .tel-block {
    width: 100%;
  }
}
.tel-block__link {
  font-weight: 600;
  color: var(--white);
  font-size: 36px;
  line-height: 120%;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}
@media (max-width: 1214px) {
  .tel-block__link {
    font-size: calc(24px + 12 * ((100vw - 320px) / (894)));
  }
}
@media (any-hover: hover) {
  .tel-block__link:hover {
    color: var(--gold);
  }
}
.tel-block__text {
  color: var(--white);
  font-size: 12px;
  line-height: 120%;
}
@media (max-width: 1214px) {
  .tel-block__text {
    font-size: calc(8px + 4 * ((100vw - 320px) / (894)));
  }
}

/*Buttons*/
.button-main, .button-white {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 56px;
  font-size: 14px;
  line-height: 110%;
  color: var(--white);
  background: var(--gold);
  border: 1px solid var(--gold);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (max-width: 1214px) {
  .button-main, .button-white {
    padding: calc(10px + 5 * ((100vw - 320px) / (894)));
  }
}
@media (max-width: 1214px) {
  .button-main, .button-white {
    padding-left: calc(10px + 10 * ((100vw - 320px) / (894)));
  }
}
@media (max-width: 1214px) {
  .button-main, .button-white {
    padding-right: calc(10px + 10 * ((100vw - 320px) / (894)));
  }
}
@media (max-width: 1214px) {
  .button-main, .button-white {
    border-radius: calc(45px + 11 * ((100vw - 320px) / (894)));
  }
}
@media (max-width: 1214px) {
  .button-main, .button-white {
    font-size: calc(12px + 2 * ((100vw - 320px) / (894)));
  }
}
@media (any-hover: hover) {
  .button-main:hover, .button-white:hover {
    color: var(--gold);
    background: var(--white);
  }
}
.button-main.fw, .button-white.fw {
  width: 100%;
}
.button-main:disabled, .button-white:disabled {
  pointer-events: none;
  opacity: 0.7;
}

.button-white {
  color: var(--gold);
  background: var(--white);
}
@media (any-hover: hover) {
  .button-white:hover {
    color: var(--white);
    background: var(--gold);
  }
}

/*input*/
input[type=text], input[type=email], input[type=tel], textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border: 1px solid #B1B1B1;
  border-radius: 12px;
  width: 100%;
  display: block;
  text-align: center;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  color: var(--black);
  font-size: 20px;
  line-height: 120%;
}
@media (max-width: 1214px) {
  .input {
    padding: calc(5px + 5 * ((100vw - 320px) / (894)));
  }
}
@media (max-width: 1214px) {
  .input {
    padding-left: calc(10px + 5 * ((100vw - 320px) / (894)));
  }
}
@media (max-width: 1214px) {
  .input {
    padding-right: calc(10px + 5 * ((100vw - 320px) / (894)));
  }
}
@media (max-width: 1214px) {
  .input {
    font-size: calc(12px + 8 * ((100vw - 320px) / (894)));
  }
}
.input::-webkit-input-placeholder {
  color: var(--light-gray);
}
.input::-moz-placeholder {
  color: var(--light-gray);
}
.input:-ms-input-placeholder {
  color: var(--light-gray);
}
.input::-ms-input-placeholder {
  color: var(--light-gray);
}
.input::placeholder {
  color: var(--light-gray);
}
.input:focus {
  border: 1px solid var(--primary);
}
.input.err {
  border: 1px solid red;
}
@media (max-width: 767.98px) {
  .input {
    padding: 0px 16px;
    height: 40px;
  }
}

/*header*/
.header {
  position: relative;
  padding-top: 70px;
  padding-bottom: 40px;
}
@media (max-width: 1214px) {
  .header {
    padding-top: calc(15px + 55 * ((100vw - 320px) / (894)));
  }
}
@media (max-width: 1214px) {
  .header {
    padding-bottom: calc(15px + 25 * ((100vw - 320px) / (894)));
  }
}
@media (max-width: 767.98px) {
  .header {
    border-bottom: 2px solid var(--gold);
  }
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.header__logo {
  display: block;
  position: relative;
  z-index: 10;
  width: 171px;
  height: 32px;
}
@media (max-width: 1214px) {
  .header__logo {
    width: calc(80px + 91 * ((100vw - 320px) / (894)));
  }
}
@media (max-width: 1214px) {
  .header__logo {
    height: calc(20px + 12 * ((100vw - 320px) / (894)));
  }
}
.header__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 479.98px) {
  .header__logo {
    margin-left: auto;
  }
}
@media (max-width: 991.98px) {
  .header__body {
    -webkit-transform: translate(200%, 0px);
            transform: translate(200%, 0px);
    position: fixed;
    z-index: 20;
    width: 100%;
    height: 100vh;
    top: 156px;
    left: 0;
    overflow: auto;
    padding: 60px 10px 30px 10px;
    padding-top: 150px;
    background: linear-gradient(180deg, #1C2C5D 0%, #3A5DC3 100%), linear-gradient(147.38deg, rgba(28, 44, 93, 0.2) 11.12%, rgba(0, 73, 159, 0.2) 56.18%);
    -webkit-transition: -webkit-transform 0.3s ease 0s;
    transition: -webkit-transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  }
}
@media (max-width: 991.98px) and (max-width: 1214px) {
  .header__body {
    top: calc(62px + 94 * ((100vw - 320px) / (894)));
  }
}
@media (max-width: 991.98px) and (max-width: 1214px) {
  .header__body {
    padding-top: calc(60px + 90 * ((100vw - 320px) / (894)));
  }
}
@media (max-width: 991.98px) {
  .header__body.active {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
}
@media (max-width: 1214px) {
  .header__list {
    gap: calc(10px + 10 * ((100vw - 320px) / (894)));
  }
}
@media (max-width: 991.98px) {
  .header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.header__item {
  position: relative;
}
.header__link {
  color: var(--white);
  font-size: 16px;
  line-height: 120%;
}
@media (max-width: 1214px) {
  .header__link {
    font-size: calc(10px + 6 * ((100vw - 320px) / (894)));
  }
}
.header__link.popup-link {
  font-weight: 500;
  color: var(--gold);
}
@media (max-width: 991.98px) {
  .header__link {
    font-size: 16px;
  }
}
.header__social {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
}
@media (max-width: 1214px) {
  .header__social {
    gap: calc(10px + 10 * ((100vw - 320px) / (894)));
  }
}
@media (max-width: 991.98px) {
  .header__social {
    margin-left: auto;
    margin-right: 20px;
  }
}
@media (max-width: 479.98px) {
  .header__social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    margin-top: 50px;
  }
}
@media (max-width: 479.98px) and (max-width: 1214px) {
  .header__social {
    margin-top: calc(20px + 30 * ((100vw - 320px) / (894)));
  }
}
.header__button svg path {
  -webkit-transition: fill 0.3s ease 0s;
  transition: fill 0.3s ease 0s;
}
@media (any-hover: hover) {
  .header__button:hover svg path {
    fill: var(--white);
  }
}
@media (min-width: 991.98px) {
  .spoller-header {
    display: none;
    opacity: 0;
    height: 0;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
}
@media (min-width: 991.98px) and (any-hover: hover) {
  .spoller-header:hover {
    display: block;
    opacity: 1;
    height: auto;
  }
}
@media (min-width: 991.98px) {
  .spoller-header__button:hover + .spoller-header {
    display: block;
    opacity: 1;
    height: auto;
  }
}
@media (min-width: 991.98px) {
  .spoller-header__body {
    position: relative;
    margin-top: 50px;
    padding-bottom: 30px;
    border-radius: 18px;
    background: var(--white);
  }
}
@media (min-width: 991.98px) and (max-width: 1214px) {
  .spoller-header__body {
    margin-top: calc(30px + 20 * ((100vw - 320px) / (894)));
  }
}
@media (min-width: 991.98px) and (max-width: 1214px) {
  .spoller-header__body {
    padding-bottom: calc(20px + 10 * ((100vw - 320px) / (894)));
  }
}
@media (min-width: 991.98px) {
  .spoller-header__body::before {
    content: "";
    position: absolute;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    width: 15px;
    height: 20px;
    top: -20px;
    left: 50%;
    -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 100%, 0% 100%);
            clip-path: polygon(30% 0%, 70% 0%, 100% 100%, 0% 100%);
    background: var(--white);
  }
}
@media (min-width: 991.98px) {
  .spoller-header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 20px;
    padding: 12px;
    padding-left: 30px;
    border-bottom: 2px solid var(--gold);
  }
}
@media (min-width: 991.98px) and (max-width: 1214px) {
  .spoller-header__nav {
    gap: calc(10px + 10 * ((100vw - 320px) / (894)));
  }
}
.spoller-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.spoller-header__item:first-child {
  text-transform: uppercase;
}
@media (min-width: 991.98px) {
  .spoller-header__item:first-child .spoller-header__link {
    color: var(--black);
  }
}
.spoller-header__link {
  color: var(--gray);
  font-size: 11px;
  line-height: 120%;
}
@media (max-width: 1214px) {
  .spoller-header__link {
    font-size: calc(10px + 1 * ((100vw - 320px) / (894)));
  }
}
@media (max-width: 991.98px) {
  .spoller-header__link {
    color: var(--white);
  }
}
@media (max-width: 991.98px) {
  .spoller-header__button {
    position: relative;
  }
  .spoller-header__button::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    top: 0;
    right: -12px;
    border-left: 2px solid var(--gold);
    border-top: 2px solid var(--gold);
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
}
.spoller-header__button.spoller-active::after {
  -webkit-transform: rotate(-225deg) translate(3px, 0px);
          transform: rotate(-225deg) translate(3px, 0px);
}
.spoller-header__button.spoller-active + .spoller-header {
  opacity: 1;
  height: auto;
}

.icon-menu {
  display: none;
}
@media (max-width: 991.98px) {
  .icon-menu {
    display: block;
    background: transparent;
    position: relative;
    width: 29px;
    height: 10px;
    cursor: pointer;
    z-index: 10;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background: var(--gold);
  }
  .icon-menu::before {
    top: 0px;
  }
  .icon-menu::after {
    bottom: 0px;
  }
  .icon-menu span {
    top: calc(50% - 1px);
  }
  .icon-menu.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .icon-menu.active::before {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .icon-menu.active::after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}
@media (max-width: 479.98px) {
  .icon-menu {
    margin-left: auto;
  }
}

.footer {
  margin-top: 120px;
  padding-top: 90px;
  padding-bottom: 40px;
  position: relative;
}
@media (max-width: 1214px) {
  .footer {
    margin-top: calc(60px + 60 * ((100vw - 320px) / (894)));
  }
}
@media (max-width: 1214px) {
  .footer {
    padding-top: calc(30px + 60 * ((100vw - 320px) / (894)));
  }
}
@media (max-width: 1214px) {
  .footer {
    padding-bottom: calc(10px + 30 * ((100vw - 320px) / (894)));
  }
}
@media (min-width: 767.98px) {
  .footer {
    border-top: 3px solid var(--gold);
  }
}
.footer__container {
  position: relative;
  z-index: 3;
}
.footer__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 40px;
  left: 0;
  background: var(--white);
  border-top-left-radius: 120px;
  border-top-right-radius: 120px;
}
@media (max-width: 1214px) {
  .footer__bg {
    top: calc(20px + 20 * ((100vw - 320px) / (894)));
  }
}
@media (max-width: 1214px) {
  .footer__bg {
    border-top-left-radius: calc(90px + 30 * ((100vw - 320px) / (894)));
  }
}
@media (max-width: 1214px) {
  .footer__bg {
    border-top-right-radius: calc(90px + 30 * ((100vw - 320px) / (894)));
  }
}
.footer__bg-img {
  opacity: 0.05;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.footer__bg-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 991.98px) {
  .footer__bg-img {
    -webkit-transform: translate(25%, -5%);
            transform: translate(25%, -5%);
  }
}
.footer__decor {
  display: none;
}
@media (min-width: 767.98px) {
  .footer__decor {
    position: absolute;
    display: block;
    top: -76px;
    right: 5%;
    width: 300px;
    height: 76px;
  }
}
@media (min-width: 767.98px) and (max-width: 1214px) {
  .footer__decor {
    top: calc(-50px + -26 * ((100vw - 320px) / (894)));
  }
}
@media (min-width: 767.98px) and (max-width: 1214px) {
  .footer__decor {
    width: calc(190px + 110 * ((100vw - 320px) / (894)));
  }
}
@media (min-width: 767.98px) and (max-width: 1214px) {
  .footer__decor {
    height: calc(50px + 26 * ((100vw - 320px) / (894)));
  }
}
@media (min-width: 767.98px) {
  .footer__decor img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
}
@media (max-width: 1214px) {
  .footer__top {
    gap: calc(10px + 10 * ((100vw - 320px) / (894)));
  }
}
@media (max-width: 1229px) {
  .footer__top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 767.98px) {
  .footer__top {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (any-hover: hover) {
  .footer__item a:hover {
    color: var(--gold);
  }
}
.footer__link {
  font-weight: 500;
  color: var(--dark);
  font-size: 24px;
  line-height: 110%;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}
@media (max-width: 1214px) {
  .footer__link {
    font-size: calc(14px + 10 * ((100vw - 320px) / (894)));
  }
}
.footer__text {
  margin-top: 5px;
  color: var(--gray);
  font-size: 12px;
  line-height: 110%;
}
@media (max-width: 1214px) {
  .footer__text {
    font-size: calc(10px + 2 * ((100vw - 320px) / (894)));
  }
}
.footer__text a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .footer__text a:hover {
    color: var(--dark);
  }
}
.footer__middle {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
@media (max-width: 1214px) {
  .footer__middle {
    margin-top: calc(40px + 20 * ((100vw - 320px) / (894)));
  }
}
@media (max-width: 767.98px) {
  .footer__middle {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.footer__block {
  display: none;
}
@media (min-width: 767.98px) {
  .footer__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 30px;
    width: 390px;
  }
}
@media (min-width: 767.98px) and (max-width: 1214px) {
  .footer__block {
    margin-top: calc(10px + 20 * ((100vw - 320px) / (894)));
  }
}
@media (min-width: 767.98px) and (max-width: 1214px) {
  .footer__block {
    width: calc(290px + 100 * ((100vw - 320px) / (894)));
  }
}
.footer__title {
  font-weight: 600;
  color: var(--black);
  font-size: 28px;
  line-height: 110%;
  position: relative;
}
@media (max-width: 1214px) {
  .footer__title {
    font-size: calc(16px + 12 * ((100vw - 320px) / (894)));
  }
}
.footer__title::before {
  content: "";
  position: absolute;
  width: 70%;
  height: 1px;
  bottom: -30px;
  left: 0;
  background: var(--dark);
}
@media (max-width: 1214px) {
  .footer__title::before {
    bottom: calc(-15px + -15 * ((100vw - 320px) / (894)));
  }
}
.footer__button {
  margin-top: 60px;
}
@media (max-width: 1214px) {
  .footer__button {
    margin-top: calc(30px + 30 * ((100vw - 320px) / (894)));
  }
}
.footer__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 30px;
}
@media (max-width: 1214px) {
  .footer__images {
    gap: calc(10px + 20 * ((100vw - 320px) / (894)));
  }
}
.footer__image {
  border-radius: 4px;
  overflow: hidden;
  width: 106px;
  height: 152px;
}
@media (max-width: 1214px) {
  .footer__image {
    width: calc(70px + 36 * ((100vw - 320px) / (894)));
  }
}
@media (max-width: 1214px) {
  .footer__image {
    height: calc(98px + 54 * ((100vw - 320px) / (894)));
  }
}
.footer__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}
@media (any-hover: hover) {
  .footer__image img:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
.footer__bottom {
  margin-top: 30px;
}
@media (max-width: 1214px) {
  .footer__bottom {
    margin-top: calc(20px + 10 * ((100vw - 320px) / (894)));
  }
}
.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 30px;
}
@media (max-width: 1214px) {
  .footer__row {
    gap: calc(10px + 20 * ((100vw - 320px) / (894)));
  }
}
@media (max-width: 991.98px) {
  .footer__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.footer__logo {
  width: 214px;
  height: 60px;
}
@media (max-width: 1214px) {
  .footer__logo {
    width: calc(95px + 119 * ((100vw - 320px) / (894)));
  }
}
@media (max-width: 1214px) {
  .footer__logo {
    height: calc(25px + 35 * ((100vw - 320px) / (894)));
  }
}
.footer__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.footer__stroke {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 30px;
}
@media (max-width: 1214px) {
  .footer__stroke {
    gap: calc(10px + 20 * ((100vw - 320px) / (894)));
  }
}
@media (max-width: 991.98px) {
  .footer__stroke {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
}
.social__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: var(--white);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--gold);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (max-width: 1214px) {
  .social__item {
    width: calc(30px + 10 * ((100vw - 320px) / (894)));
  }
}
@media (max-width: 1214px) {
  .social__item {
    height: calc(30px + 10 * ((100vw - 320px) / (894)));
  }
}
.social__item svg path {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .social__item:hover svg path {
    fill: var(--gold);
  }
}

.page__main {
  margin-top: 70px;
}
@media (max-width: 1214px) {
  .page__main {
    margin-top: calc(40px + 30 * ((100vw - 320px) / (894)));
  }
}
.page__about {
  margin-top: 90px;
}
@media (max-width: 1214px) {
  .page__about {
    margin-top: calc(30px + 60 * ((100vw - 320px) / (894)));
  }
}
.page__brands {
  margin-top: 90px;
}
@media (max-width: 1214px) {
  .page__brands {
    margin-top: calc(30px + 60 * ((100vw - 320px) / (894)));
  }
}
.page__press {
  margin-top: 120px;
}
@media (max-width: 1214px) {
  .page__press {
    margin-top: calc(40px + 80 * ((100vw - 320px) / (894)));
  }
}
.page__review {
  margin-top: 120px;
}
@media (max-width: 1214px) {
  .page__review {
    margin-top: calc(40px + 80 * ((100vw - 320px) / (894)));
  }
}
.page__team {
  margin-top: 120px;
}
@media (max-width: 1214px) {
  .page__team {
    margin-top: calc(40px + 80 * ((100vw - 320px) / (894)));
  }
}
.page__requisites {
  margin-top: 120px;
}
@media (max-width: 1214px) {
  .page__requisites {
    margin-top: calc(40px + 80 * ((100vw - 320px) / (894)));
  }
}
.page__form {
  margin-top: 120px;
}
@media (max-width: 1214px) {
  .page__form {
    margin-top: calc(40px + 80 * ((100vw - 320px) / (894)));
  }
}

.container-slider .title, .container-slider .slider-buttons {
  padding-left: calc((100vw - 1229px) / 2);
}
@media (max-width: 1229px) {
  .container-slider .title, .container-slider .slider-buttons {
    padding-left: 15px;
  }
}

.main-page__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
}
@media (max-width: 1214px) {
  .main-page__container {
    gap: calc(10px + 10 * ((100vw - 320px) / (894)));
  }
}
@media (max-width: 991.98px) {
  .main-page__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.main-page__slider-block {
  width: 100%;
}
@media (min-width: 991.98px) {
  .main-page__slider-block {
    width: 65%;
  }
}
.main-page__column .tel-block {
  width: 100%;
}

.main-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
@media (max-width: 1214px) {
  .main-column {
    gap: calc(10px + 10 * ((100vw - 320px) / (894)));
  }
}
@media (max-width: 767.98px) {
  .main-column {
    width: 100%;
  }
}

.slider-main {
  position: relative;
  border-radius: 36px;
  height: 100%;
}
@media (max-width: 1214px) {
  .slider-main {
    border-radius: calc(19px + 17 * ((100vw - 320px) / (894)));
  }
}
.slider-main__image {
  width: 100%;
  height: 100%;
}
.slider-main__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.slider-main__buttons {
  position: absolute;
  z-index: 5;
  bottom: 5%;
  right: 5%;
}
.slider-brands {
  margin-top: 40px;
  overflow: visible;
}
@media (max-width: 1214px) {
  .slider-brands {
    margin-top: calc(20px + 20 * ((100vw - 320px) / (894)));
  }
}
.slider-brands__slide {
  overflow: hidden;
  width: 100%;
  height: 83px;
}
@media (max-width: 1214px) {
  .slider-brands__slide {
    height: calc(30px + 53 * ((100vw - 320px) / (894)));
  }
}
.slider-brands__slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.slider-brands__buttons {
  margin-top: 40px;
}
@media (max-width: 1214px) {
  .slider-brands__buttons {
    margin-top: calc(20px + 20 * ((100vw - 320px) / (894)));
  }
}
.slider-press {
  margin-top: 40px;
  overflow: visible;
}
@media (max-width: 1214px) {
  .slider-press {
    margin-top: calc(20px + 20 * ((100vw - 320px) / (894)));
  }
}
.slider-press__slide {
  position: relative;
  color: var(--white);
  border-radius: 22px;
  overflow: hidden;
}
@media (max-width: 1214px) {
  .slider-press__slide {
    border-radius: calc(11px + 11 * ((100vw - 320px) / (894)));
  }
}
@media (any-hover: hover) {
  .slider-press__slide:hover .slider-press__image {
    -webkit-transform: scale(1.8);
            transform: scale(1.8);
  }
}
.slider-press__image {
  position: relative;
  z-index: 3;
  border-radius: 22px;
  overflow: hidden;
  width: 100%;
  height: 174px;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}
@media (max-width: 1214px) {
  .slider-press__image {
    border-radius: calc(11px + 11 * ((100vw - 320px) / (894)));
  }
}
@media (max-width: 1214px) {
  .slider-press__image {
    height: calc(119px + 55 * ((100vw - 320px) / (894)));
  }
}
.slider-press__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.slider-press__date {
  font-weight: 300;
  font-size: 16px;
  line-height: 120%;
  position: absolute;
  z-index: 5;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  top: 10px;
  left: 10px;
  border-radius: 11px;
  border: 1px solid var(--white);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
@media (max-width: 1214px) {
  .slider-press__date {
    font-size: calc(8px + 8 * ((100vw - 320px) / (894)));
  }
}
@media (max-width: 1214px) {
  .slider-press__date {
    padding-left: calc(5px + 5 * ((100vw - 320px) / (894)));
  }
}
@media (max-width: 1214px) {
  .slider-press__date {
    padding-right: calc(5px + 5 * ((100vw - 320px) / (894)));
  }
}
.slider-press__body {
  position: relative;
  z-index: 2;
  background: linear-gradient(180deg, #011655 0%, #1C2C5D 100%), linear-gradient(147.38deg, rgba(28, 44, 93, 0.2) 11.12%, rgba(0, 73, 159, 0.2) 56.18%);
  border-radius: 22px;
  border: 2px solid var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  padding-top: 60px;
  margin-top: -50px;
}
@media (max-width: 1214px) {
  .slider-press__body {
    border-radius: calc(11px + 11 * ((100vw - 320px) / (894)));
  }
}
@media (max-width: 1214px) {
  .slider-press__body {
    padding: calc(5px + 5 * ((100vw - 320px) / (894)));
  }
}
@media (max-width: 1214px) {
  .slider-press__body {
    padding-top: calc(40px + 20 * ((100vw - 320px) / (894)));
  }
}
@media (max-width: 1214px) {
  .slider-press__body {
    margin-top: calc(-30px + -20 * ((100vw - 320px) / (894)));
  }
}
.slider-press__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 120%;
}
@media (max-width: 1214px) {
  .slider-press__text {
    font-size: calc(10px + 6 * ((100vw - 320px) / (894)));
  }
}
.slider-press__buttons {
  margin-top: 40px;
}
@media (max-width: 1214px) {
  .slider-press__buttons {
    margin-top: calc(20px + 20 * ((100vw - 320px) / (894)));
  }
}
.slider-review {
  margin-top: 40px;
  overflow: visible;
}
@media (max-width: 1214px) {
  .slider-review {
    margin-top: calc(20px + 20 * ((100vw - 320px) / (894)));
  }
}
.slider-review__swiper {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.slider-review__slide {
  color: var(--white);
  background: linear-gradient(180deg, #011655 0%, #1C2C5D 100%), linear-gradient(147.38deg, rgba(28, 44, 93, 0.2) 11.12%, rgba(0, 73, 159, 0.2) 56.18%);
  border-radius: 22px;
  border: 2px solid var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px;
  height: auto;
}
@media (max-width: 1214px) {
  .slider-review__slide {
    border-radius: calc(11px + 11 * ((100vw - 320px) / (894)));
  }
}
@media (max-width: 1214px) {
  .slider-review__slide {
    padding: calc(10px + 5 * ((100vw - 320px) / (894)));
  }
}
.slider-review__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}
.slider-review__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 5px;
  width: 210px;
  overflow: hidden;
  border-radius: 48px;
}
@media (max-width: 1214px) {
  .slider-review__header {
    width: calc(140px + 70 * ((100vw - 320px) / (894)));
  }
}
@media (max-width: 1214px) {
  .slider-review__header {
    border-radius: calc(22px + 26 * ((100vw - 320px) / (894)));
  }
}
.slider-review__image {
  position: relative;
  z-index: 3;
  overflow: hidden;
  border-radius: 48px;
  width: 42px;
  height: 42px;
}
@media (max-width: 1214px) {
  .slider-review__image {
    border-radius: calc(22px + 26 * ((100vw - 320px) / (894)));
  }
}
@media (max-width: 1214px) {
  .slider-review__image {
    width: calc(28px + 14 * ((100vw - 320px) / (894)));
  }
}
@media (max-width: 1214px) {
  .slider-review__image {
    height: calc(28px + 14 * ((100vw - 320px) / (894)));
  }
}
.slider-review__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .slider-review__image img:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
.slider-review__text-block {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  border-top-right-radius: 48px;
  border-bottom-right-radius: 48px;
  border: 1px solid var(--gold);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 15px;
  padding-left: 30px;
  margin-left: -30px;
}
@media (max-width: 1214px) {
  .slider-review__text-block {
    border-top-right-radius: calc(22px + 26 * ((100vw - 320px) / (894)));
  }
}
@media (max-width: 1214px) {
  .slider-review__text-block {
    border-bottom-right-radius: calc(22px + 26 * ((100vw - 320px) / (894)));
  }
}
@media (max-width: 1214px) {
  .slider-review__text-block {
    padding-left: calc(20px + 10 * ((100vw - 320px) / (894)));
  }
}
@media (max-width: 1214px) {
  .slider-review__text-block {
    margin-left: calc(-20px + -10 * ((100vw - 320px) / (894)));
  }
}
.slider-review__name {
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
}
@media (max-width: 1214px) {
  .slider-review__name {
    font-size: calc(9px + 5 * ((100vw - 320px) / (894)));
  }
}
.slider-review__info {
  font-weight: 700;
  font-size: 5px;
  line-height: 200%;
}
@media (max-width: 1214px) {
  .slider-review__info {
    font-size: calc(3px + 2 * ((100vw - 320px) / (894)));
  }
}
.slider-review__text {
  margin-top: 30px;
  text-align: center;
}
@media (max-width: 1214px) {
  .slider-review__text {
    margin-top: calc(15px + 15 * ((100vw - 320px) / (894)));
  }
}
.slider-review__buttons {
  margin-top: 40px;
}
@media (max-width: 1214px) {
  .slider-review__buttons {
    margin-top: calc(20px + 20 * ((100vw - 320px) / (894)));
  }
}
.slider-team {
  margin-top: 40px;
  overflow: visible;
}
@media (max-width: 1214px) {
  .slider-team {
    margin-top: calc(20px + 20 * ((100vw - 320px) / (894)));
  }
}
.slider-team__image-block {
  position: relative;
  border-radius: 22px;
  overflow: hidden;
  border: 2px solid var(--white);
}
@media (max-width: 1214px) {
  .slider-team__image-block {
    border-radius: calc(11px + 11 * ((100vw - 320px) / (894)));
  }
}
.slider-team__image {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 380px;
}
@media (max-width: 1214px) {
  .slider-team__image {
    height: calc(170px + 210 * ((100vw - 320px) / (894)));
  }
}
.slider-team__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}
@media (any-hover: hover) {
  .slider-team__image img:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
.slider-team__link {
  position: absolute;
  bottom: 0;
  left: 0;
  border-top-right-radius: 22px;
  padding: 10px;
  background: linear-gradient(180deg, #011655 0%, #1C2C5D 100%), linear-gradient(147.38deg, rgba(28, 44, 93, 0.2) 11.12%, rgba(0, 73, 159, 0.2) 56.18%);
}
@media (max-width: 1214px) {
  .slider-team__link {
    border-top-right-radius: calc(11px + 11 * ((100vw - 320px) / (894)));
  }
}
@media (max-width: 1214px) {
  .slider-team__link {
    padding: calc(5px + 5 * ((100vw - 320px) / (894)));
  }
}
.slider-team__link svg path {
  -webkit-transition: fill 0.3s ease 0s;
  transition: fill 0.3s ease 0s;
}
@media (any-hover: hover) {
  .slider-team__link:hover svg path {
    fill: var(--white);
  }
}
.slider-team__text-block {
  margin-top: 15px;
  color: var(--white);
  background: linear-gradient(180deg, #011655 0%, #1C2C5D 100%), linear-gradient(147.38deg, rgba(28, 44, 93, 0.2) 11.12%, rgba(0, 73, 159, 0.2) 56.18%);
  border-radius: 22px;
  border: 2px solid var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px;
}
@media (max-width: 1214px) {
  .slider-team__text-block {
    margin-top: calc(10px + 5 * ((100vw - 320px) / (894)));
  }
}
@media (max-width: 1214px) {
  .slider-team__text-block {
    border-radius: calc(11px + 11 * ((100vw - 320px) / (894)));
  }
}
@media (max-width: 1214px) {
  .slider-team__text-block {
    padding: calc(10px + 5 * ((100vw - 320px) / (894)));
  }
}
.slider-team__name {
  font-weight: 300;
  font-size: 18px;
  line-height: 120%;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}
@media (max-width: 1214px) {
  .slider-team__name {
    font-size: calc(12px + 6 * ((100vw - 320px) / (894)));
  }
}
@media (any-hover: hover) {
  .slider-team__name:hover {
    color: var(--gold);
  }
}
.slider-team__text {
  color: var(--gold);
  font-weight: 600;
  font-size: 12px;
  line-height: 120%;
}
@media (max-width: 1214px) {
  .slider-team__text {
    font-size: calc(6px + 6 * ((100vw - 320px) / (894)));
  }
}
.slider-team__buttons {
  margin-top: 40px;
}
@media (max-width: 1214px) {
  .slider-team__buttons {
    margin-top: calc(20px + 20 * ((100vw - 320px) / (894)));
  }
}
.requisites-page__body {
  margin-top: 60px;
  color: var(--white);
  background: linear-gradient(180deg, #011655 0%, #1C2C5D 100%), linear-gradient(147.38deg, rgba(28, 44, 93, 0.2) 11.12%, rgba(0, 73, 159, 0.2) 56.18%);
  border-radius: 22px;
  border: 2px solid var(--white);
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 55px;
}
@media (max-width: 1214px) {
  .requisites-page__body {
    margin-top: calc(30px + 30 * ((100vw - 320px) / (894)));
  }
}
@media (max-width: 1214px) {
  .requisites-page__body {
    border-radius: calc(11px + 11 * ((100vw - 320px) / (894)));
  }
}
@media (max-width: 1214px) {
  .requisites-page__body {
    padding: calc(10px + 10 * ((100vw - 320px) / (894)));
  }
}
@media (max-width: 1214px) {
  .requisites-page__body {
    padding-left: calc(10px + 20 * ((100vw - 320px) / (894)));
  }
}
@media (max-width: 1214px) {
  .requisites-page__body {
    padding-right: calc(10px + 20 * ((100vw - 320px) / (894)));
  }
}
@media (max-width: 1214px) {
  .requisites-page__body {
    padding-bottom: calc(30px + 25 * ((100vw - 320px) / (894)));
  }
}
.requisites-page__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
}
@media (max-width: 1214px) {
  .requisites-page__header {
    gap: calc(10px + 10 * ((100vw - 320px) / (894)));
  }
}
.requisites-page__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
}
@media (max-width: 1214px) {
  .requisites-page__list {
    gap: calc(10px + 10 * ((100vw - 320px) / (894)));
  }
}
.requisites-page__item {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  gap: 10px;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 12px;
  font-weight: 500;
  font-size: 20px;
  line-height: 110%;
  color: var(--white);
  background: transparent;
  border: 1px solid var(--white);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (max-width: 1214px) {
  .requisites-page__item {
    padding-left: calc(10px + 15 * ((100vw - 320px) / (894)));
  }
}
@media (max-width: 1214px) {
  .requisites-page__item {
    padding-right: calc(10px + 15 * ((100vw - 320px) / (894)));
  }
}
@media (max-width: 1214px) {
  .requisites-page__item {
    font-size: calc(10px + 10 * ((100vw - 320px) / (894)));
  }
}
.requisites-page__item._tab-active {
  color: var(--gold);
  border: 1px solid var(--gold);
}
.requisites-page__item svg {
  width: 18px;
  height: 21px;
}
@media (max-width: 1214px) {
  .requisites-page__item svg {
    width: calc(8px + 10 * ((100vw - 320px) / (894)));
  }
}
@media (max-width: 1214px) {
  .requisites-page__item svg {
    height: calc(10px + 11 * ((100vw - 320px) / (894)));
  }
}
.requisites-page__item svg path {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .requisites-page__item:hover {
    color: var(--white);
    background: var(--gold);
    border: 1px solid var(--gold);
  }
  .requisites-page__item:hover svg path {
    fill: var(--white);
  }
}
.requisites-page__content {
  margin-top: 30px;
}
@media (max-width: 1214px) {
  .requisites-page__content {
    margin-top: calc(20px + 10 * ((100vw - 320px) / (894)));
  }
}
.tab-body__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
  border-bottom: 2px solid var(--white);
}
.tab-body__row:not(:last-child) {
  margin-bottom: 30px;
}
@media (max-width: 1214px) {
  .tab-body__row:not(:last-child) {
    margin-bottom: calc(10px + 20 * ((100vw - 320px) / (894)));
  }
}
.tab-body__name, .tab-body__value {
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
}
@media (max-width: 1214px) {
  .tab-body__name, .tab-body__value {
    font-size: calc(12px + 2 * ((100vw - 320px) / (894)));
  }
}
.tab-body__value {
  text-transform: uppercase;
  text-align: right;
}
.tab-body__links .tel-block {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  border: none;
}

.form-page__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
}
@media (max-width: 1214px) {
  .form-page__container {
    gap: calc(10px + 10 * ((100vw - 320px) / (894)));
  }
}
@media (max-width: 767.98px) {
  .form-page__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.form-page__content {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
  grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: (1fr)[3];
  grid-template-rows: repeat(3, 1fr);
}
.form-page__content > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.form-page__content > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.form-page__content > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.form-page__content > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}
.form-page__content > *:nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
.form-page__content > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
.form-page__content > *:nth-child(7) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
.form-page__content > *:nth-child(8) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}
.form-page__content > *:nth-child(9) {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
}
.form-page__content > *:nth-child(10) {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
}
.form-page__content > *:nth-child(11) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.form-page__content > *:nth-child(12) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}
.form-page__content > *:nth-child(13) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.form-page__content > *:nth-child(14) {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
}
.form-page__content > *:nth-child(15) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}
@media (min-width: 991.98px) {
  .form-page__content {
    width: 65%;
  }
}
@media (max-width: 991.98px) {
  .form-page__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.form-page__content .tel-block {
  position: relative;
  z-index: 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: 1/1/2/4;
}
.form-page__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 19px;
  overflow: hidden;
  background: var(--white);
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: 1/1/4/6;
  -webkit-clip-path: polygon(62% 39%, 62% 0, 100% 0, 100% 100%, 0 100%, 0 39%);
          clip-path: polygon(62% 39%, 62% 0, 100% 0, 100% 100%, 0 100%, 0 39%);
}

.form-body__row {
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border-radius: 19px;
  background: linear-gradient(180deg, #011655 0%, #1C2C5D 100%), linear-gradient(147.38deg, rgba(28, 44, 93, 0.2) 11.12%, rgba(0, 73, 159, 0.2) 56.18%);
  -webkit-clip-path: polygon(62% 39%, 62% 0, 100% 0, 100% 100%, 0 100%, 0 39%);
          clip-path: polygon(62% 39%, 62% 0, 100% 0, 100% 100%, 0 100%, 0 39%);
}