@charset "UTF-8";
:root {
  --black: #141614;
  --primary: #6a6e77;
  --white: #fff;
  --gray: #585958;
  --brown: #7C6F63;
  --red: #F13636;
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a {
  color: inherit;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-size: 25px;
  font-family: "Butler", serif;
  color: var(--primary);
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: "Butler", serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body.lock {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.wrapper.loaded .header {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.container {
  max-width: 1185px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 15px;
}

/*links*/
.link {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  left: 0;
  background: var(--black);
  -webkit-transition: width 0.3s ease 0s;
  transition: width 0.3s ease 0s;
}
@media (any-hover: hover) {
  .link:hover::before {
    width: 100%;
  }
}

/*title text*/
.title-main {
  word-spacing: 0px;
  font-weight: 200;
  letter-spacing: -1px;
  text-transform: uppercase;
  font-size: 145px;
  line-height: 120%;
}
@media (max-width: 1170px) {
  .title-main {
    font-size: calc(54px + 91 * ((100vw - 320px) / (850)));
  }
}

.title {
  font-size: 45px;
  line-height: 120%;
}
@media (max-width: 1170px) {
  .title {
    font-size: calc(22px + 23 * ((100vw - 320px) / (850)));
  }
}

.subtitle {
  font-size: 32px;
  line-height: 120%;
}
@media (max-width: 1170px) {
  .subtitle {
    font-size: calc(16px + 16 * ((100vw - 320px) / (850)));
  }
}

.text {
  font-size: 22px;
  line-height: 120%;
}
@media (max-width: 1170px) {
  .text {
    font-size: calc(18px + 4 * ((100vw - 320px) / (850)));
  }
}

/*header*/
.header {
  position: relative;
  padding-top: 70px;
}
@media (max-width: 1170px) {
  .header {
    padding-top: calc(15px + 55 * ((100vw - 320px) / (850)));
  }
}
@media (max-width: 991.98px) {
  .header::before {
    content: "";
    position: absolute;
    z-index: 7;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--white);
  }
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
}
.header__logo {
  display: block;
  position: relative;
  z-index: 10;
  width: 196px;
  height: 85px;
}
@media (max-width: 1170px) {
  .header__logo {
    width: calc(150px + 46 * ((100vw - 320px) / (850)));
  }
}
@media (max-width: 1170px) {
  .header__logo {
    height: calc(70px + 15 * ((100vw - 320px) / (850)));
  }
}
.header__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 991.98px) {
  .header__body {
    -webkit-transform: translate(200%, 0px);
            transform: translate(200%, 0px);
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: auto;
    padding: 60px 10px 30px 10px;
    padding-top: 150px;
    background: var(--white);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
}
@media (max-width: 991.98px) and (max-width: 1170px) {
  .header__body {
    padding-top: calc(60px + 90 * ((100vw - 320px) / (850)));
  }
}
@media (max-width: 991.98px) {
  .header__body.active {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
}
@media (max-width: 1170px) {
  .header__list {
    gap: calc(10px + 10 * ((100vw - 320px) / (850)));
  }
}
@media (max-width: 991.98px) {
  .header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.header__link {
  color: var(--black);
  text-transform: uppercase;
  font-size: 18px;
  line-height: 120%;
}
@media (max-width: 1170px) {
  .header__link {
    font-size: calc(12px + 6 * ((100vw - 320px) / (850)));
  }
}
.header__button {
  position: relative;
  z-index: 10;
}
@media (max-width: 991.98px) {
  .header__button {
    margin-left: auto;
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 991.98px) {
  .icon-menu {
    display: block;
    background-color: transparent;
    position: relative;
    width: 40px;
    height: 22.5px;
    cursor: pointer;
    z-index: 10;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--black);
  }
  .icon-menu::before {
    top: 0px;
  }
  .icon-menu::after {
    bottom: 0px;
  }
  .icon-menu span {
    top: calc(50% - 1px);
  }
  .icon-menu.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .icon-menu.active::before {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .icon-menu.active::after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

.page__about {
  margin-top: 110px;
  margin-bottom: 110px;
}
@media (max-width: 1170px) {
  .page__about {
    margin-top: calc(40px + 70 * ((100vw - 320px) / (850)));
  }
}
@media (max-width: 1170px) {
  .page__about {
    margin-bottom: calc(40px + 70 * ((100vw - 320px) / (850)));
  }
}

.main-page {
  height: 100vh;
  background: var(--black);
}
.main-page__slider {
  height: 100%;
}

.main-slider__slide, .main-slider .swiper-slide-visble {
  overflow: hidden;
  position: relative;
}
.main-slider__slide::after, .main-slider .swiper-slide-visble::after {
  content: "";
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 60%;
  width: 25vw;
  height: 25vw;
  -webkit-transition: -webkit-transform 0.3s ease-in;
  transition: -webkit-transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 250vw var(--black);
          box-shadow: 0 0 0 250vw var(--black);
}
@media (max-width: 991.98px) {
  .main-slider__slide::after, .main-slider .swiper-slide-visble::after {
    left: 70%;
  }
}
.main-slider__slide.swiper-slide-fully-visible::after, .main-slider .swiper-slide-visble.swiper-slide-fully-visible::after {
  -webkit-transition: -webkit-transform 3s ease-in;
  transition: -webkit-transform 3s ease-in;
  transition: transform 3s ease-in;
  transition: transform 3s ease-in, -webkit-transform 3s ease-in;
  -webkit-transform: translateY(-50%) scale(4);
          transform: translateY(-50%) scale(4);
}
@media (max-width: 991.98px) {
  .main-slider__slide.swiper-slide-fully-visible::after, .main-slider .swiper-slide-visble.swiper-slide-fully-visible::after {
    -webkit-transform: translateY(-50%) scale(6);
            transform: translateY(-50%) scale(6);
  }
}
.main-slider__slide.swiper-slide-fully-visible .main-slider__body, .main-slider .swiper-slide-visble.swiper-slide-fully-visible .main-slider__body {
  opacity: 1;
  top: 30%;
}
.main-slider__body {
  position: absolute;
  z-index: 10;
  height: auto;
  top: 40%;
  left: 5%;
  opacity: 0;
  -webkit-transition: opacity 3.5s, top 1.5s ease-in 0s;
  transition: opacity 3.5s, top 1.5s ease-in 0s;
}
@media (max-width: 991.98px) {
  .main-slider__body {
    top: 20%;
  }
}
.main-slider__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}
.main-slider__image::before {
  content: "";
  opacity: 0.1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--black);
}
.main-slider__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-slider__title {
  color: var(--white);
}
.main-slider__text {
  font-family: "Matter", serif;
  font-weight: 300;
  margin-top: 30px;
  color: var(--white);
}
@media (max-width: 1170px) {
  .main-slider__text {
    margin-top: calc(10px + 20 * ((100vw - 320px) / (850)));
  }
}
.main-slider__dots {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}
@media (max-width: 1170px) {
  .main-slider__dots {
    gap: calc(20px + 20 * ((100vw - 320px) / (850)));
  }
}
.main-slider__dots.swiper-pagination-horizontal, .main-slider__dots.swiper-pagination-vertical {
  z-index: 15;
  width: 40px;
  bottom: 5%;
  left: 5%;
  top: auto;
  right: auto;
}
@media (max-width: 1170px) {
  .main-slider__dots.swiper-pagination-horizontal, .main-slider__dots.swiper-pagination-vertical {
    width: calc(20px + 20 * ((100vw - 320px) / (850)));
  }
}
.main-slider__dots .swiper-pagination-bullet {
  opacity: 1;
  position: relative;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
  background: var(--primary);
  width: 5px;
  height: 5px;
}
.main-slider__dots .swiper-pagination-bullet::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 2.5px;
  left: 2.5px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  -webkit-transition: width 0.3s, height 0.3s, border 0.3s ease 0s;
  transition: width 0.3s, height 0.3s, border 0.3s ease 0s;
}
@media (max-width: 1170px) {
  .main-slider__dots .swiper-pagination-bullet::before {
    width: calc(15px + 5 * ((100vw - 320px) / (850)));
  }
}
@media (max-width: 1170px) {
  .main-slider__dots .swiper-pagination-bullet::before {
    height: calc(15px + 5 * ((100vw - 320px) / (850)));
  }
}
@media (any-hover: hover) {
  .main-slider__dots .swiper-pagination-bullet:hover::before {
    width: 40px;
    height: 40px;
    border: 1px solid var(--primary);
  }
}
@media (any-hover: hover) and (max-width: 1170px) {
  .main-slider__dots .swiper-pagination-bullet:hover::before {
    width: calc(20px + 20 * ((100vw - 320px) / (850)));
  }
}
@media (any-hover: hover) and (max-width: 1170px) {
  .main-slider__dots .swiper-pagination-bullet:hover::before {
    height: calc(20px + 20 * ((100vw - 320px) / (850)));
  }
}
.main-slider__dots .swiper-pagination-bullet-active {
  background: var(--white);
}
.main-slider__dots .swiper-pagination-bullet-active::before {
  width: 50px;
  height: 50px;
  border: 1px solid var(--white);
}
@media (max-width: 1170px) {
  .main-slider__dots .swiper-pagination-bullet-active::before {
    width: calc(30px + 20 * ((100vw - 320px) / (850)));
  }
}
@media (max-width: 1170px) {
  .main-slider__dots .swiper-pagination-bullet-active::before {
    height: calc(30px + 20 * ((100vw - 320px) / (850)));
  }
}

.about-page {
  position: relative;
}
.about-page__container {
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.about-page__title {
  color: var(--brown);
  margin-top: 40px;
}
@media (max-width: 1170px) {
  .about-page__title {
    margin-top: calc(15px + 25 * ((100vw - 320px) / (850)));
  }
}
.about-page__text {
  margin-top: 60px;
  width: 720px;
}
@media (max-width: 1170px) {
  .about-page__text {
    margin-top: calc(30px + 30 * ((100vw - 320px) / (850)));
  }
}
@media (max-width: 1170px) {
  .about-page__text {
    width: calc(290px + 430 * ((100vw - 320px) / (850)));
  }
}
.about-page__image {
  margin-top: 60px;
  overflow: hidden;
  width: 720px;
  height: 480px;
}
@media (max-width: 1170px) {
  .about-page__image {
    margin-top: calc(30px + 30 * ((100vw - 320px) / (850)));
  }
}
@media (max-width: 1170px) {
  .about-page__image {
    width: calc(290px + 430 * ((100vw - 320px) / (850)));
  }
}
@media (max-width: 1170px) {
  .about-page__image {
    height: calc(170px + 310 * ((100vw - 320px) / (850)));
  }
}
.about-page__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider-running {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 0;
}
.slider-running__swiper.swiper-wrapper {
  -webkit-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
}
.slider-running__slide {
  width: auto;
  text-transform: uppercase;
  color: var(--black);
  font-size: 56px;
  line-height: 120%;
}
@media (max-width: 1170px) {
  .slider-running__slide {
    font-size: calc(24px + 32 * ((100vw - 320px) / (850)));
  }
}