@font-face {
    font-family: 'Stapel';
    src: url('Stapel-Light.eot');
    src: local('Stapel Light'), local('Stapel-Light'),
    url('Stapel-Light.eot?#iefix') format('embedded-opentype'),
    url('Stapel-Light.woff2') format('woff2'),
    url('Stapel-Light.woff') format('woff'),
    url('Stapel-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Stapel';
    src: url('Stapel-Medium.eot');
    src: local('Stapel Medium'), local('Stapel-Medium'),
    url('Stapel-Medium.eot?#iefix') format('embedded-opentype'),
    url('Stapel-Medium.woff2') format('woff2'),
    url('Stapel-Medium.woff') format('woff'),
    url('Stapel-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Stapel';
    src: url('Stapel-Bold.eot');
    src: local('Stapel Bold'), local('Stapel-Bold'),
    url('Stapel-Bold.eot?#iefix') format('embedded-opentype'),
    url('Stapel-Bold.woff2') format('woff2'),
    url('Stapel-Bold.woff') format('woff'),
    url('Stapel-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}