@charset "UTF-8";
:root {
  --primary: #101010;
  --black: #000;
  --dark: #25211B;
  --white: #fff;
  --gold1: #D6B06F;
  --gold2: #EBBE72;
  --gold3: #C19A58;
  --gold-dark: #383023;
  --gold-gr: linear-gradient(180deg, #D6B06F 0%, #EBBE72 50%, #C19A58 100%);
  --gray: #ACB2C1;
  --green: #B3C997;
  --red: #DB0000;
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a, button {
  color: inherit;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-size: 10px;
  font-family: "TT Drugs", sans-serif;
  color: var(--primary);
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: "TT Drugs", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
html {
  scroll-behavior: smooth;
}

body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
  scrollbar-gutter: stable;
  color: var(--white);
  background: var(--primary);
}
body.lock {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}
@media (max-width: 1561px) {
  body {
    font-size: 9px;
  }
}
@media (max-width: 1279.98px) {
  body {
    font-size: 8.2px;
  }
}
@media (max-width: 991.98px) {
  body {
    font-size: 8px;
  }
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  max-width: 1561px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 15px;
}

.container_l {
  padding-right: calc((100vw - 1561px) / 2);
}
@media (max-width: 1561px) {
  .container_l {
    padding-right: 1rem;
  }
}

.container_r {
  padding-left: calc((100vw - 1561px) / 2);
}
@media (max-width: 1561px) {
  .container_r {
    padding-left: 1rem;
  }
}

/*links*/
.link, .link-invert {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.link::before, .link-invert::before {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  left: 0;
  background: currentColor;
  -webkit-transition: width 0.3s ease 0s;
  transition: width 0.3s ease 0s;
}
@media (any-hover: hover) {
  .link:hover::before, .link-invert:hover::before {
    width: 100%;
  }
}

.link-invert::before {
  width: 100%;
}
@media (any-hover: hover) {
  .link-invert:hover::before {
    width: 0;
  }
}

/*title text*/
.title-main {
  font-size: 4.2em;
  line-height: 120%;
}

.text-main {
  font-size: 2.4em;
  line-height: 140%;
  letter-spacing: -1px;
}

.subtitle {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 2em;
  line-height: 110%;
  letter-spacing: 4px;
  background: -webkit-gradient(linear, left top, left bottom, from(#D6B06F), color-stop(50%, #EBBE72), to(#C19A58));
  background: linear-gradient(180deg, #D6B06F 0%, #EBBE72 50%, #C19A58 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*social*/
.social__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  border-radius: 4em;
  padding: 4em 0.5em;
  min-width: 11em;
  border: 1px solid var(--gold-dark);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .social__body:hover {
    border: 1px solid var(--gold1);
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
  .social__body:hover .social__link {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1.6em;
  height: 1.6em;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.social__link svg {
  width: 100%;
  height: 100%;
}
.social__link svg path {
  fill: currentColor;
}
@media (any-hover: hover) {
  .social__link:hover {
    color: var(--gold1);
  }
}
.social__text {
  text-transform: uppercase;
  font-size: 1em;
  line-height: 110%;
  letter-spacing: 3px;
}

/*decore*/
.decore-lips img, .decore-lips_1s img, .decore-lips_2s img {
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  opacity: 0;
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
}
.decore-lips.active img, .decore-lips_1s.active img, .decore-lips_2s.active img {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.decore-lips_1s img {
  -webkit-transition: opacity 0s ease 0.5s, -webkit-transform 0.3s ease 0.5s;
  transition: opacity 0s ease 0.5s, -webkit-transform 0.3s ease 0.5s;
  transition: transform 0.3s ease 0.5s, opacity 0s ease 0.5s;
  transition: transform 0.3s ease 0.5s, opacity 0s ease 0.5s, -webkit-transform 0.3s ease 0.5s;
}

.decore-lips_2s img {
  -webkit-transition: opacity 0s ease 1s, -webkit-transform 0.3s ease 1s;
  transition: opacity 0s ease 1s, -webkit-transform 0.3s ease 1s;
  transition: transform 0.3s ease 1s, opacity 0s ease 1s;
  transition: transform 0.3s ease 1s, opacity 0s ease 1s, -webkit-transform 0.3s ease 1s;
}

/*Buttons*/
.button-black, .button-white {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  gap: 0.5rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0.75em 1em;
  text-transform: uppercase;
  font-size: 1.6em;
  line-height: 110%;
  color: var(--white);
  background: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 1em;
  -webkit-transition: color 0.3s ease 0s, background 0.3s ease 0s;
  transition: color 0.3s ease 0s, background 0.3s ease 0s;
}
.button-black svg path, .button-white svg path {
  -webkit-transition: stroke 0.3s ease 0s;
  transition: stroke 0.3s ease 0s;
  stroke: currentColor;
}
@media (any-hover: hover) {
  .button-black:hover, .button-white:hover {
    color: var(--primary);
    background: var(--white);
  }
}
.button-black:disabled, .button-white:disabled {
  pointer-events: none;
  opacity: 0.7;
}

.button-white {
  color: var(--primary);
  background: var(--white);
}
@media (any-hover: hover) {
  .button-white:hover {
    color: var(--white);
    background: var(--primary);
  }
}

/*checkbox*/
.checkbox {
  position: relative;
}
.checkbox:not(:last-child) {
  margin-bottom: 5px;
}
.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}
.checkbox__input:focus + .checkbox__label:before {
  -webkit-box-shadow: 0 0 5px var(--black);
          box-shadow: 0 0 5px var(--black);
}
.checkbox__input:checked + .checkbox__label:before {
  background: url("../img/icons/check.svg") center no-repeat, transparent;
}
.checkbox__label {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  gap: 1rem;
  font-size: 1.2em;
}
.checkbox__label:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  border-radius: 0.325em;
  width: 2em;
  height: 2em;
  border: 1px solid var(--white);
}
.checkbox__label a {
  text-decoration: underline;
  -webkit-transition: -webkit-text-decoration 0.3s ease 0s;
  transition: -webkit-text-decoration 0.3s ease 0s;
  transition: text-decoration 0.3s ease 0s;
  transition: text-decoration 0.3s ease 0s, -webkit-text-decoration 0.3s ease 0s;
}
@media (any-hover: hover) {
  .checkbox__label a:hover {
    text-decoration: none;
  }
}

/*input*/
input[type=text], input[type=email], input[type=tel], textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  text-align: center;
  color: var(--primary);
  border: 1px solid var(--blue);
  border-radius: 2em;
  width: 100%;
  display: block;
  padding: 0.75em 1.5em;
  font-size: 2.4em;
  line-height: 120%;
}
.input::-webkit-input-placeholder {
  color: var(--blue);
}
.input::-moz-placeholder {
  color: var(--blue);
}
.input:-ms-input-placeholder {
  color: var(--blue);
}
.input::-ms-input-placeholder {
  color: var(--blue);
}
.input::placeholder {
  color: var(--blue);
}
.input:focus {
  border: 1px solid var(--primary);
}
.input.err {
  border: 1px solid red;
}

textarea.input {
  resize: none;
}

/*popup*/
.popup {
  z-index: 20;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.popup.open {
  opacity: 1;
  visibility: visible;
}
.popup__content {
  position: relative;
  padding: 4em;
  background: var(--white);
}
.popup__header {
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
}
.popup__close {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  font-size: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 5.75em;
  height: 5.75em;
  border-radius: 50%;
  border: 1px solid var(--black);
  -webkit-transition: background 0.3s ease 0s;
  transition: background 0.3s ease 0s;
}
@media (any-hover: hover) {
  .popup__close:hover {
    background: var(--white);
  }
}
.popup__close span {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}
.popup__close span::before, .popup__close span::after {
  content: "";
  position: absolute;
  width: 2.5em;
  height: 2px;
  top: 50%;
  left: 50%;
  -webkit-transition: -webkit-transform 0.9s ease 0s;
  transition: -webkit-transform 0.9s ease 0s;
  transition: transform 0.9s ease 0s;
  transition: transform 0.9s ease 0s, -webkit-transform 0.9s ease 0s;
  background: #000;
}
.popup__close span::before {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}
.popup__close span::after {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
@media (any-hover: hover) {
  .popup__close span:hover::before {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg);
  }
  .popup__close span:hover::after {
    -webkit-transform: translate(-50%, -50%) rotate(135deg);
            transform: translate(-50%, -50%) rotate(135deg);
  }
}
.popup__form {
  position: relative;
  z-index: 5;
}
@media (max-width: 991.98px) {
  .popup__form {
    width: 50%;
  }
}
@media (max-width: 767.98px) {
  .popup__form {
    width: 100%;
  }
}
.popup__input-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}
.popup__input-block:not(:last-child) {
  margin-bottom: 2em;
}
/*header*/
.header {
  position: fixed;
  z-index: 20;
  width: 100%;
  top: 0;
  left: 0;
}
.header.fixed {
  position: fixed;
}
.header.fixed .header__wrap {
  margin-top: 0;
  padding: 0.5em 0.5em 0.5em 1.5em;
  border-radius: 10em;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(2em);
}
.header.fixed .header__social {
  margin-left: auto;
}
.header__wrap {
  margin-top: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
}
.header__logo {
  display: block;
  position: relative;
  z-index: 10;
  width: 32em;
  height: 2em;
}
.header__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 767.98px) {
  .header__logo {
    width: 22em;
  }
}
.header__body {
  overflow-y: clip;
  overflow-x: auto;
}
@media (max-width: 991.98px) {
  .header__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1rem;
    -webkit-transform: translate(0, -100%);
            transform: translate(0, -100%);
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: auto;
    padding: 12em 1em 3em 1em;
    background: var(--white);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__body.active {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  .header__body .social__link {
    color: var(--primary);
  }
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 3em;
}
@media (max-width: 991.98px) {
  .header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.header__item {
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}
@media (any-hover: hover) {
  .header__item:hover {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
}
.header__link {
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 1.4em;
  line-height: 110%;
  letter-spacing: 4px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .header__link:hover {
    color: var(--gold2);
  }
}
@media (max-width: 991.98px) {
  .header__link {
    color: var(--primary);
  }
}
.header__social {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 3em;
}
@media (max-width: 767.98px) {
  .header__social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.header__icon-menu {
  margin-left: auto;
}

/*burger*/
.icon-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 5.4em;
  height: 5.4em;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
  background: var(--dark);
  -webkit-transition: background 0.3s ease 0s;
  transition: background 0.3s ease 0s;
}
.icon-menu::before, .icon-menu::after {
  content: "";
  position: absolute;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 3em;
  height: 2px;
  border-radius: 4px;
  background: var(--white);
  -webkit-transform-origin: center;
          transform-origin: center;
}
.icon-menu::before {
  top: calc(50% - 4px);
}
.icon-menu::after {
  bottom: calc(50% - 4px);
}
.icon-menu.active::before {
  -webkit-transform: rotate(-45deg) translateY(-50%);
          transform: rotate(-45deg) translateY(-50%);
  top: 50%;
}
.icon-menu.active::after {
  -webkit-transform: rotate(45deg) translateY(50%);
          transform: rotate(45deg) translateY(50%);
  bottom: 50%;
}
@media (any-hover: hover) {
  .icon-menu:hover {
    background: var(--white);
  }
  .icon-menu:hover::before, .icon-menu:hover::after {
    background: var(--dark);
  }
}

/*footer*/
.footer {
  margin-top: 6em;
  margin-bottom: 4em;
}
.footer__row {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-grid-columns: 1fr 4em 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 4em;
}
@media (max-width: 991.98px) {
  .footer__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1rem;
  }
}
.footer__title-block {
  position: relative;
}
@media (max-width: 767.98px) {
  .footer__title-block {
    width: 100%;
  }
}
.footer__title {
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.25em;
  font-family: "Yeseva One";
  text-transform: uppercase;
  font-size: 7em;
  line-height: 120%;
  letter-spacing: -0.1em;
}
@media (max-width: 767.98px) {
  .footer__title {
    font-size: 4em;
  }
}
.footer__title span:first-child {
  font-size: 2em;
  line-height: 100%;
}
.footer__title span:last-child {
  margin-left: auto;
}
.footer__decore-image {
  position: absolute;
  top: 0;
  right: 5%;
  overflow: hidden;
  width: 20em;
  height: auto;
  -webkit-transform: rotate(33deg);
          transform: rotate(33deg);
}
.footer__decore-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 767.98px) {
  .footer__decore-image {
    width: 10em;
  }
}
.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5em;
}
.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
}
.footer__desc {
  font-size: 1.2em;
  line-height: 110%;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.footer__phone {
  display: block;
  font-family: Yeseva One;
  font-size: 7em;
  line-height: 120%;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  background: -webkit-gradient(linear, left top, left bottom, from(#D6B06F), color-stop(50%, #EBBE72), to(#C19A58));
  background: linear-gradient(180deg, #D6B06F 0%, #EBBE72 50%, #C19A58 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .footer__phone:hover {
    opacity: 0.5;
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
}
@media (max-width: 767.98px) {
  .footer__phone {
    font-size: 5em;
  }
}
.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
}
@media (max-width: 767.98px) {
  .footer__social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.footer__copyright {
  margin-top: 7em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}
.footer__text-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
}
.footer__text {
  white-space: nowrap;
  opacity: 0.3;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.9em;
  line-height: 110%;
  letter-spacing: 1px;
  background: -webkit-gradient(linear, left top, left bottom, from(#D6B06F), color-stop(50%, #EBBE72), to(#C19A58));
  background: linear-gradient(180deg, #D6B06F 0%, #EBBE72 50%, #C19A58 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}
@media (any-hover: hover) {
  .footer__text:hover {
    opacity: 1;
  }
}

.page__main {
  padding-top: 12em;
  padding-bottom: 6em;
}
.page__about {
  margin-top: 6em;
}
/*home*/
.main-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  position: relative;
  min-height: 100vh;
}
.main-page__container {
  width: 100%;
  min-height: 100%;
}
.main-page__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}
.main-page__bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.main-page__wrap {
  width: 100%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 767.98px) {
  .main-page__wrap {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 4em;
  }
}
@media (max-width: 479.98px) {
  .main-page__wrap {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
}
.main-page__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4em;
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media (max-width: 767.98px) {
  .main-page__content {
    top: 5%;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.main-page__title-block {
  position: relative;
}
.main-page__title {
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.25em;
  text-transform: uppercase;
  letter-spacing: -0.05em;
  font-family: "Yeseva One";
  font-size: 15.6em;
  line-height: 100%;
}
.main-page__title span:last-child {
  font-size: 1.125em;
  margin-left: 1.5em;
}
@media (max-width: 991.98px) {
  .main-page__title {
    font-size: 10em;
  }
}
@media (max-width: 767.98px) {
  .main-page__title {
    font-size: 5em;
  }
}
.main-page__decore {
  position: absolute;
  bottom: 0;
  left: -10%;
  overflow: hidden;
  width: 32em;
  height: auto;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
}
.main-page__decore img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 767.98px) {
  .main-page__decore {
    width: 16em;
  }
}
.main-page__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 5em;
}
@media (any-hover: hover) {
  .main-page__block:hover .main-page__arrow {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}
.main-page__arrow {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 6em;
  height: 6em;
  border-radius: 50%;
  background: var(--dark);
  -webkit-animation: arrow 2s infinite ease;
          animation: arrow 2s infinite ease;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.main-page__arrow svg {
  width: 3.4em;
  height: 3.4em;
}
.main-page__arrow svg path {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .main-page__arrow:hover {
    background: var(--white);
  }
  .main-page__arrow:hover svg path {
    stroke: var(--gold1);
  }
}
.main-page__text-decore {
  overflow: hidden;
  width: 36em;
  height: auto;
}
.main-page__text-decore img, .main-page__text-decore svg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 991.98px) {
  .main-page__text-decore {
    width: 18em;
  }
}
.main-page__image-block {
  position: relative;
  margin-left: auto;
  max-width: 66%;
}
@media (max-width: 767.98px) {
  .main-page__image-block {
    max-width: 100%;
  }
}
.main-page__image {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.main-page__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.main-page__decore-image {
  position: absolute;
  overflow: hidden;
  height: auto;
}
.main-page__decore-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.main-page__decore-image.decore-lips_1s {
  width: 24em;
  top: 20%;
  right: 0;
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
}
@media (max-width: 991.98px) {
  .main-page__decore-image.decore-lips_1s {
    width: 12em;
  }
}
.main-page__decore-image.decore-lips_2s {
  width: 22em;
  bottom: 10%;
  left: 20%;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
}
@media (max-width: 991.98px) {
  .main-page__decore-image.decore-lips_2s {
    width: 11em;
  }
}

@-webkit-keyframes arrow {
  0% {
    -webkit-transform: translateY(7.5%);
            transform: translateY(7.5%);
  }
  50% {
    -webkit-transform: translateY(-2.5%);
            transform: translateY(-2.5%);
  }
  100% {
    -webkit-transform: translateY(7.5%);
            transform: translateY(7.5%);
  }
}

@keyframes arrow {
  0% {
    -webkit-transform: translateY(7.5%);
            transform: translateY(7.5%);
  }
  50% {
    -webkit-transform: translateY(-2.5%);
            transform: translateY(-2.5%);
  }
  100% {
    -webkit-transform: translateY(7.5%);
            transform: translateY(7.5%);
  }
}
/*about*/
.about-main__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
}
@media (max-width: 767.98px) {
  .about-main__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
.about-main__image-block {
  position: relative;
}
.about-main__decore-image {
  position: absolute;
  top: 10em;
  left: 0;
  overflow: hidden;
  width: 30em;
  height: auto;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
}
.about-main__decore-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 767.98px) {
  .about-main__decore-image {
    width: 15em;
  }
}
.about-main__image {
  position: relative;
  z-index: 5;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.about-main__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.about-main__content {
  max-width: 76em;
}
@media (max-width: 991.98px) {
  .about-main__content {
    max-width: 52em;
  }
}
.about-main__title-block {
  position: relative;
}
.about-main__title {
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.25em;
  font-size: 7em;
  line-height: 120%;
  letter-spacing: -0.1em;
  font-family: "Yeseva One";
  text-transform: uppercase;
}
@media (max-width: 991.98px) {
  .about-main__title {
    font-size: 5em;
  }
}
@media (max-width: 767.98px) {
  .about-main__title {
    font-size: 4em;
  }
}
.about-main__title span:first-child {
  font-size: 2em;
  line-height: 100%;
}
.about-main__title span:nth-child(2) {
  margin-left: auto;
}
.about-main__title span:last-child {
  margin-left: 1.5em;
}
@media (max-width: 767.98px) {
  .about-main__title span:last-child {
    margin-left: auto;
  }
}
.about-main__decore {
  position: absolute;
  bottom: 0;
  left: -5%;
  overflow: hidden;
  width: 22em;
  height: auto;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}
.about-main__decore img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 767.98px) {
  .about-main__decore {
    width: 12em;
  }
}
.about-main__text-block {
  margin-top: 8em;
}
.about-main__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}
.about-main__text span {
  font-weight: 600;
}

/*more*/
.more-main__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
}
@media (max-width: 767.98px) {
  .more-main__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.more-main__content {
  max-width: 71em;
}
@media (max-width: 991.98px) {
  .more-main__content {
    max-width: 52em;
  }
}
@media (max-width: 767.98px) {
  .more-main__content {
    padding-right: 1rem;
  }
}
.more-main__title-block {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.more-main__title {
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.25em;
  font-size: 7em;
  line-height: 120%;
  letter-spacing: -0.1em;
  font-family: "Yeseva One";
  text-transform: uppercase;
}
@media (max-width: 991.98px) {
  .more-main__title {
    font-size: 5em;
  }
}
@media (max-width: 767.98px) {
  .more-main__title {
    font-size: 4em;
  }
}
.more-main__title span {
  font-size: 2em;
  line-height: 100%;
}
.more-main__decore {
  position: absolute;
  bottom: 0;
  left: 85%;
  overflow: hidden;
  width: 25em;
  height: auto;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}
.more-main__decore img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 767.98px) {
  .more-main__decore {
    width: 12em;
  }
}
.more-main__text-block {
  margin-top: 8em;
}
.more-main__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}
.more-main__image-block {
  position: relative;
}
.more-main__image {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.more-main__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.more-main__decore-image {
  position: absolute;
  overflow: hidden;
  height: auto;
}
.more-main__decore-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.more-main__decore-image.decore-lips_1s {
  width: 25em;
  bottom: 30%;
  left: 0;
  -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
}
@media (max-width: 767.98px) {
  .more-main__decore-image.decore-lips_1s {
    width: 12em;
  }
}
.more-main__decore-image.decore-lips_2s {
  width: 15em;
  top: 5em;
  right: 10em;
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
}
@media (max-width: 767.98px) {
  .more-main__decore-image.decore-lips_2s {
    width: 8em;
  }
}

/*home*/