@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap&subset=cyrillic-ext");
:root {
  --primary: #2e2e2e;
  --white: #fff;
  --gold: #C9A96E;
  --light: #E5E5E5;
  --blue: #07B3E8;
  --gray: #545454;
  --green: #B3C997;
  --red: #F13636;
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a {
  color: inherit;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: var(--primary);
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: "Montserrat", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  scrollbar-gutter: stable;
}
body.lock {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.wrapper.loaded .header {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.container {
  max-width: 1185px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 15px;
}

.cathegory {
  color: var(--gold);
  font-size: 12px;
  line-height: 133%;
  text-transform: uppercase;
}
@media (max-width: 1170px) {
  .cathegory {
    font-size: calc(10px + 2 * (100vw - 320px) / (850));
  }
}

.title-main {
  font-size: 24px;
  line-height: 140%;
}
@media (max-width: 1170px) {
  .title-main {
    font-size: calc(18px + 6 * (100vw - 320px) / (850));
  }
}

.title {
  font-size: 18px;
  line-height: 140%;
  color: inherit;
  display: block;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}
@media (max-width: 1170px) {
  .title {
    font-size: calc(14px + 4 * (100vw - 320px) / (850));
  }
}
.title:hover {
  color: var(--gold);
}

.text {
  font-size: 18px;
  line-height: 120%;
}
@media (max-width: 1170px) {
  .text {
    font-size: calc(14px + 4 * (100vw - 320px) / (850));
  }
}

.title-link {
  font-size: 20px;
  line-height: 131%;
  width: 100%;
  height: 50px;
  border: 1px solid var(--light);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}
@media (max-width: 1170px) {
  .title-link {
    font-size: calc(14px + 6 * (100vw - 320px) / (850));
  }
}

.link {
  padding-bottom: 10px;
  position: relative;
}
.link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background: transparent;
  -webkit-transition: background 0.3s ease 0s;
  transition: background 0.3s ease 0s;
}
@media (any-hover: hover) {
  .link:hover::before {
    background: var(--primary);
  }
}

/*header*/
.header {
  position: relative;
  padding-top: 30px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
}
@media (max-width: 1170px) {
  .header {
    padding-top: calc(15px + 15 * (100vw - 320px) / (850));
  }
}
@media (max-width: 767.98px) {
  .header::before {
    content: "";
    position: absolute;
    z-index: 7;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--white);
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
  }
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 767.98px) {
  .header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 1rem;
  }
}
.header__logo {
  display: block;
  position: relative;
  z-index: 10;
  width: 196px;
  height: auto;
}
@media (max-width: 1170px) {
  .header__logo {
    width: calc(150px + 46 * (100vw - 320px) / (850));
  }
}
.header__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (min-width: 767.98px) {
  .header__logo {
    margin-bottom: 20px;
  }
}
@media (min-width: 767.98px) and (max-width: 1170px) {
  .header__logo {
    margin-bottom: calc(10px + 10 * (100vw - 320px) / (850));
  }
}
@media (max-width: 767.98px) {
  .header__body {
    -webkit-transform: translate(200%, 0px);
            transform: translate(200%, 0px);
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: auto;
    padding: 60px 10px 30px 10px;
    padding-top: 170px;
    background: var(--white);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
}
@media (max-width: 767.98px) and (max-width: 1170px) {
  .header__body {
    padding-top: calc(90px + 80 * (100vw - 320px) / (850));
  }
}
@media (max-width: 767.98px) {
  .header__body.active {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
}
@media (max-width: 1170px) {
  .header__list {
    gap: calc(10px + 10 * (100vw - 320px) / (850));
  }
}
@media (max-width: 767.98px) {
  .header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    width: 100%;
  }
}
@media (max-width: 767.98px) {
  .header__item {
    width: 100%;
  }
}
.header__link {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 120%;
}
@media (max-width: 1170px) {
  .header__link {
    font-size: calc(12px + 6 * (100vw - 320px) / (850));
  }
}
@media (max-width: 767.98px) {
  .header__link {
    font-size: 18px;
    font-weight: 700;
    border-bottom: 1px solid var(--light);
    display: block;
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 767.98px) {
  .icon-menu {
    display: block;
    background-color: transparent;
    position: relative;
    width: 40px;
    height: 22.5px;
    cursor: pointer;
    z-index: 10;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--primary);
  }
  .icon-menu::before {
    top: 0px;
  }
  .icon-menu::after {
    bottom: 0px;
  }
  .icon-menu span {
    top: calc(50% - 1px);
  }
  .icon-menu.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .icon-menu.active::before {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .icon-menu.active::after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

.footer {
  margin-top: 80px;
}
@media (max-width: 1170px) {
  .footer {
    margin-top: calc(50px + 30 * (100vw - 320px) / (850));
  }
}
.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__row:last-child {
  border-top: 1px solid var(--light);
}
.footer__menu {
  margin-top: 40px;
}
@media (max-width: 1170px) {
  .footer__menu {
    margin-top: calc(30px + 10 * (100vw - 320px) / (850));
  }
}
.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
}
@media (max-width: 767.98px) {
  .footer__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.footer__link {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 120%;
}
@media (max-width: 1170px) {
  .footer__link {
    font-size: calc(14px + 4 * (100vw - 320px) / (850));
  }
}
.footer__copyright {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 128%;
  color: var(--gray);
}

.page__content {
  margin-top: 40px;
}
@media (max-width: 1170px) {
  .page__content {
    margin-top: calc(10px + 30 * (100vw - 320px) / (850));
  }
}
.page__slider {
  margin-top: 70px;
}
@media (max-width: 1170px) {
  .page__slider {
    margin-top: calc(40px + 30 * (100vw - 320px) / (850));
  }
}

@media (min-width: 767.98px) {
  .content__container {
    display: -ms-grid;
    display: grid;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -ms-grid-columns: 3fr 1rem 1fr;
    grid-template-columns: 3fr 1fr;
    gap: 1rem;
  }
}
.main-content__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
}
@media (max-width: 1170px) {
  .main-content__container {
    gap: calc(30px + 20 * (100vw - 320px) / (850));
  }
}
.main-content__row {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 1rem;
}
.item-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  border: 1px solid var(--light);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .item-main:hover {
    -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0227778), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222), 0px 20px 13px rgba(0, 0, 0, 0.015), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222), 3px 44px 54px rgba(0, 0, 0, 0.08);
            box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0227778), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222), 0px 20px 13px rgba(0, 0, 0, 0.015), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222), 3px 44px 54px rgba(0, 0, 0, 0.08);
  }
}
.item-main__image, .item-main__image_big {
  overflow: hidden;
  width: 100%;
  height: 320px;
}
@media (max-width: 1170px) {
  .item-main__image, .item-main__image_big {
    height: calc(290px + 30 * (100vw - 320px) / (850));
  }
}
.item-main__image img, .item-main__image_big img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}
@media (any-hover: hover) {
  .item-main__image img:hover, .item-main__image_big img:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
.item-main__image_big {
  height: 420px;
}
@media (max-width: 1170px) {
  .item-main__image_big {
    height: calc(320px + 100 * (100vw - 320px) / (850));
  }
}
.item-main__cathegory {
  text-align: center;
}
.item-main__bottom {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
}
@media (max-width: 1170px) {
  .item-main__bottom {
    padding: calc(5px + 5 * (100vw - 320px) / (850));
  }
}
.item-main__title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-bottom: 10px;
}
.item-main__date {
  text-transform: lowercase;
  color: var(--gray);
  font-size: 12px;
  line-height: 120%;
}
@media (max-width: 1170px) {
  .item-main__date {
    font-size: calc(10px + 2 * (100vw - 320px) / (850));
  }
}
.item-main__text {
  margin-bottom: 10px;
}

@media (max-width: 767.98px) {
  .menu-content {
    margin-top: 40px;
  }
}
.menu-content__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}
@media (max-width: 1170px) {
  .menu-content__container {
    gap: calc(15px + 25 * (100vw - 320px) / (850));
  }
}
.categories-menu__menu {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 1170px) {
  .categories-menu__menu {
    margin-top: calc(10px + 10 * (100vw - 320px) / (850));
  }
}
.categories-menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-transition: background 0.3s ease 0s;
  transition: background 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (max-width: 1170px) {
  .categories-menu__item {
    padding-top: calc(5px + 5 * (100vw - 320px) / (850));
  }
}
@media (max-width: 1170px) {
  .categories-menu__item {
    padding-bottom: calc(5px + 5 * (100vw - 320px) / (850));
  }
}
.categories-menu__item:not(:last-child) {
  border-bottom: 1px solid var(--light);
}
@media (any-hover: hover) {
  .categories-menu__item:hover {
    background: var(--light);
  }
}
.categories-menu__text {
  font-size: 14px;
  line-height: 120%;
}
@media (max-width: 1170px) {
  .categories-menu__text {
    font-size: calc(12px + 2 * (100vw - 320px) / (850));
  }
}
.tags-menu__row {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
}
@media (max-width: 1170px) {
  .tags-menu__row {
    margin-top: calc(10px + 10 * (100vw - 320px) / (850));
  }
}
.tags-menu__column {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 10px;
  background: var(--light);
  -webkit-transition: background 0.3s ease 0s;
  transition: background 0.3s ease 0s;
}
@media (max-width: 1170px) {
  .tags-menu__column {
    padding: calc(5px + 5 * (100vw - 320px) / (850));
  }
}
@media (any-hover: hover) {
  .tags-menu__column:hover {
    background: var(--gray);
  }
  .tags-menu__column:hover .tags-menu__text {
    color: var(--white);
  }
}
.tags-menu__text {
  font-size: 14px;
  line-height: 120%;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}
@media (max-width: 1170px) {
  .tags-menu__text {
    font-size: calc(12px + 2 * (100vw - 320px) / (850));
  }
}

.slider-page__title {
  width: 100%;
}
.main-slider {
  margin-top: 40px;
}
@media (max-width: 1170px) {
  .main-slider {
    margin-top: calc(15px + 25 * (100vw - 320px) / (850));
  }
}
.main-slider__swiper {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.main-slider__slide {
  min-height: 100%;
  height: auto;
}
.main-slider__controls {
  position: absolute;
  z-index: 10;
  width: 100%;
  top: 50%;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.main-slider__prev, .main-slider__next {
  cursor: pointer;
  width: 40px;
  height: 30px;
  background: var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}
@media (max-width: 1170px) {
  .main-slider__prev, .main-slider__next {
    width: calc(30px + 10 * (100vw - 320px) / (850));
  }
}
@media (max-width: 1170px) {
  .main-slider__prev, .main-slider__next {
    height: calc(25px + 5 * (100vw - 320px) / (850));
  }
}
.main-slider__prev.swiper-button-disabled, .main-slider__next.swiper-button-disabled {
  opacity: 0.4;
}
@media (any-hover: hover) {
  .main-slider__prev:hover, .main-slider__next:hover {
    opacity: 0.7;
  }
}
.main-slider__prev svg, .main-slider__next svg {
  width: 37px;
  height: auto;
}
@media (max-width: 1170px) {
  .main-slider__prev svg, .main-slider__next svg {
    width: calc(30px + 7 * (100vw - 320px) / (850));
  }
}
.main-slider__prev svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.slide-main__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  border: 1px solid var(--light);
}
.slide-main__image {
  overflow: hidden;
  width: 100%;
  height: 250px;
}
@media (max-width: 1170px) {
  .slide-main__image {
    height: calc(180px + 70 * (100vw - 320px) / (850));
  }
}
.slide-main__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}
@media (any-hover: hover) {
  .slide-main__image img:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
@media (max-width: 479.98px) {
  .slide-main__image {
    height: 320px;
  }
}
.slide-main__cathegory {
  text-align: center;
}
.slide-main__bottom {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
}
@media (max-width: 1170px) {
  .slide-main__bottom {
    padding: calc(5px + 5 * (100vw - 320px) / (850));
  }
}
.slide-main__title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-bottom: 10px;
}
.slide-main__date {
  text-transform: lowercase;
  color: var(--gray);
  font-size: 12px;
  line-height: 120%;
}
@media (max-width: 1170px) {
  .slide-main__date {
    font-size: calc(10px + 2 * (100vw - 320px) / (850));
  }
}

/*section*/
.page__section {
  margin-top: 50px;
}
@media (max-width: 1170px) {
  .page__section {
    margin-top: calc(30px + 20 * (100vw - 320px) / (850));
  }
}

.section-page__title {
  width: 100%;
}
.section-page__items {
  margin-top: 40px;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 1rem;
}
@media (max-width: 1170px) {
  .section-page__items {
    margin-top: calc(15px + 25 * (100vw - 320px) / (850));
  }
}

/*detail*/
.page__detail {
  margin-top: 50px;
}
@media (max-width: 1170px) {
  .page__detail {
    margin-top: calc(30px + 20 * (100vw - 320px) / (850));
  }
}

.detail__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 2rem;
}
.detail__image {
  overflow: hidden;
  width: 640px;
  height: 100%;
}
@media (max-width: 1170px) {
  .detail__image {
    width: calc(290px + 350 * (100vw - 320px) / (850));
  }
}
.detail__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.detail__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  gap: 1rem;
}
.detail__text-block {
  margin-top: 50px;
}
@media (max-width: 1170px) {
  .detail__text-block {
    margin-top: calc(20px + 30 * (100vw - 320px) / (850));
  }
}