@charset "UTF-8";
:root {
  --primary: #151519;
  --black: #000;
  --white: #fff;
  --light: #A9A9A9;
  --blue: #0D2853;
  --yellow: #FCFCEE;
  --green: #B3C997;
  --red: #6F132E;
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a, button {
  color: inherit;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-size: 10px;
  font-family: "Tilda Sans", sans-serif;
  color: var(--primary);
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: "Tilda Sans", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
html {
  scroll-behavior: smooth;
}

body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
  scrollbar-gutter: stable;
}
body.lock {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}
@media (max-width: 1435px) {
  body {
    font-size: 9px;
  }
}
@media (max-width: 1279.98px) {
  body {
    font-size: 8.2px;
  }
}
@media (max-width: 991.98px) {
  body {
    font-size: 8px;
  }
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  max-width: 1435px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 15px;
}

/*links*/
.link, .link-invert {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.link::before, .link-invert::before {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  left: 0;
  background: currentColor;
  -webkit-transition: width 0.3s ease 0s;
  transition: width 0.3s ease 0s;
}
@media (any-hover: hover) {
  .link:hover::before, .link-invert:hover::before {
    width: 100%;
  }
}

.link-invert::before {
  width: 100%;
}
@media (any-hover: hover) {
  .link-invert:hover::before {
    width: 0;
  }
}

/*title text*/
.title-anim-block, .text-anim-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.title-anim-block.active .title-anim > *, .text-anim-block.active .title-anim > * {
  -webkit-transform: translateY(0) rotate(0);
          transform: translateY(0) rotate(0);
}

.title-anim {
  overflow: hidden;
  display: block;
}
.title-anim span {
  display: block;
}
.title-anim > * {
  -webkit-transition: -webkit-transform 1s ease 0s;
  transition: -webkit-transform 1s ease 0s;
  transition: transform 1s ease 0s;
  transition: transform 1s ease 0s, -webkit-transform 1s ease 0s;
  -webkit-transform: translateY(100%) rotate(-5deg);
          transform: translateY(100%) rotate(-5deg);
}

.title, .title-xl, .title-l {
  text-transform: uppercase;
  font-family: "Vetrino";
  font-size: 4.2em;
  line-height: 120%;
}

.title-xl {
  font-size: 10em;
}

.title-l {
  font-size: 5.6em;
}

.text, .text-xl, .text-l {
  font-size: 1.6em;
  line-height: 120%;
}

.text-xl {
  font-size: 3.2em;
}

.text-l {
  font-size: 1.8em;
}

/*social*/
.social__link {
  width: 3em;
  height: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.social__link svg {
  width: 100%;
  height: 100%;
}
.social__link svg path {
  fill: var(--blue);
  -webkit-transition: fill 0.3s ease 0s;
  transition: fill 0.3s ease 0s;
}
@media (any-hover: hover) {
  .social__link:hover svg path {
    fill: var(--red);
  }
}

/*slider*/
.slider-fade {
  width: inherit;
  height: inherit;
}
.slider-fade__image {
  display: block;
  overflow: hidden;
  width: inherit;
  height: inherit;
}
.slider-fade__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*form*/
.form__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}
.form__row {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
}
@media (max-width: 767.98px) {
  .form__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .form__row .input-body, .form__row .form__button {
    width: 100%;
  }
}
.form__footer {
  margin-top: 1rem;
}
.form__policy {
  color: var(--light);
}
.form__policy a {
  text-decoration: underline;
}

/*hover item*/
.hover-item {
  position: relative;
  overflow: hidden;
}
.hover-item span.item {
  display: block;
  -webkit-transform: translate(-50%, -50%) scale(0.1);
          transform: translate(-50%, -50%) scale(0.1);
  position: absolute;
  width: 100%;
  aspect-ratio: 1/1;
  background: var(--primary);
  opacity: 0.1;
  border-radius: 50%;
  -webkit-transition: opacity 1.3s ease 0s, -webkit-transform 1s ease 0s;
  transition: opacity 1.3s ease 0s, -webkit-transform 1s ease 0s;
  transition: transform 1s ease 0s, opacity 1.3s ease 0s;
  transition: transform 1s ease 0s, opacity 1.3s ease 0s, -webkit-transform 1s ease 0s;
}
.hover-item.animate span.item {
  opacity: 0;
  -webkit-transform: translate(-50%, -50%) scale(2);
          transform: translate(-50%, -50%) scale(2);
}

/*Buttons*/
.button-black, .button-white {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  gap: 0.5rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0.75em 1em;
  text-transform: uppercase;
  font-size: 1.6em;
  line-height: 110%;
  color: var(--white);
  background: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 1em;
  -webkit-transition: color 0.3s ease 0s, background 0.3s ease 0s;
  transition: color 0.3s ease 0s, background 0.3s ease 0s;
}
.button-black svg path, .button-white svg path {
  -webkit-transition: stroke 0.3s ease 0s;
  transition: stroke 0.3s ease 0s;
  stroke: currentColor;
}
@media (any-hover: hover) {
  .button-black:hover, .button-white:hover {
    color: var(--primary);
    background: var(--white);
  }
}
.button-black:disabled, .button-white:disabled {
  pointer-events: none;
  opacity: 0.7;
}

.button-white {
  color: var(--primary);
  background: var(--white);
}
@media (any-hover: hover) {
  .button-white:hover {
    color: var(--white);
    background: var(--primary);
  }
}

/*checkbox*/
.checkbox {
  position: relative;
}
.checkbox:not(:last-child) {
  margin-bottom: 5px;
}
.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}
.checkbox__input:focus + .checkbox__label:before {
  -webkit-box-shadow: 0 0 5px var(--black);
          box-shadow: 0 0 5px var(--black);
}
.checkbox__input:checked + .checkbox__label:before {
  background: url("../img/icons/check.svg") center no-repeat, transparent;
}
.checkbox__label {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  gap: 1rem;
  font-size: 1.2em;
}
.checkbox__label:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  border-radius: 0.325em;
  width: 2em;
  height: 2em;
  border: 1px solid var(--white);
}
.checkbox__label a {
  text-decoration: underline;
  -webkit-transition: -webkit-text-decoration 0.3s ease 0s;
  transition: -webkit-text-decoration 0.3s ease 0s;
  transition: text-decoration 0.3s ease 0s;
  transition: text-decoration 0.3s ease 0s, -webkit-text-decoration 0.3s ease 0s;
}
@media (any-hover: hover) {
  .checkbox__label a:hover {
    text-decoration: none;
  }
}

/*input*/
input[type=text], input[type=email], input[type=tel], textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input-body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 2em;
  padding: 1.25em;
  color: var(--light);
  background: transparent;
  border: 1px solid var(--light);
}
.input-body label {
  position: absolute;
  z-index: 2;
  top: 1em;
  left: 1em;
  text-transform: uppercase;
  color: var(--light);
  font-size: 1.2em;
  line-height: 120%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0.5rem;
  -webkit-transition: top 0.3s, left 0.3s ease 0s, -webkit-transform 0.3s;
  transition: top 0.3s, left 0.3s ease 0s, -webkit-transform 0.3s;
  transition: transform 0.3s, top 0.3s, left 0.3s ease 0s;
  transition: transform 0.3s, top 0.3s, left 0.3s ease 0s, -webkit-transform 0.3s;
}
.input-body label svg {
  width: 1.3em;
  height: 1.8em;
}
.input-body input {
  position: relative;
  z-index: 5;
  opacity: 0;
  background: transparent;
  color: var(--light);
  font-size: 1.6em;
  line-height: 110%;
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}
.input-body input::-webkit-input-placeholder {
  color: var(--light);
}
.input-body input::-moz-placeholder {
  color: var(--light);
}
.input-body input:-ms-input-placeholder {
  color: var(--light);
}
.input-body input::-ms-input-placeholder {
  color: var(--light);
}
.input-body input::placeholder {
  color: var(--light);
}
.input-body input:focus, .input-body input:valid {
  opacity: 1;
}
.input-body input:focus ~ label, .input-body input:valid ~ label {
  top: -0.5em;
  left: -1em;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}
.input-body:focus-within {
  border: 1px solid var(--light);
}
.input-body.err {
  border: 1px solid red;
}

textarea {
  resize: none;
  background: transparent;
}

/*popup*/
.popup {
  z-index: 20;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.popup.open {
  opacity: 1;
  visibility: visible;
}
.popup__content {
  position: relative;
  padding: 4em;
  border-radius: 4em;
  background: var(--yellow);
}
.popup__header {
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
}
.popup__close {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  font-size: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 3.75em;
  height: 3.75em;
  border-radius: 50%;
  border: 1px solid var(--primary);
  -webkit-transition: background 0.3s ease 0s;
  transition: background 0.3s ease 0s;
}
@media (any-hover: hover) {
  .popup__close:hover {
    background: var(--white);
  }
}
.popup__close span {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}
.popup__close span::before, .popup__close span::after {
  content: "";
  position: absolute;
  width: 1.75em;
  height: 2px;
  top: 50%;
  left: 50%;
  -webkit-transition: -webkit-transform 0.9s ease 0s;
  transition: -webkit-transform 0.9s ease 0s;
  transition: transform 0.9s ease 0s;
  transition: transform 0.9s ease 0s, -webkit-transform 0.9s ease 0s;
  background: #000;
}
.popup__close span::before {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}
.popup__close span::after {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
@media (any-hover: hover) {
  .popup__close span:hover::before {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg);
  }
  .popup__close span:hover::after {
    -webkit-transform: translate(-50%, -50%) rotate(135deg);
            transform: translate(-50%, -50%) rotate(135deg);
  }
}
.popup__text {
  margin-top: 2em;
}
.popup__form {
  position: relative;
  z-index: 5;
}
@media (max-width: 991.98px) {
  .popup__form {
    width: 50%;
  }
}
@media (max-width: 767.98px) {
  .popup__form {
    width: 100%;
  }
}
.popup__input-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}
.popup__input-block:not(:last-child) {
  margin-bottom: 2em;
}
/*header*/
.header {
  position: fixed;
  z-index: 20;
  width: 100%;
  top: 0;
  left: 0;
  padding-top: 4em;
}
.header.fixed {
  padding-top: 0;
}
.header.fixed .header__logo {
  width: 10em;
}
.header__container {
  position: relative;
}
.header__container::before {
  content: "";
  position: absolute;
  z-index: 7;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 8em;
  background: var(--yellow);
}
@media (max-width: 767.98px) {
  .header__container::before {
    border-radius: 4em;
  }
}
.header__main {
  position: relative;
  z-index: 10;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1fr 1rem -webkit-max-content 1rem 1fr;
  -ms-grid-columns: 1fr 1rem max-content 1rem 1fr;
  grid-template-columns: 1fr -webkit-max-content 1fr;
  grid-template-columns: 1fr max-content 1fr;
  gap: 1rem;
}
@media (min-width: 767.98px) {
  .header__wrap {
    padding: 0 4em;
  }
}
.header__logo {
  display: block;
  position: relative;
  z-index: 10;
  width: 18em;
  height: 14em;
}
.header__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 767.98px) {
  .header__logo {
    width: 12em;
    height: 9em;
  }
}
.header__body {
  overflow-y: clip;
  overflow-x: auto;
}
@media (max-width: 991.98px) {
  .header__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1rem;
    -webkit-transform: translate(0, -100%);
            transform: translate(0, -100%);
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: auto;
    padding: 22em 1em 3em 1em;
    background: var(--white);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__body.active {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}
@media (max-width: 767.98px) {
  .header__body {
    padding: 16em 1em 3em 1em;
  }
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1em;
}
@media (max-width: 991.98px) {
  .header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (min-width: 991.98px) {
  .header__item:not(:first-child) {
    margin: 0 auto;
  }
}
.header__link {
  font-family: "Vetrino";
}
.header__link, .header__link-phone {
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 1.8em;
  line-height: 120%;
}
.header__link-phone {
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}
@media (any-hover: hover) {
  .header__link-phone:hover {
    opacity: 0.5;
  }
}
.header__block {
  overflow-y: clip;
  overflow-x: auto;
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
}
@media (max-width: 991.98px) {
  .header__block {
    margin-left: auto;
  }
}
.header__block .header__item, .header__block .header__link-phone {
  margin: 0 auto;
}
.header__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
}
@media (max-width: 767.98px) {
  .header__social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*burger*/
.icon-menu {
  display: none;
}
@media (max-width: 991.98px) {
  .icon-menu {
    display: block;
    background-color: transparent;
    position: relative;
    width: 3.8em;
    height: 1.2em;
    cursor: pointer;
    z-index: 10;
  }
  .icon-menu::before, .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 1em;
    background: var(--primary);
  }
  .icon-menu::before {
    top: 0px;
  }
  .icon-menu::after {
    bottom: 0px;
  }
  .icon-menu.active::before {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
    top: calc(50% - 2px);
  }
  .icon-menu.active::after {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
    bottom: calc(50% - 2px);
  }
}

/*footer*/
.footer {
  color: var(--white);
  margin-bottom: 4em;
}
.footer__container {
  background: var(--red);
  padding-top: 6em;
  padding-bottom: 4em;
  border-radius: 0 0 8em 8em;
}
@media (max-width: 767.98px) {
  .footer__container {
    border-radius: 0 0 4em 4em;
  }
}
@media (min-width: 767.98px) {
  .footer__wrap {
    padding: 0 4em;
  }
}
.footer__main {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1fr 1rem -webkit-max-content 1rem 1fr;
  -ms-grid-columns: 1fr 1rem max-content 1rem 1fr;
  grid-template-columns: 1fr -webkit-max-content 1fr;
  grid-template-columns: 1fr max-content 1fr;
  gap: 1rem;
}
@media (max-width: 991.98px) {
  .footer__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1rem;
  }
}
.footer__body {
  overflow-y: clip;
  overflow-x: auto;
}
.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1em;
}
@media (max-width: 767.98px) {
  .footer__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.footer__block {
  overflow-y: clip;
  overflow-x: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
}
.footer__block .header__item, .footer__block .header__link-phone {
  margin: 0 auto;
}
@media (max-width: 767.98px) {
  .footer__block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
}
@media (max-width: 991.98px) {
  .footer__social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.footer__social .social__link svg path {
  fill: var(--white);
}
@media (any-hover: hover) {
  .footer__social .social__link:hover svg path {
    fill: var(--blue);
  }
}
.footer__row {
  margin-top: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
}
@media (max-width: 991.98px) {
  .footer__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}
.footer__text {
  font-weight: 300;
  font-size: 1.4em;
  line-height: 120%;
}
.footer__text a {
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}
@media (any-hover: hover) {
  .footer__text a:hover {
    opacity: 0.5;
  }
}

.page__main {
  margin-top: 3em;
}
.page__about {
  margin-top: 12em;
}
.page__achievements {
  margin-top: 12em;
}
.page__portfolio {
  margin-top: 12em;
}

.container_r {
  padding-right: calc((100vw - 1435px) / 2);
}
@media (max-width: 1435px) {
  .container_r {
    padding: 0 1rem;
  }
}

.container_l {
  padding-left: calc((100vw - 1435px) / 2);
}
@media (max-width: 1435px) {
  .container_l {
    padding: 0 1rem;
  }
}

/*home*/
.main__container {
  border-radius: 8em;
  background: var(--yellow);
}
@media (max-width: 767.98px) {
  .main__container {
    border-radius: 4em;
  }
}
.main__wrap {
  padding-top: 14em;
  padding-bottom: 6em;
}
@media (min-width: 767.98px) {
  .main__wrap {
    padding-top: 20em;
    padding-left: 4em;
    padding-right: 4em;
  }
}
.main__row-top {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1fr 1rem 1fr 1rem 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}
@media (max-width: 479.98px) {
  .main__row-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1rem;
  }
}
.main__row-bottom {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-grid-columns: 1fr 1rem 1fr 1rem 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}
@media (max-width: 991.98px) {
  .main__row-bottom {
    margin-top: 3em;
  }
}
@media (max-width: 767.98px) {
  .main__row-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
.main__image {
  padding: 0 5em;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 1/1;
  opacity: 0;
  -webkit-transition: opacity 1.3s ease 0s;
  transition: opacity 1.3s ease 0s;
}
.main__image.active {
  opacity: 1;
}
.main__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-animation: ring 60s linear infinite;
          animation: ring 60s linear infinite;
}
.main__content.active .main__title-svg svg path {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.main__title-svg {
  overflow: hidden;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 15em;
}
.main__title-svg svg {
  width: 100%;
  height: 100%;
}
.main__title-svg svg path {
  opacity: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}
@media (max-width: 991.98px) {
  .main__title-svg {
    width: 100%;
  }
}
.main__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
}
@media (min-width: 767.98px) {
  .main__block {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/span 2;
    max-width: 56em;
  }
}
.main__person {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  overflow: hidden;
  border-radius: 50%;
  width: 10em;
  aspect-ratio: 1/1;
}
.main__person img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 767.98px) {
  .main__person {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}
.main__text-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}
.main__button-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}
.main__text {
  font-weight: 300;
}
.main__link {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 1.6em;
  line-height: 120%;
  text-transform: uppercase;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  text-underline-position: under;
}
.main__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
  padding: 1em;
  border-radius: 3em;
  border: 1px solid var(--light);
  -webkit-transition: background 0.3s ease 0s;
  transition: background 0.3s ease 0s;
}
@media (any-hover: hover) {
  .main__button:hover img {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
.main__button i {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  overflow: hidden;
  width: 3em;
  height: 3em;
  border-radius: 50%;
}
.main__button i img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}
.main__button span {
  margin: 0 auto;
  font-weight: 300;
  font-size: 1.6em;
  line-height: 120%;
  text-transform: uppercase;
}

.main__title-svg svg path:nth-child(1) {
  -webkit-transition: opacity 0.125s ease 0s, -webkit-transform 0.125s;
  transition: opacity 0.125s ease 0s, -webkit-transform 0.125s;
  transition: transform 0.125s, opacity 0.125s ease 0s;
  transition: transform 0.125s, opacity 0.125s ease 0s, -webkit-transform 0.125s;
}

.main__title-svg svg path:nth-child(2) {
  -webkit-transition: opacity 0.25s ease 0s, -webkit-transform 0.25s;
  transition: opacity 0.25s ease 0s, -webkit-transform 0.25s;
  transition: transform 0.25s, opacity 0.25s ease 0s;
  transition: transform 0.25s, opacity 0.25s ease 0s, -webkit-transform 0.25s;
}

.main__title-svg svg path:nth-child(3) {
  -webkit-transition: opacity 0.375s ease 0s, -webkit-transform 0.375s;
  transition: opacity 0.375s ease 0s, -webkit-transform 0.375s;
  transition: transform 0.375s, opacity 0.375s ease 0s;
  transition: transform 0.375s, opacity 0.375s ease 0s, -webkit-transform 0.375s;
}

.main__title-svg svg path:nth-child(4) {
  -webkit-transition: opacity 0.5s ease 0s, -webkit-transform 0.5s;
  transition: opacity 0.5s ease 0s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.5s ease 0s;
  transition: transform 0.5s, opacity 0.5s ease 0s, -webkit-transform 0.5s;
}

.main__title-svg svg path:nth-child(5) {
  -webkit-transition: opacity 0.625s ease 0s, -webkit-transform 0.625s;
  transition: opacity 0.625s ease 0s, -webkit-transform 0.625s;
  transition: transform 0.625s, opacity 0.625s ease 0s;
  transition: transform 0.625s, opacity 0.625s ease 0s, -webkit-transform 0.625s;
}

.main__title-svg svg path:nth-child(6) {
  -webkit-transition: opacity 0.75s ease 0s, -webkit-transform 0.75s;
  transition: opacity 0.75s ease 0s, -webkit-transform 0.75s;
  transition: transform 0.75s, opacity 0.75s ease 0s;
  transition: transform 0.75s, opacity 0.75s ease 0s, -webkit-transform 0.75s;
}

.main__title-svg svg path:nth-child(7) {
  -webkit-transition: opacity 0.875s ease 0s, -webkit-transform 0.875s;
  transition: opacity 0.875s ease 0s, -webkit-transform 0.875s;
  transition: transform 0.875s, opacity 0.875s ease 0s;
  transition: transform 0.875s, opacity 0.875s ease 0s, -webkit-transform 0.875s;
}

.main__title-svg svg path:nth-child(8) {
  -webkit-transition: opacity 1s ease 0s, -webkit-transform 1s;
  transition: opacity 1s ease 0s, -webkit-transform 1s;
  transition: transform 1s, opacity 1s ease 0s;
  transition: transform 1s, opacity 1s ease 0s, -webkit-transform 1s;
}

.main__title-svg svg path:nth-child(9) {
  -webkit-transition: opacity 1.125s ease 0s, -webkit-transform 1.125s;
  transition: opacity 1.125s ease 0s, -webkit-transform 1.125s;
  transition: transform 1.125s, opacity 1.125s ease 0s;
  transition: transform 1.125s, opacity 1.125s ease 0s, -webkit-transform 1.125s;
}

.main__title-svg svg path:nth-child(10) {
  -webkit-transition: opacity 1.25s ease 0s, -webkit-transform 1.25s;
  transition: opacity 1.25s ease 0s, -webkit-transform 1.25s;
  transition: transform 1.25s, opacity 1.25s ease 0s;
  transition: transform 1.25s, opacity 1.25s ease 0s, -webkit-transform 1.25s;
}

.main__title-svg svg path:nth-child(11) {
  -webkit-transition: opacity 1.375s ease 0s, -webkit-transform 1.375s;
  transition: opacity 1.375s ease 0s, -webkit-transform 1.375s;
  transition: transform 1.375s, opacity 1.375s ease 0s;
  transition: transform 1.375s, opacity 1.375s ease 0s, -webkit-transform 1.375s;
}

.main__title-svg svg path:nth-child(12) {
  -webkit-transition: opacity 1.5s ease 0s, -webkit-transform 1.5s;
  transition: opacity 1.5s ease 0s, -webkit-transform 1.5s;
  transition: transform 1.5s, opacity 1.5s ease 0s;
  transition: transform 1.5s, opacity 1.5s ease 0s, -webkit-transform 1.5s;
}

.main__title-svg svg path:nth-child(13) {
  -webkit-transition: opacity 1.625s ease 0s, -webkit-transform 1.625s;
  transition: opacity 1.625s ease 0s, -webkit-transform 1.625s;
  transition: transform 1.625s, opacity 1.625s ease 0s;
  transition: transform 1.625s, opacity 1.625s ease 0s, -webkit-transform 1.625s;
}

.main__title-svg svg path:nth-child(14) {
  -webkit-transition: opacity 1.75s ease 0s, -webkit-transform 1.75s;
  transition: opacity 1.75s ease 0s, -webkit-transform 1.75s;
  transition: transform 1.75s, opacity 1.75s ease 0s;
  transition: transform 1.75s, opacity 1.75s ease 0s, -webkit-transform 1.75s;
}

.main__title-svg svg path:nth-child(15) {
  -webkit-transition: opacity 1.875s ease 0s, -webkit-transform 1.875s;
  transition: opacity 1.875s ease 0s, -webkit-transform 1.875s;
  transition: transform 1.875s, opacity 1.875s ease 0s;
  transition: transform 1.875s, opacity 1.875s ease 0s, -webkit-transform 1.875s;
}

.main__title-svg svg path:nth-child(16) {
  -webkit-transition: opacity 2s ease 0s, -webkit-transform 2s;
  transition: opacity 2s ease 0s, -webkit-transform 2s;
  transition: transform 2s, opacity 2s ease 0s;
  transition: transform 2s, opacity 2s ease 0s, -webkit-transform 2s;
}

.main__title-svg svg path:nth-child(17) {
  -webkit-transition: opacity 2.125s ease 0s, -webkit-transform 2.125s;
  transition: opacity 2.125s ease 0s, -webkit-transform 2.125s;
  transition: transform 2.125s, opacity 2.125s ease 0s;
  transition: transform 2.125s, opacity 2.125s ease 0s, -webkit-transform 2.125s;
}

.main__title-svg svg path:nth-child(18) {
  -webkit-transition: opacity 2.25s ease 0s, -webkit-transform 2.25s;
  transition: opacity 2.25s ease 0s, -webkit-transform 2.25s;
  transition: transform 2.25s, opacity 2.25s ease 0s;
  transition: transform 2.25s, opacity 2.25s ease 0s, -webkit-transform 2.25s;
}

.main__title-svg svg path:nth-child(19) {
  -webkit-transition: opacity 2.375s ease 0s, -webkit-transform 2.375s;
  transition: opacity 2.375s ease 0s, -webkit-transform 2.375s;
  transition: transform 2.375s, opacity 2.375s ease 0s;
  transition: transform 2.375s, opacity 2.375s ease 0s, -webkit-transform 2.375s;
}

.main__title-svg svg path:nth-child(20) {
  -webkit-transition: opacity 2.5s ease 0s, -webkit-transform 2.5s;
  transition: opacity 2.5s ease 0s, -webkit-transform 2.5s;
  transition: transform 2.5s, opacity 2.5s ease 0s;
  transition: transform 2.5s, opacity 2.5s ease 0s, -webkit-transform 2.5s;
}

@-webkit-keyframes ring {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes ring {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*about*/
.about {
  overflow: hidden;
}
@media (min-width: 767.98px) {
  .about__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 6em;
  }
}
.about__row {
  margin-bottom: 3em;
}
@media (min-width: 1435px) {
  .about__row:first-child {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}
@media (min-width: 767.98px) {
  .about__row {
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-columns: 1fr 1rem 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .about__row:first-child {
    direction: rtl;
    text-align: left;
  }
}
@media (min-width: 991.98px) {
  .about__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 6em;
  }
  .about__row:first-child {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    direction: ltr;
  }
}
@media (max-width: 767.98px) {
  .about__row {
    margin-bottom: 8em;
  }
}
.about__slider-block {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  overflow: hidden;
  border-radius: 50%;
  width: 56em;
  aspect-ratio: 1/1;
}
@media (max-width: 1435px) {
  .about__slider-block {
    width: 42em;
  }
}
@media (max-width: 991.98px) {
  .about__slider-block {
    width: 100%;
  }
}
@media (max-width: 767.98px) {
  .about__slider-block {
    margin-top: 3em;
  }
}
.about__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 56em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3em;
}
@media (max-width: 991.98px) {
  .about__content {
    width: 100%;
  }
}
.about__picture {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  overflow: hidden;
  border-radius: 4em;
  width: 56em;
  height: 100%;
  aspect-ratio: 9/16;
}
.about__picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1435px) {
  .about__picture {
    width: 56em;
  }
}
@media (max-width: 991.98px) {
  .about__picture {
    display: none;
  }
}
@media (min-width: 991.98px) {
  .about__text-block {
    max-width: 72em;
    display: -ms-grid;
    display: grid;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -ms-grid-columns: 1fr 1rem 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}
/*achievements*/
.achievements__container {
  position: relative;
}
.achievements__container::before {
  content: "";
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--black);
  opacity: 0.3;
  overflow: hidden;
  border-radius: 6em 6em 20em 20em;
}
@media (max-width: 767.98px) {
  .achievements__container::before {
    border-radius: 3em 3em 10em 10em;
  }
}
.achievements__container::after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--red);
  overflow: hidden;
  border-radius: 6em 6em 0 0;
}
@media (max-width: 767.98px) {
  .achievements__container::after {
    border-radius: 3em 3em 0 0;
  }
}
.achievements__bg {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  border-radius: 6em 6em 20em 20em;
}
.achievements__bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 767.98px) {
  .achievements__bg {
    border-radius: 3em 3em 10em 10em;
  }
}
.achievements__wrap {
  overflow: hidden;
  position: relative;
  z-index: 5;
  color: var(--white);
  padding-top: 6em;
  padding-bottom: 6em;
}
@media (min-width: 767.98px) {
  .achievements__wrap {
    padding-left: 4em;
    padding-right: 4em;
  }
}
.achievements__main {
  margin-top: 6em;
}
.achievements__row-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
}
.achievements__row-bottom {
  margin-top: 8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
}
@media (max-width: 767.98px) {
  .achievements__row-bottom {
    margin-top: 1rem;
  }
}
@media (max-width: 767.98px) {
  .achievements__row-top, .achievements__row-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1rem;
  }
}
.achievements__item {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 38em;
  height: 33em;
}

.item-achievements {
  opacity: 0;
  -webkit-transform: translate(1em, 1em);
          transform: translate(1em, 1em);
  border-radius: 2em;
  padding: 2em;
  background: rgba(255, 255, 255, 0.1019607843);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  -webkit-transition: opacity 1.3s ease 0s, -webkit-transform 1.3s ease 0s;
  transition: opacity 1.3s ease 0s, -webkit-transform 1.3s ease 0s;
  transition: opacity 1.3s ease 0s, transform 1.3s ease 0s;
  transition: opacity 1.3s ease 0s, transform 1.3s ease 0s, -webkit-transform 1.3s ease 0s;
}
.item-achievements.active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
.item-achievements__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: right;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3em;
}
.item-achievements__text {
  text-transform: uppercase;
  font-family: "Vetrino";
}

/*person*/
.person__container {
  padding-top: 12em;
  position: relative;
}
.person__container::before {
  content: "";
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 64em;
  top: 0;
  left: 0;
  background: var(--red);
  overflow: hidden;
  border-radius: 0 0 6em 6em;
}
@media (max-width: 767.98px) {
  .person__container::before {
    height: 72em;
    border-radius: 0 0 3em 3em;
  }
}
.person__wrap {
  overflow: hidden;
  position: relative;
  z-index: 5;
  color: var(--white);
  padding-top: 6em;
  padding-bottom: 6em;
}
@media (min-width: 767.98px) {
  .person__wrap {
    padding-left: 4em;
    padding-right: 4em;
  }
}
@media (min-width: 991.98px) {
  .person__header {
    margin: 0 auto;
    max-width: 81em;
  }
}
.person__title {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  text-align: start;
}
.person__content {
  margin-top: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 4em;
}
@media (max-width: 767.98px) {
  .person__content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1rem;
  }
}
.person__image {
  opacity: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  overflow: hidden;
  border-radius: 4em;
  width: 36em;
  aspect-ratio: 3/4;
  -webkit-transition: opacity 1.3s ease 0s;
  transition: opacity 1.3s ease 0s;
}
.person__image.active {
  opacity: 1;
}
.person__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 767.98px) {
  .person__image {
    width: 100%;
  }
}
.person__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  gap: 1rem;
}
@media (min-width: 767.98px) {
  .person__block {
    padding: 4em;
    max-width: 72em;
  }
}
.person__text-block {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
@media (max-width: 767.98px) {
  .person__text-block {
    color: var(--primary);
  }
}
.person__desc-block {
  color: var(--primary);
}
@media (min-width: 767.98px) {
  .person__desc-block {
    max-width: 42em;
  }
}
.person__info-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  margin-top: 8em;
  color: var(--primary);
}
@media (min-width: 767.98px) {
  .person__info-block {
    max-width: 72em;
  }
}
.person__picture {
  position: absolute;
  z-index: 5;
  bottom: 10em;
  right: -10em;
  overflow: hidden;
  border-radius: 4em;
  width: 56em;
  aspect-ratio: 1/1;
}
.person__picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 991.98px) {
  .person__picture {
    display: none;
  }
}

/*portfolio*/
.portfolio {
  overflow: hidden;
}
.portfolio.portfolio-red .portfolio__container {
  border-radius: 8em 8em 0 0;
  color: var(--white);
  background: var(--red);
}
@media (max-width: 767.98px) {
  .portfolio.portfolio-red .portfolio__container {
    border-radius: 4em 4em 0 0;
  }
}
.portfolio__wrap {
  padding-top: 6em;
  padding-bottom: 6em;
}
@media (min-width: 767.98px) {
  .portfolio__wrap {
    padding-left: 4em;
    padding-right: 4em;
  }
}
.portfolio__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  margin-bottom: 6em;
}
@media (min-width: 767.98px) {
  .portfolio__header {
    max-width: 60%;
  }
}
.portfolio__title {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  text-align: start;
}
@media (min-width: 479.98px) {
  .portfolio__items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 3em 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 3em;
  }
}
@media (max-width: 479.98px) {
  .item-portfolio {
    -webkit-transform: translate(0, 0) !important;
            transform: translate(0, 0) !important;
  }
  .item-portfolio:not(:last-child) {
    margin-bottom: 3em;
  }
}
.item-portfolio__images {
  display: block;
  width: inherit;
  aspect-ratio: 3/4;
  overflow: hidden;
  border-radius: 4em;
}
.item-portfolio__image {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  z-index: 2;
}
.item-portfolio__image img {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}
@media (any-hover: hover) {
  .item-portfolio__image:hover img {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
.item-portfolio__image_dn {
  display: none;
}
.item-portfolio__bottom-block {
  margin-top: 3em;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-grid-columns: 1fr 1rem 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
@media (max-width: 767.98px) {
  .item-portfolio__bottom-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.item-portfolio__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
}