@font-face {
    font-family: 'TT Drugs';
    src: url('TTDrugs-LightItalic.eot');
    src: local('TT Drugs Light Italic'), local('TTDrugs-LightItalic'),
        url('TTDrugs-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('TTDrugs-LightItalic.woff2') format('woff2'),
        url('TTDrugs-LightItalic.woff') format('woff'),
        url('TTDrugs-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'TT Drugs';
    src: url('TTDrugs-Regular.eot');
    src: local('TT Drugs Regular'), local('TTDrugs-Regular'),
        url('TTDrugs-Regular.eot?#iefix') format('embedded-opentype'),
        url('TTDrugs-Regular.woff2') format('woff2'),
        url('TTDrugs-Regular.woff') format('woff'),
        url('TTDrugs-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Drugs';
    src: url('TTDrugs-Thin.eot');
    src: local('TT Drugs Thin'), local('TTDrugs-Thin'),
        url('TTDrugs-Thin.eot?#iefix') format('embedded-opentype'),
        url('TTDrugs-Thin.woff2') format('woff2'),
        url('TTDrugs-Thin.woff') format('woff'),
        url('TTDrugs-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'TT Drugs';
    src: url('TTDrugs-ThinItalic.eot');
    src: local('TT Drugs Thin Italic'), local('TTDrugs-ThinItalic'),
        url('TTDrugs-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('TTDrugs-ThinItalic.woff2') format('woff2'),
        url('TTDrugs-ThinItalic.woff') format('woff'),
        url('TTDrugs-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'TT Drugs';
    src: url('TTDrugs-BlackItalic.eot');
    src: local('TT Drugs Black Italic'), local('TTDrugs-BlackItalic'),
        url('TTDrugs-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('TTDrugs-BlackItalic.woff2') format('woff2'),
        url('TTDrugs-BlackItalic.woff') format('woff'),
        url('TTDrugs-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'TT Drugs';
    src: url('TTDrugs-Bold.eot');
    src: local('TT Drugs Bold'), local('TTDrugs-Bold'),
        url('TTDrugs-Bold.eot?#iefix') format('embedded-opentype'),
        url('TTDrugs-Bold.woff2') format('woff2'),
        url('TTDrugs-Bold.woff') format('woff'),
        url('TTDrugs-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TT Drugs';
    src: url('TTDrugs-Italic.eot');
    src: local('TT Drugs Italic'), local('TTDrugs-Italic'),
        url('TTDrugs-Italic.eot?#iefix') format('embedded-opentype'),
        url('TTDrugs-Italic.woff2') format('woff2'),
        url('TTDrugs-Italic.woff') format('woff'),
        url('TTDrugs-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'TT Drugs';
    src: url('TTDrugs-Black.eot');
    src: local('TT Drugs Black'), local('TTDrugs-Black'),
        url('TTDrugs-Black.eot?#iefix') format('embedded-opentype'),
        url('TTDrugs-Black.woff2') format('woff2'),
        url('TTDrugs-Black.woff') format('woff'),
        url('TTDrugs-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'TT Drugs';
    src: url('TTDrugs-BoldItalic.eot');
    src: local('TT Drugs Bold Italic'), local('TTDrugs-BoldItalic'),
        url('TTDrugs-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('TTDrugs-BoldItalic.woff2') format('woff2'),
        url('TTDrugs-BoldItalic.woff') format('woff'),
        url('TTDrugs-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'TT Drugs';
    src: url('TTDrugs-Light.eot');
    src: local('TT Drugs Light'), local('TTDrugs-Light'),
        url('TTDrugs-Light.eot?#iefix') format('embedded-opentype'),
        url('TTDrugs-Light.woff2') format('woff2'),
        url('TTDrugs-Light.woff') format('woff'),
        url('TTDrugs-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

