@font-face {
	font-family: 'Sang Bleu';
	src: url('../sang_bleu.eot'); /* IE 9 Compatibility Mode */
	src: url('../sang_bleu.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../sang_bleu.woff2') format('woff2'), /* Super Modern Browsers */
		url('../sang_bleu.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../sang_bleu.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../sang_bleu.svg#sang_bleu') format('svg'); /* Chrome < 4, Legacy iOS */
}