@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap&subset=cyrillic-ext");
:root {
  --primary: #2e2e2e;
  --white: #fff;
  --black: #000;
  --light: #e1e1e1;
  --gray: #a2a2a2;
  --green: #99C825;
  --red: #F13636;
  --red-op: rgba(241,54,54,0.3);
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a {
  color: inherit;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  color: var(--primary);
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: "Montserrat", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
html {
  scroll-behavior: smooth;
}

body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
  scrollbar-gutter: stable;
}
body.lock {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}
@media (max-width: 1185px) {
  body {
    font-size: 9px;
  }
}
@media (max-width: 1279.98px) {
  body {
    font-size: 8.2px;
  }
}
@media (max-width: 991.98px) {
  body {
    font-size: 8px;
  }
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  max-width: 1185px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 15px;
}

/*Buttons*/
.button-main, .button-white {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  gap: 0.5rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0.75em 1em;
  text-transform: uppercase;
  font-size: 1.6em;
  line-height: 110%;
  color: var(--white);
  background: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 0.5em;
  -webkit-transition: color 0.3s, background 0.3s ease 0s;
  transition: color 0.3s, background 0.3s ease 0s;
}
.button-main svg path, .button-white svg path {
  -webkit-transition: fill 0.3s ease 0s;
  transition: fill 0.3s ease 0s;
}
@media (any-hover: hover) {
  .button-main:hover, .button-white:hover {
    color: var(--primary);
    background: var(--white);
  }
  .button-main:hover svg path, .button-white:hover svg path {
    fill: currentColor;
  }
}
.button-main:disabled, .button-white:disabled {
  pointer-events: none;
  opacity: 0.7;
}

.button-white {
  color: var(--primary);
  background: var(--white);
}
.button-white:hover {
  color: var(--white);
  background: var(--primary);
}

/*checkbox*/
.checkbox {
  position: relative;
}
.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}
.checkbox__input:checked + .checkbox__label:before {
  background: url("../img/icons/check.svg") center no-repeat, var(--primary);
}
.checkbox__label {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  gap: 1em;
  font-size: 1.4em;
}
.checkbox__label:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  border-radius: 0.325em;
  width: 1em;
  height: 1em;
  border: 1px solid var(--primary);
}

/*input*/
input[type=text], input[type=email], input[type=tel], textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  color: var(--black);
  background: transparent;
  width: 100%;
  display: block;
  padding: 0.5em 0;
  font-size: 1.8em;
  line-height: 120%;
}
.input::-webkit-input-placeholder {
  color: var(--primary);
}
.input::-moz-placeholder {
  color: var(--primary);
}
.input:-ms-input-placeholder {
  color: var(--primary);
}
.input::-ms-input-placeholder {
  color: var(--primary);
}
.input::placeholder {
  color: var(--primary);
}
textarea {
  resize: none;
}

.ui-datepicker {
  font-size: 1.6em;
}

.error-message {
  color: var(--red);
  font-size: 1.2em;
  line-height: 110%;
  margin-top: 0.5em;
  display: none;
}
.error-message.active {
  display: block;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}
.form__block-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
}
.form__toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
}
.form__block {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  min-width: 29em;
}
.form__block.active {
  z-index: 20;
}
.form__block.active .form__drop-body {
  opacity: 1;
  visibility: visible;
  min-height: 100%;
  height: auto;
}
.form__block.active .form__input-icon i {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.form__block .form__toggle {
  margin-top: 1em;
}
.form__input-block {
  border: 1px solid var(--light);
  border-radius: 1em;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
  -webkit-transition: border 0.3s ease 0s;
  transition: border 0.3s ease 0s;
}
.form__input-block:focus-within {
  border: 1px solid var(--primary);
}
.form__input-block.error {
  background: var(--red-op);
  border: 1px solid var(--red);
}
.form__input-block.disabled {
  opacity: 0.5;
}
@media (any-hover: hover) {
  .form__input-block:not(.disabled):hover {
    border: 1px solid var(--gray);
  }
}
.form__input-body {
  width: 100%;
}
.form__label {
  font-size: 1.4em;
  line-height: 110%;
}
.form__input-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
}
.form__input[disabled] {
  cursor: not-allowed;
}
.form__input-row {
  padding: 0.5em 0;
}
.form__chosen-text {
  font-size: 1.8em;
  line-height: 120%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0.5em;
}
.form__input-info {
  font-size: 2em;
  line-height: 100%;
  text-transform: uppercase;
}
.form__input-icon {
  position: relative;
  width: 1em;
  height: 1em;
}
.form__input-icon i {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  border-left: 2px solid var(--primary);
  border-top: 2px solid var(--primary);
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.form__checkboxes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1rem 1fr 1rem 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.form__checkbox, .form .drop-body__tabs-button {
  cursor: pointer;
  text-align: center;
  width: 100%;
  position: relative;
  border: 1px solid var(--light);
  border-radius: 1em;
  padding: 1em;
  -webkit-transition: border 0.3s ease 0s;
  transition: border 0.3s ease 0s;
}
.form__checkbox label, .form .drop-body__tabs-button label {
  font-size: 1.4em;
  line-height: 110%;
}
.form__checkbox input, .form .drop-body__tabs-button input {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
}
@media (any-hover: hover) {
  .form__checkbox:not(.active):hover, .form .drop-body__tabs-button:not(.active):hover {
    border: 1px solid var(--gray);
  }
}
.form__checkbox.active, .form__checkbox._tab-active, .form .drop-body__tabs-button.active, .form .drop-body__tabs-button._tab-active {
  border: 1px solid var(--gray);
  background: var(--gray);
}
.form__checkbox.active label, .form__checkbox._tab-active label, .form .drop-body__tabs-button.active label, .form .drop-body__tabs-button._tab-active label {
  color: var(--white);
}
.form__item-title {
  font-size: 1.8em;
  line-height: 110%;
}
.form__item-info {
  font-size: 1.4em;
  line-height: 110%;
}

/*search*/
.search-block {
  border: 1px solid var(--light);
  border-radius: 1em;
  padding: 0.5em 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
}
.search-block i {
  width: 3.2em;
  height: 3.2em;
}
.search-block i svg {
  width: 100%;
  height: 100%;
}
.search-block i svg path {
  fill: currentColor;
}

/*toggle*/
.toggle__button {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0.5rem;
}
.toggle__button span {
  display: block;
  position: relative;
  height: 2.5em;
  width: 5em;
  background: var(--light);
  border-radius: 1.5em;
}
.toggle__button span::before {
  content: "";
  position: absolute;
  width: 2.5em;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--gray);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border-radius: 1.5em;
}
.toggle__button.active span::before {
  left: auto;
  right: 0;
  background: var(--primary);
}
@media (any-hover: hover) {
  .toggle__button:hover span::before {
    background: var(--gray);
  }
}
.toggle__text {
  color: var(--gray);
  font-size: 1.4em;
  line-height: 110%;
  white-space: nowrap;
}
.toggle__icon {
  overflow: hidden;
  width: 1.5em;
  height: 1.5em;
}
.toggle__icon img, .toggle__icon svg {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

/*noUi slider*/
.noUi-target {
  width: 100%;
  min-width: 8em;
  height: 3px;
  border: none;
  border-radius: 0 !important;
  position: relative;
  background: var(--gray);
  overflow: visible;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.noUi-handle {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
  height: 1.25em !important;
  width: 1.25em !important;
  border-radius: 0% !important;
  top: 50% !important;
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
  pointer-events: auto;
  background: transparent;
  border: 0.5em solid var(--primary);
  -webkit-transition: background 0.3s ease 0s;
  transition: background 0.3s ease 0s;
}
@media (any-hover: hover) {
  .noUi-handle:hover {
    background: var(--primary);
  }
}
.noUi-handle::before, .noUi-handle::after {
  display: none;
}

.noUi-connect {
  height: 100%;
  background: var(--primary);
}

.ui-slider__body {
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 2em;
}
.ui-slider__input-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0.1rem;
}
.ui-slider__input-body span {
  font-size: 1.4em;
}
.ui-slider__input {
  text-align: center;
  max-width: 6.5em;
  font-size: 1.6em;
  line-height: 110%;
  background: transparent;
  -moz-appearance: textfield;
}
.ui-slider__input::-webkit-outer-spin-button, .ui-slider__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*counter block*/
.counter-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1em;
}
.counter-block__button, .counter-block__button, .counter-block__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.counter-block__button, .counter-block__button {
  width: 2em;
  height: 2em;
  background: var(--light);
  font-size: 1.6em;
  line-height: 100%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.counter-block__button[disabled], .counter-block__button[disabled] {
  opacity: 0.5;
}
@media (any-hover: hover) {
  .counter-block__button:not([disabled]):hover, .counter-block__button:not([disabled]):hover {
    cursor: pointer;
    color: var(--white);
    background: var(--primary);
  }
}
.counter-block__text {
  width: 1em;
  height: 1em;
  font-size: 2em;
  line-height: 100%;
}

/*drop body & select*/
.drop-body, .select {
  position: absolute;
  overflow: hidden;
  min-width: 100%;
  top: 100%;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: var(--white);
  border: 1px solid var(--light);
  border-radius: 1em;
  -webkit-box-shadow: 0px 2em 2em 0px rgba(0, 0, 0, 0.0509803922);
          box-shadow: 0px 2em 2em 0px rgba(0, 0, 0, 0.0509803922);
}

.drop-body {
  padding: 1em;
}
.drop-body__title {
  font-size: 1.8em;
  line-height: 110%;
}
.drop-body__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}
.drop-body__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
}
.drop-body__tabs {
  font-size: 1.4em;
  line-height: 110%;
}
.drop-body__tabs-navigation {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1rem 1fr 1rem 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.select__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.select__item {
  padding: 0.5em;
  -webkit-transition: background 0.3s ease 0s;
  transition: background 0.3s ease 0s;
}
.select__item.active {
  color: var(--white);
  background: var(--primary);
}
@media (any-hover: hover) {
  .select__item:not(.active):hover {
    background: var(--light);
  }
}

.spollers__item:not(:last-child) {
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid var(--light);
}
.spollers__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
}
.spollers__button.spoller-active button::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.spollers__button button {
  position: relative;
  border-radius: 0.5em;
  width: 1.6em;
  height: 1.6em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  background: var(--light);
}
.spollers__button button::before {
  content: "";
  width: 0.5em;
  height: 0.5em;
  border-left: 2px solid var(--primary);
  border-top: 2px solid var(--primary);
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.spollers__list {
  padding-left: 1em;
}
.spollers__list li:not(:last-child) {
  margin-bottom: 0.5em;
}

.time-range-modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.time-range-modal {
  background: var(--white);
  padding: 2em;
  border-radius: 2em;
  width: 100%;
  max-width: 36em;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}
.time-range-modal__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}
.time-range-modal__title {
  font-size: 2.4em;
  line-height: 120%;
}
.time-range-modal__subtitle {
  margin-bottom: 0.5em;
  font-size: 1.2em;
  line-height: 120%;
}
.time-range-modal__subtitle span {
  color: var(--gray);
}
.time-range-modal__inputs, .time-range-modal__buttons {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1rem 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.time-range-modal__inputs {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
.time-range-modal__button {
  width: 100%;
}

.time-wheel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 108px;
  background: var(--light);
  border-radius: 1em;
  position: relative;
  padding: 0 2em;
}
.time-wheel [data-value] {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 36px;
  font-size: 1.4em;
  line-height: 100%;
  padding: 8px 0;
}
.time-wheel__hours, .time-wheel__minutes {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
  position: relative;
  height: 108px;
}
.time-wheel__line {
  color: var(--gray);
  font-size: 2em;
  margin: 0 0.5em;
}
.time-wheel__mask {
  position: absolute;
  z-index: 2;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 36px;
  border-top: 1px solid var(--gray);
  border-bottom: 1px solid var(--gray);
  pointer-events: none;
}

.page__main {
  margin: 2em 0;
}

.main__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.info-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  width: 100%;
}
.info-column:not(:last-child) {
  padding-bottom: 2em;
  margin-bottom: 1em;
  border-bottom: 1px solid var(--light);
}

.info-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
}

.info-title {
  font-size: 2.4em;
  line-height: 120%;
}

.info-text {
  font-size: 1.6em;
  line-height: 120%;
}