@charset "UTF-8";
:root {
  --primary: #3F3F3F;
  --gray: rgba(63,63,63,0.8);
  --black: #000;
  --white: #fff;
  --light: #FAFAFA;
  --orange: #F97B1B;
  --orange-gr: linear-gradient(180deg, #FFEF26 -596.02%, #FFE000 -544.53%, #FFD300 -483.27%, #FECB00 -420.19%, #FDC800 -352.96%, #F18F34 -17.58%, #E95F32 172%, #E3312D 269.26%);
  --green: #B3C997;
  --red: #F13636;
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a, button {
  color: inherit;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-size: 10px;
  font-family: "Onest", sans-serif;
  color: var(--primary);
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: "Onest", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
html {
  scroll-behavior: smooth;
}

body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
  scrollbar-gutter: stable;
  background: var(--light);
}
body.lock {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}
@media (max-width: 1415px) {
  body {
    font-size: 9px;
  }
}
@media (max-width: 1279.98px) {
  body {
    font-size: 8.2px;
  }
}
@media (max-width: 991.98px) {
  body {
    font-size: 8px;
  }
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  max-width: 1415px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 15px;
}

/*links*/
.link {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  left: 0;
  background: currentColor;
  -webkit-transition: width 0.3s ease 0s;
  transition: width 0.3s ease 0s;
}
@media (any-hover: hover) {
  .link:hover::before {
    width: 100%;
  }
}

/*title text*/
.title, .title-main, .title-m {
  font-family: "UNCAGE", sans-serif;
  text-transform: uppercase;
  font-size: 3.6em;
  line-height: 100%;
}

.title-main {
  font-size: 4em;
}

.title-m {
  font-size: 2.4em;
}

.text, .text-xl, .text-l, .text-s, .text-m {
  font-weight: 300;
  font-size: 1.4em;
  line-height: 120%;
}

.text-xl {
  font-size: 2em;
}

.text-l {
  font-size: 2em;
}

.text-m {
  font-size: 1.8em;
}

.text-s {
  font-size: 1.6em;
}

/*social*/
.social__link {
  border-radius: 50%;
  width: 4em;
  height: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid var(--primary);
  -webkit-transition: background 0.3s ease 0s;
  transition: background 0.3s ease 0s;
}
.social__link svg {
  width: 1.4em;
  height: 1.4em;
}
.social__link svg path {
  fill: var(--primary);
}
@media (any-hover: hover) {
  .social__link:hover {
    background: var(--primary);
  }
  .social__link:hover svg path {
    fill: var(--white);
  }
}

/*slider buttons*/
.slider-controls__pagination .swiper-pagination-bullet {
  opacity: 1;
  width: 1.5em;
  height: 1.5em;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid var(--white);
  border-radius: 50%;
  -webkit-transition: background 0.3s ease 0s;
  transition: background 0.3s ease 0s;
}
.slider-controls__pagination .swiper-pagination-bullet-active {
  background: var(--white);
}
.slider-controls__prev, .slider-controls__next {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  cursor: pointer;
  position: relative;
  border-radius: 50%;
  width: 6.6em;
  height: 6.6em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.slider-controls__prev.swiper-button-disabled, .slider-controls__next.swiper-button-disabled {
  opacity: 0.4;
}
@media (any-hover: hover) {
  .slider-controls__prev:not(.swiper-button-disabled):hover, .slider-controls__next:not(.swiper-button-disabled):hover {
    background: var(--gray);
  }
}
.slider-controls__prev svg, .slider-controls__next svg {
  width: 2em;
  height: 2em;
}
@media (max-width: 767.98px) {
  .slider-controls__prev, .slider-controls__next {
    width: 4em;
    height: 4em;
  }
}
.slider-controls__prev {
  background: transparent;
  border: 1px solid var(--white);
  z-index: 1;
}
.slider-controls__next {
  background: var(--white);
  border: 1px solid var(--white);
  z-index: 2;
}
.slider-controls__next svg path {
  stroke: var(--primary);
}

.scrollbar {
  height: 2px;
  background: var(--white);
}
.scrollbar .swiper-scrollbar-drag {
  cursor: pointer;
  height: 2.6em;
  border-radius: 1em;
  background: var(--light-lila);
  border: 2px solid var(--lila);
  top: calc(50% - 1.3em);
  position: relative;
  -webkit-transition: background 0.3s ease 0s;
  transition: background 0.3s ease 0s;
}
.scrollbar .swiper-scrollbar-drag::before {
  content: "";
  position: absolute;
  width: 1em;
  height: 1em;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: var(--lila);
}
@media (any-hover: hover) {
  .scrollbar .swiper-scrollbar-drag:hover {
    background: var(--light);
  }
}

/*Buttons*/
.button-orange, .button-white, .button-white-tr, .button-gray-tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  gap: 0.5rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0.75em 1em;
  font-size: 1.6em;
  line-height: 110%;
  color: var(--white);
  background: var(--orange);
  border: 1px solid var(--orange);
  border-radius: 3em;
  -webkit-transition: color 0.3s ease 0s, background 0.3s ease 0s;
  transition: color 0.3s ease 0s, background 0.3s ease 0s;
}
.button-orange svg path, .button-white svg path, .button-white-tr svg path, .button-gray-tr svg path {
  -webkit-transition: stroke 0.3s ease 0s;
  transition: stroke 0.3s ease 0s;
  stroke: currentColor;
}
@media (any-hover: hover) {
  .button-orange:hover, .button-white:hover, .button-white-tr:hover, .button-gray-tr:hover {
    color: var(--primary);
    background: var(--white);
  }
}
.button-orange:disabled, .button-white:disabled, .button-white-tr:disabled, .button-gray-tr:disabled {
  pointer-events: none;
  opacity: 0.7;
}

.button-white {
  color: var(--primary);
  background: var(--white);
  border: 1px solid var(--white);
}
@media (any-hover: hover) {
  .button-white:hover {
    color: var(--white);
    background: var(--primary);
  }
}

.button-white-tr, .button-gray-tr {
  color: var(--white);
  background: transparent;
  border: 1px solid var(--white);
}
@media (any-hover: hover) {
  .button-white-tr:hover, .button-gray-tr:hover {
    color: var(--primary);
    background: var(--white);
  }
}

.button-gray-tr {
  color: var(--primary);
  border: 1px solid var(--primary);
}
@media (any-hover: hover) {
  .button-gray-tr:hover {
    color: var(--white);
    background: var(--primary);
  }
}

/*checkbox*/
.checkbox {
  position: relative;
}
.checkbox:not(:last-child) {
  margin-bottom: 5px;
}
.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}
.checkbox__input:focus + .checkbox__label:before {
  -webkit-box-shadow: 0 0 5px var(--black);
          box-shadow: 0 0 5px var(--black);
}
.checkbox__input:checked + .checkbox__label:before {
  background: url("../img/icons/check.svg") center no-repeat, transparent;
}
.checkbox__label {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  gap: 1rem;
  font-size: 1.2em;
}
.checkbox__label:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  border-radius: 0.325em;
  width: 2em;
  height: 2em;
  border: 1px solid var(--white);
}
.checkbox__label a {
  text-decoration: underline;
  -webkit-transition: -webkit-text-decoration 0.3s ease 0s;
  transition: -webkit-text-decoration 0.3s ease 0s;
  transition: text-decoration 0.3s ease 0s;
  transition: text-decoration 0.3s ease 0s, -webkit-text-decoration 0.3s ease 0s;
}
@media (any-hover: hover) {
  .checkbox__label a:hover {
    text-decoration: none;
  }
}

/*input*/
input[type=text], input[type=email], input[type=tel], textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  text-align: center;
  color: var(--primary);
  border: 1px solid var(--blue);
  border-radius: 2em;
  width: 100%;
  display: block;
  padding: 0.75em 1.5em;
  font-size: 2.4em;
  line-height: 120%;
}
.input::-webkit-input-placeholder {
  color: var(--blue);
}
.input::-moz-placeholder {
  color: var(--blue);
}
.input:-ms-input-placeholder {
  color: var(--blue);
}
.input::-ms-input-placeholder {
  color: var(--blue);
}
.input::placeholder {
  color: var(--blue);
}
.input:focus {
  border: 1px solid var(--primary);
}
.input.err {
  border: 1px solid red;
}

textarea.input {
  resize: none;
}

/*popup*/
.popup {
  z-index: 20;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.popup.open {
  opacity: 1;
  visibility: visible;
}
.popup__content {
  position: relative;
  padding: 4em;
  background: var(--white);
}
.popup__header {
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
}
.popup__close {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  font-size: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 5.75em;
  height: 5.75em;
  border-radius: 50%;
  border: 1px solid var(--black);
  -webkit-transition: background 0.3s ease 0s;
  transition: background 0.3s ease 0s;
}
@media (any-hover: hover) {
  .popup__close:hover {
    background: var(--white);
  }
}
.popup__close span {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}
.popup__close span::before, .popup__close span::after {
  content: "";
  position: absolute;
  width: 2.5em;
  height: 2px;
  top: 50%;
  left: 50%;
  -webkit-transition: -webkit-transform 0.9s ease 0s;
  transition: -webkit-transform 0.9s ease 0s;
  transition: transform 0.9s ease 0s;
  transition: transform 0.9s ease 0s, -webkit-transform 0.9s ease 0s;
  background: #000;
}
.popup__close span::before {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}
.popup__close span::after {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
@media (any-hover: hover) {
  .popup__close span:hover::before {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg);
  }
  .popup__close span:hover::after {
    -webkit-transform: translate(-50%, -50%) rotate(135deg);
            transform: translate(-50%, -50%) rotate(135deg);
  }
}
.popup__form {
  position: relative;
  z-index: 5;
}
@media (max-width: 991.98px) {
  .popup__form {
    width: 50%;
  }
}
@media (max-width: 767.98px) {
  .popup__form {
    width: 100%;
  }
}
.popup__input-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}
.popup__input-block:not(:last-child) {
  margin-bottom: 2em;
}
/*header*/
.header {
  position: fixed;
  z-index: 20;
  width: 100%;
  padding: 1em 0;
  left: 0;
  background: var(--light);
}
@media (max-width: 991.98px) {
  .header::before {
    content: "";
    position: absolute;
    z-index: 7;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--white);
  }
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
}
.header__logo {
  display: block;
  position: relative;
  z-index: 10;
  width: 16.4em;
  height: 3.7em;
}
.header__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.header__body {
  overflow-y: clip;
  overflow-x: auto;
  width: 100%;
}
@media (max-width: 991.98px) {
  .header__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1rem;
    -webkit-transform: translate(0, -100%);
            transform: translate(0, -100%);
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: auto;
    padding: 12em 1em 3em 1em;
    background: var(--white);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__body.active {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1em;
}
@media (max-width: 991.98px) {
  .header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.header__link, .header__link-phone {
  white-space: nowrap;
  font-size: 1.6em;
  line-height: 120%;
}
.header__link-phone {
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}
@media (any-hover: hover) {
  .header__link-phone:hover {
    opacity: 0.5;
  }
}
.header__block {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
}
@media (max-width: 991.98px) {
  .header__block {
    margin-left: auto;
  }
}
.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
}
.header__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
}
@media (max-width: 767.98px) {
  .header__social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*burger*/
.icon-menu {
  display: none;
}
@media (max-width: 991.98px) {
  .icon-menu {
    display: block;
    background-color: transparent;
    position: relative;
    width: 40px;
    height: 22.5px;
    cursor: pointer;
    z-index: 10;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background: var(--orange);
  }
  .icon-menu::before {
    top: 0px;
  }
  .icon-menu::after {
    bottom: 0px;
  }
  .icon-menu span {
    top: calc(50% - 1px);
  }
  .icon-menu.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .icon-menu.active::before {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .icon-menu.active::after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

/*footer*/
.footer {
  margin-top: 4em;
  overflow: hidden;
}
.footer__logo {
  margin: 0 auto;
  margin-bottom: 5em;
  overflow: hidden;
  width: 13em;
  height: 13.7em;
}
.footer__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.footer__container {
  position: relative;
  padding-top: 2em;
  padding-bottom: 3em;
}
.footer__container::before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 100%;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: var(--white);
}
.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}
@media (max-width: 767.98px) {
  .footer__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
.footer__row {
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
}
@media (max-width: 767.98px) {
  .footer__row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
}
.footer__text {
  font-weight: 500;
  font-size: 1.2em;
  line-height: 120%;
}
.footer__text a {
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}
@media (any-hover: hover) {
  .footer__text a:hover {
    opacity: 0.5;
  }
}
.footer__bottom {
  position: relative;
  z-index: 5;
  margin-top: 4em;
}
.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}
.footer__link span {
  font-weight: 500;
  font-size: 1.2em;
  line-height: 120%;
}
@media (any-hover: hover) {
  .footer__link:hover {
    opacity: 0.5;
  }
}
.footer__dev {
  display: block;
  overflow: hidden;
  width: 11em;
  height: 2em;
}
.footer__dev img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.page__main {
  margin-top: 8em;
}
.page__appartments {
  margin-top: 8em;
}
.page__information {
  margin-top: 8em;
}
.page__about {
  margin-top: 8em;
}
.page__food {
  margin-top: 8em;
}
.page__questions {
  margin-top: 8em;
}
.page__contacts {
  margin-top: 8em;
}

/*home*/
@media (min-width: 991.98px) {
  .main__wrap {
    display: -ms-grid;
    display: grid;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-grid-columns: 3fr 1rem 1fr;
    grid-template-columns: 3fr 1fr;
    gap: 1rem;
  }
}
.main__content {
  overflow: hidden;
  position: relative;
  border-radius: 4em;
  padding: 8em 3em 6em 3em;
  color: var(--white);
  background: var(--orange-gr);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
}
@media (max-width: 767.98px) {
  .main__content {
    padding: 4em 2em 3em;
  }
}
.main__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}
@media (min-width: 767.98px) {
  .main__text-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 1rem;
  }
}
@media (max-width: 767.98px) {
  .main__text br {
    display: none;
  }
}
.main__button {
  background: rgba(255, 255, 255, 0.0509803922);
  -webkit-backdrop-filter: blur(2em);
          backdrop-filter: blur(2em);
}
@media (max-width: 767.98px) {
  .main__button {
    margin-top: 1em;
  }
}
.main__items {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-grid-columns: 15em 1rem 15em 1rem 15em;
  grid-template-columns: repeat(3, 15em);
  gap: 1rem;
}
@media (max-width: 767.98px) {
  .main__items {
    -ms-grid-columns: (12em)[2];
    grid-template-columns: repeat(2, 12em);
  }
}
.main__items .item-about__body {
  background: rgba(255, 255, 255, 0.0509803922);
  border: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(2em);
          backdrop-filter: blur(2em);
}
.main__image {
  overflow: hidden;
  width: 24em;
  height: 36em;
}
.main__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: bottom;
     object-position: bottom;
}
@media (max-width: 767.98px) {
  .main__image {
    position: absolute;
    bottom: 3em;
    right: -3em;
  }
}
.banner-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}
@media (max-width: 991.98px) {
  .banner-main {
    margin-top: 3em;
  }
}
.banner-main__body {
  overflow: hidden;
  position: relative;
  border-radius: 4em;
  padding: 6em 3em;
  color: var(--white);
  background: var(--orange-gr);
  height: 100%;
}
@media (max-width: 767.98px) {
  .banner-main__body {
    padding: 2em;
    border-radius: 3em;
  }
}
.banner-main__header {
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
}
.banner-main__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
}
.banner-main__decore {
  position: absolute;
  overflow: hidden;
  width: 150%;
  height: auto;
  bottom: 0;
  left: -25%;
}
.banner-main__decore img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

/*appartments*/
.appartments__wrap {
  margin-top: 3em;
}
.appartments__items {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-grid-columns: 1fr 1rem 1fr 1rem 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
@media (max-width: 991.98px) {
  .appartments__items {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767.98px) {
  .appartments__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.item-appartments.orange .item-appartments__body {
  color: var(--white);
  background: var(--orange-gr);
}
.item-appartments.orange .item-appartments__label {
  background: transparent;
  border: 1px solid var(--white);
}
.item-appartments.orange .item-appartments__label svg path, .item-appartments.orange .item-appartments__label svg circle {
  stroke: var(--white);
}
.item-appartments__body {
  overflow: hidden;
  position: relative;
  padding: 4em 3em;
  border-radius: 4em;
  background: var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}
.item-appartments__decore {
  overflow: hidden;
  position: absolute;
  width: 150%;
  height: auto;
  top: 50%;
  left: -25%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.item-appartments__decore img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.item-appartments__header {
  position: relative;
  z-index: 5;
}
.item-appartments__content {
  position: relative;
  z-index: 5;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.item-appartments__labels {
  margin-top: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
}
.item-appartments__label {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
  padding: 1em 2em;
  background: var(--light);
  border-radius: 5em;
}
.item-appartments__label svg {
  width: 2.4em;
  height: 2.4em;
}
.item-appartments__label svg path, .item-appartments__label svg circle {
  stroke: var(--orange);
}
.item-appartments__label span {
  font-size: 1.4em;
  line-height: 100%;
}
.item-appartments__buttons {
  margin-top: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
}
.item-appartments__slider {
  max-width: 40em;
  border-radius: 4em;
  margin-top: 3em;
  position: relative;
  z-index: 5;
}

.slider-item-appartments__image {
  overflow: hidden;
  width: 100%;
  aspect-ratio: 1/1;
}
.slider-item-appartments__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.slider-item-appartments__pagination {
  position: absolute;
  z-index: 10;
  width: -webkit-max-content !important;
  width: -moz-max-content !important;
  width: max-content !important;
  bottom: 2em !important;
  left: 50% !important;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

/*information*/
@media (max-width: 767.98px) {
  .information__container {
    padding: 0;
  }
}
@media (min-width: 767.98px) {
  .information__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 1rem;
  }
}
.information__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
  overflow-x: auto;
}
@media (max-width: 767.98px) {
  .information__items {
    padding-bottom: 2em;
    margin: 3em 1rem 0 1rem;
  }
}
.information__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  padding: 4em 2em;
  border-radius: 4em;
  background: var(--white);
}
@media (min-width: 767.98px) {
  .information__content {
    width: 25%;
  }
}
@media (max-width: 767.98px) {
  .information__content {
    margin: 0 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 1rem;
    border-radius: 2em;
    padding: 2em;
  }
}
.information__text-block {
  position: relative;
  z-index: 5;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
  margin-bottom: 5em;
}
@media (max-width: 767.98px) {
  .information__text-block {
    margin-bottom: 3em;
    margin-right: 20em;
  }
}
@media (max-width: 479.98px) {
  .information__text-block {
    margin-right: 14em;
  }
}
.information__title span {
  color: var(--orange);
}
@media (max-width: 767.98px) {
  .information__title {
    font-size: 2.2em;
  }
}
.information__decore {
  position: absolute;
  overflow: hidden;
  width: 175%;
  height: auto;
  top: 45%;
  left: -25%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.information__decore img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 767.98px) {
  .information__decore {
    display: none;
  }
}
.information__image {
  position: relative;
  z-index: 5;
  overflow: hidden;
  width: 100%;
  height: auto;
}
.information__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 767.98px) {
  .information__image {
    position: absolute;
    width: 23em;
    height: 26em;
    top: 2em;
    right: -3em;
  }
}
@media (max-width: 479.98px) {
  .information__image {
    right: -10em;
  }
}

.item-information {
  width: 33%;
}
@media (max-width: 991.98px) {
  .item-information {
    width: 36em;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
}
.item-information__body {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding: 4em;
  border-radius: 4em;
  background: var(--white);
}
@media (max-width: 767.98px) {
  .item-information__body {
    border-radius: 2em;
    padding: 2em;
  }
}
.item-information__title {
  text-transform: unset;
  font-family: "Onest", sans-serif;
}
.item-information__labels {
  margin-top: 3em;
}
.item-information__label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
  padding-bottom: 1.5em;
}
.item-information__label:not(:last-child) {
  margin-bottom: 1.5em;
}
.item-information__label:not(:last-child)::before {
  content: "";
  position: absolute;
  width: 40%;
  height: 1px;
  bottom: 0;
  left: 0;
  background: var(--orange-gr);
}
.item-information__label span {
  font-size: 1.4em;
  line-height: 110%;
}
.item-information__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  overflow: hidden;
  width: 2.4em;
  height: 2.4em;
}
.item-information__icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.item-information__text {
  margin-top: 1em;
}

/*about*/
.about__wrap {
  margin-top: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
}
@media (max-width: 767.98px) {
  .about__wrap {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  width: 100%;
  height: 100%;
}
.about__text-block {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  max-width: 55em;
}
.about__text span {
  font-weight: 500;
}
.about__items {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-grid-columns: 15em 1rem 15em 1rem 15em;
  grid-template-columns: repeat(3, 15em);
  gap: 1rem;
}
@media (max-width: 767.98px) {
  .about__items {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }
}
.about__image {
  overflow: hidden;
  border-radius: 4em;
  width: 100%;
  max-width: 79em;
  height: 100%;
  max-height: 50em;
}
.about__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.item-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}
.item-about__body {
  height: 100%;
  border-radius: 2em;
  padding: 3em 1em 5em 1em;
  color: var(--white);
  background: var(--orange-gr);
}
.item-about__header {
  position: relative;
  padding-bottom: 2em;
}
.item-about__header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 1em;
  left: 0;
  opacity: 0.1;
  background: var(--white);
}
.item-about__icon {
  width: 3.4em;
  height: 3.4em;
}
.item-about__icon svg {
  width: 100%;
  height: 100%;
}
.item-about__title {
  font-weight: 400;
}
@media (max-width: 767.98px) {
  .item-about__title {
    font-size: 1.6em;
  }
}
/*about*/
/*food*/
.food__wrap {
  margin-top: 3em;
}
@media (min-width: 767.98px) {
  .food__wrap {
    display: -ms-grid;
    display: grid;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-grid-columns: 2fr 1rem 3fr;
    grid-template-columns: 2fr 3fr;
    gap: 1rem;
  }
}
.food__content {
  background: var(--white);
  border-radius: 4em;
  padding: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  width: 100%;
  height: 100%;
}
.food__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.food__text span {
  font-weight: 500;
}
.food__image {
  overflow: hidden;
  border-radius: 4em;
  width: 100%;
  height: 30em;
}
.food__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 479.98px) {
  .food__image {
    height: 22em;
  }
}
.food__items {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-grid-columns: 1fr 1rem 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.item-food__body {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 4em;
}
.item-food__body::before {
  content: "";
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#F97B1B), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(180deg, #F97B1B 0%, rgba(0, 0, 0, 0) 100%);
}
.item-food__image {
  overflow: hidden;
  width: inherit;
  height: inherit;
}
.item-food__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 767.98px) {
  .item-food__image {
    position: absolute;
    top: 0;
    left: 0;
  }
}
@media (max-width: 479.98px) {
  .item-food__image {
    max-height: 32em;
  }
}
.item-food__text-block {
  position: absolute;
  z-index: 5;
  width: 60%;
  top: 3em;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}
.item-food__title {
  font-family: "Onest", sans-serif;
  text-transform: lowercase;
  white-space: nowrap;
}
@media (max-width: 479.98px) {
  .item-food__title {
    font-size: 2em;
  }
}
.item-food__text {
  position: relative;
}
.item-food__text::before {
  content: "";
  position: absolute;
  width: 70%;
  height: 1px;
  top: -0.5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: var(--white);
}
@media (max-width: 479.98px) {
  .item-food__text {
    font-size: 1em;
  }
}
.item-food__button {
  position: absolute;
  z-index: 5;
  bottom: 2em;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

/*home*/
/*questions*/
.questions__wrap {
  margin-top: 3em;
}
@media (min-width: 991.98px) {
  .questions__wrap {
    display: -ms-grid;
    display: grid;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -ms-grid-columns: 1fr 1rem 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}
.questions__spoller:not(:last-child) {
  margin-bottom: 1em;
}
@media (min-width: 767.98px) {
  .spoller-questions {
    padding: 1.5em 1.5em 1.5em 3em;
    border-radius: 4em;
    background: var(--white);
  }
}
.spoller-questions__button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
}
.spoller-questions__button span {
  text-align: left;
  font-weight: 300;
  font-size: 1.8em;
  line-height: 100%;
  color: var(--gray);
}
.spoller-questions__button i {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  position: relative;
  width: 4em;
  height: 4em;
  border-radius: 50%;
  border: 1px solid var(--primary);
  -webkit-transition: border 0.3s ease 0s, background 0.3s ease 0s;
  transition: border 0.3s ease 0s, background 0.3s ease 0s;
}
.spoller-questions__button i::before, .spoller-questions__button i::after {
  content: "";
  position: absolute;
  width: 35%;
  height: 1px;
  top: 50%;
  left: 50%;
  background: var(--primary);
  -webkit-transition: background 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  transition: background 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  transition: background 0.3s ease 0s, transform 0.3s ease 0s;
  transition: background 0.3s ease 0s, transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}
.spoller-questions__button i::before {
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
}
.spoller-questions__button i::after {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.spoller-questions__button.spoller-active i {
  border: 1px solid var(--orange);
}
.spoller-questions__button.spoller-active i::before, .spoller-questions__button.spoller-active i::after {
  background: var(--orange);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media (any-hover: hover) {
  .spoller-questions__button:not(.spoller-active):hover i {
    background: var(--light);
    border: 1px solid var(--gray);
  }
  .spoller-questions__button:not(.spoller-active):hover i::before, .spoller-questions__button:not(.spoller-active):hover i::after {
    background: var(--gray);
  }
}
@media (max-width: 767.98px) {
  .spoller-questions__button {
    padding: 1em;
    border-radius: 2em;
    background: var(--white);
  }
  .spoller-questions__button span {
    font-size: 1.4em;
  }
  .spoller-questions__button i {
    width: 2em;
    height: 2em;
  }
}
.spoller-questions__content {
  margin-top: 2em;
  padding-right: 5em;
  padding-bottom: 2em;
}
@media (max-width: 767.98px) {
  .spoller-questions__content {
    padding: 2em;
    border-radius: 2em;
    background: var(--white);
    border: 1px solid var(--orange);
  }
}
.spoller-questions__text {
  font-weight: 300;
  color: var(--gray);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

@media (max-width: 991.98px) {
  .banner-questions {
    margin-top: 3em;
  }
}
.banner-questions__body {
  overflow: hidden;
  position: relative;
  border-radius: 2em;
  padding: 6em 3em;
  background: var(--orange-gr);
}
@media (max-width: 767.98px) {
  .banner-questions__body {
    padding: 2em;
    border-radius: 3em;
  }
}
.banner-questions__row {
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
}
.banner-questions__row:not(:last-child) {
  margin-bottom: 1em;
}
.banner-questions__text {
  color: rgba(255, 255, 255, 0.7);
}
.banner-questions__text span {
  color: var(--white);
  font-weight: 500;
}
@media (max-width: 479.98px) {
  .banner-questions__text {
    font-size: 2.4em;
  }
}
.banner-questions__decore {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 25%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.banner-questions__decore img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

/*contacts*/
.contacts__wrap {
  margin-top: 3em;
}
@media (min-width: 767.98px) {
  .contacts__wrap {
    display: -ms-grid;
    display: grid;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-grid-columns: 1fr 1rem 2fr;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
  }
}
.contacts__content {
  background: var(--white);
  border-radius: 4em;
  padding: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
}
.contacts__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5em;
}
.contacts__item:not(:last-child) {
  margin-bottom: 1em;
}
.contacts__text {
  font-weight: 500;
}
.contacts__text a {
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}
@media (any-hover: hover) {
  .contacts__text a:hover {
    opacity: 0.5;
  }
}
.contacts__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
}
.contacts__map {
  overflow: hidden;
  border-radius: 4em;
  width: 100%;
  min-height: 40em;
}
@media (max-width: 767.98px) {
  .contacts__map {
    margin-top: 3em;
    height: 36em;
  }
}